ol {
	list-style: decimal inside;
}

ul {
	list-style: circle inside;
}

.p-area p:first-child {
	margin-top: 0;
}

.p-area p:last-child {
	margin-bottom: 0;
}

._marker {
	font-weight: bold;
	color: var(--blue);
	display: inline-block;
	width: 1.2em;
	text-align: right;
}

.float {
    float: right;
    margin: 0 2em 2em 0;
}