<div class="layout-about">
	<p-layout-divided>
		<template #main>
			<p-block :level="1" anchor="Programy do voleb" headline="O projektu">
				<p class="lead">Cílem Programů do voleb je usnadnit každému, kdo se zajímá o volby, kandidáty a volební programy, aby
					je našel přehledně a na jednom místě. Zejména v době informační přehlcenosti a sociálních sítí, kdy
					včerejší obsah je mimo dosah, je dobré mít místo, které je stálé a univerzální, ale zároveň je přímo
					zaměřené na jednu jedinou věc.</p>
				<p class="lead">Tento projekt je nestranný, neziskový a vytvářen z dobré vůle na podporu demokracie a informovanosti.
					Použítí informací je vždy na vlastní zodpovědnost.</p>
				<p class="lead">Žádná strana ani kandidát nejsou jakkoli zvýhodněni, preferováni nebo doporučováni.</p>
				<div class="p-gap"></div>
				<p-box-group>
					<p-box to="/o-projektu/kontakty">
						<p-box-button class="primary">Chcete se na něco zeptat?</p-box-button>
					</p-box>
					<p-box to="/o-projektu/pro-media">
						<p-box-label>Pro média</p-box-label>
					</p-box>
				</p-box-group>
			</p-block>
			<p-block headline="Desatero">
				<p-area class="primary inline">
					<p-list>
						<div>
							<div class="p-offset">
								<div class="_marker">1</div>
								<div>Ke všem je přistupováno na principu rovnosti a nestrannosti.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">2</div>
								<div>Všechny funkcionality jsou dostupné všem.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">3</div>
								<div>Do zaslaných materiálů se nezasahuje.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">4</div>
								<div>Fotografie jsou použité pouze se svolením.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">5</div>
								<div>Veškerý obsah je dostupný zdarma všem.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">6</div>
								<div>Všechna data lze dále šířit a používat, nejlépe jako #opendata.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">7</div>
								<div>Bez reklam a sponzorovaných článků.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">8</div>
								<div>Nesbírat data o uživatelích.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">9</div>
								<div>Transparentní financování.</div>
							</div>
						</div>
						<div>
							<div class="p-offset">
								<div class="_marker">10</div>
								<div>Vždy uvádět zdroj.</div>
							</div>
						</div>
					</p-list>
				</p-area>
			</p-block>
			<p-block headline="Financování">
				<p>Programy do voleb jsou zapsaným spolkem a jsou financované výhradně z darů přispěvovatelů. Přispět
					lze přímo na <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">transparentní účet
						u FIO banky</p-link>, pomocí portálu <p-link
						href="https://www.darujme.cz/programydovoleb">Darujme.cz</p-link>.
					Výdaje pokrývají hlavně provoz webu, nákup reklamy a případně tisk materiálů. Design webu,
					programování, komunikace apod zajišťuje spolek bez nároku na honorář.</p>
				<!-- <p>Projekt lze podpořit i <router-link to="/podporit">jinými formami</router-link>, například umístěním banneru, sdílením online apod, odkazováním nebo doporučením.</p> -->
				<p>Přispěvatelům nevznikají žádné výhody, nejsou jim dostupné nějaké funkce navíc nebo dříve. Mohou si však svůj dar odepsat z daní.</p>


			<!-- <p-collapsible label="Poděkování"> -->
				<!-- <div> -->
				<!-- <div class="p-gap"></div> -->
				<p-box-group>
					<p-box to="/o-projektu/jak-podporit">
						<p-box-button color="var(--green)">Přispějte také</p-box-button>
					</p-box>
					<p-modal>
						<template #init>
							<p-box>
								<p-box-label>Poděkování</p-box-label>
							</p-box>
						</template>
						<template #content>
							<h3>Poděkování</h3>
							<p>Velké díky patří všem, kteří pomohli tipem, odhalenou chybou, radou k lepší funkčnosti, pomocí při dohledávání údajů, povzbudivým komentářem, finančně nebo pro projekt hlasovali.</p>
							<p-list class="smaller">
								<div>
									<p-modal>
										<template #init><button class="inline">Darujme</button></template>
										<template #content>
											<p>Díky přispěvatelům na portálu Darujme.cz se podařilo vybrat již 31 675 Kč (k 20. červnu 2023). I s jejich pomocí tak přišlo na weby <em>Programů do voleb</em> už více než 750 000 návštěvníků. Všechny dary si mohou dáci také odečíst z daní.</p>
											<p>
												<p-box href="https://www.darujme.cz/projekt/1205354">
													<p-box-button color="var(--green)">Přispějte také</p-box-button>
												</p-box>
											</p>
										</template>
									</p-modal>
								</div>
								<div>
									<p-modal>
										<template #init><button class="inline">Donio</button></template>
										<template #content><div class="donio">
											<p class="smaller">Pro krajské a&nbsp;senátní volby 2020 vznikla kampaň na serveru Donio, která měla za cíl
												vybrat peníze pro lepší kampaň, aby se tento přehled dostal k&nbsp;více lidem. Kampaň se
												podařila, vybralo se 114&nbsp;% částky, celkem 22&nbsp;451&nbsp;Kč. Díky tomu bylo možné
												zobrazit 486&nbsp;039 reklam a&nbsp;na web si našlo cestu 109&nbsp;880 unikátních
												návštěvníků. Poděkování patří serveru <p-link
													href="https://www.donio.cz/programydovoleb">Donio</p-link>, který kampaň uvedl
												v&nbsp;život, a&nbsp;pak hlavně 32&nbsp;dárcům, jmenovitě:</p>
											<p-area>
												<div class="columns-4">
													<div>David Antoš</div>
													<div>Pavol Boško</div>
													<div>Jindřich Čermák</div>
													<div>Jiří Čečrle</div>
													<div>Eva Havlová</div>
													<div>Jiří Kadeřávek</div>
													<div>Adam Jareš</div>
													<div>Jan Jebavý</div>
													<div>Jeník</div>
													<div>Lukáš Lipovský</div>
													<div>Tomáš Martínek</div>
													<div>Olga Maximová</div>
													<div>Filip Oliva</div>
													<div>Jiří Palice</div>
													<div>Vojtěch Pikal</div>
													<div>Michal Sirový</div>
													<div>Pavel Šaradín</div>
													<div>V. Umlauf</div>
													<div>Mario Vejlupek</div>
													<div>Libor Vondráček</div>
													<div>Eva Zachová</div>
													<div>Filip Zelenka</div>
												</div>
											</p-area>
											<p class="smaller">Vybraní dárci dostali dopis nebo památeční plakát k volbám. Díky jejich důvěře a přispění bylo možné
												tento rok oslovit více lidí, pomohl jim poznat blíže skoro tisícovku kandidátů a najít cestu
												k více jak 400 volebním programům.</p>
										</div>
										</template>
									</p-modal>
								</div>
								<div>
									<p-modal>
										<template #init><button class="inline">Patroni plakátů</button></template>
										<template #content>
											V roce 2020 a 2021 vznikla série plakátů ke krajským, senátním a evropským volbám, s výrazným přispěním od těchto patronů:
											<p-grid class="p-grid---3 p-grid---tight">
												<div v-for="(item, index) in ['kvk','vys','jck','eu1','lbk','msk','plk','jmk','spd','eu2','ulk','zlk','stan','senatori']">
													<p-image :src="'https://programydovoleb.cz/static/plakety/plaketa-' + item + '.jpg'" width="100%"></p-image>
												</div>
											</p-grid>
										</template>
									</p-modal>
								</div>
							</p-list>
						</template>
					</p-modal>
				</p-box-group>
				<!-- </div> -->
			<!-- </p-collapsible> -->				
			</p-block>
			<p-block headline="Zdroje informací">
				<p>Zdrojem informací jsou buď veřejně dostupné zdroje nebo podklady, které zasílají přímo strany či
					kandidáti. Mohou je doplňovat přímo online v rozhraní Adminu. V případě přebírání zdrojů z jiných webových stránek je vždy na tyto stránky odkazováno
					včetně data, kdy k tomu došlo.</p>
				<p>Fotografie jsou použité vždy se svolením kandidáta, tiskového oddělení, nebo v souladu s licenčními
					podmínkami (např z wikimedia).</p>
				<p-box-group>
					<p-modal>
						<template #init>
							<p-box>
								<p-box-button class="primary">Chci něco doplnit</p-box-button>
							</p-box>
						</template>
						<template #content>
							<h3>Stačí poslat odkaz</h3>
							<report-form></report-form>
							<div class="p-line"></div>
							Nebo napiště na <a href="mailto:doplnit@programydovoleb.cz">doplnit@programydovoleb.cz</a>
						</template>
					</p-modal>
					<p-box href="https://admin.programydovoleb.cz">
						<p-box-label>Pro kandidáty</p-box-label>
					</p-box>
					<p-modal>
						<template #init>
							<p-box>
								<p-box-label>Vybrané zdroje</p-box-label>
							</p-box>
						</template>
						<template #content>
							<h3>Vybrané zdroje dat</h3>

							<p-list>
								<div>
									Číselníky a registry: Český statistický úřad 
									<div class="smallest"><p-link
										href="https://www.czso.cz/csu/czso/podminky_pro_vyuzivani_a_dalsi_zverejnovani_statistickych_udaju_csu"></p-link></div>
								</div>
								<div>
									Přehled starostů: Otevřená data data.gov.cz, Orgány veřejné moci, Checkpoint
									<div class="smallest">
										<p-link href="https://rpp-opendata.egon.gov.cz/odrpp/datovasada/ovm.json"></p-link>
									</div>
									<div class="smallest">
										<p-link href="https://www.czechpoint.cz/spravadat/ovm/datafile.do?format=xml&service=seznamovm"></p-link>
									</div>
								</div>
								<div>
									Vývoj a počet obyvatel obcí: Český statistický úřad
									<div class="smallest">
										<p-link href="https://www.czso.cz/csu/czso/pocet-obyvatel-v-obcich-k-112023"></p-link>
									</div>
								</div>
								<div>
									Záznamy MVČR o registrovaných stranách a hnutích: Jan Javorek a Ondřej Kokeš
									<div class="smallest">
										<p-link href="https://github.com/honzajavorek/czech-political-parties"></p-link>
									</div>
								</div>
							</p-list>
						</template>
					</p-modal>
				</p-box-group>
			</p-block>
			<p-block headline="Provoz webu">
				<h4>Zdrojové kódy webu:</h4>
					<p-area class="inline" icon="program">
						<div class="smaller strong"><p-link href="https://github.com/programydovoleb/web"></p-link></div>
						<!-- <div class="p-line _05"></div> -->
						<div class="smaller">Součastí repo není backend, API, DB ani Admin.</div>
						<div class="smaller dimm">Jedná se o kompletně oddělené projekty.</div>
					</p-area>
				<h4>Cookies</h4>
				<p>Programy do voleb nevyužívají žádné soubory cookies, protože nejsou nijak provázané s nástroji třetích stran, ani například Google Analytics nebo Google Fonts. Nevyužívají knihoven sociálních sítí, které by automaticky mohly sledovat pohyb a aktivity uživatele na webu.</p>
				<h4>Sledování návštěvnosti</h4>
				<p>Pro potřeby základního měření návštěvnosti slouží velmi triviální anonymizovaný interní systém. Nepředává žádné informace třetím stranám a neukládá data, podle kterých by bylo možné zpětně dohledat konkrétního člověka.</p>
				<p>Pohyb na webu je tak co nejvíce anonymní. Volby jsou citlivá věc a není v zájmu Programů své nástvěvníky prodávat.</p>
				<h4>Podmínky použití</h4>
				<p>Programy do voleb můžete používat naprosto anonymně. Není vyžadované žádné přihlášení, členství ani
					ideologická sounáležitost. Veškerý obsah webu je poskytován bez záruky a Programy do voleb nenesou
					žádnou zodpovědnost za škody způsobené užíváním webu, chybami, výpadky nebo některou z odkazovaných
					stránek.</p>
				<p>Obsah webu je v celém rozsahu chráněn autorským právem. Není-li výslovně uvedeno jinak, převzetí
					údajů a použití dat možné pod licencí <p-link
						href="https://creativecommons.org/licenses/by/3.0/deed.cs">CC BY 3.0</p-link>.</p>
				<p-area class="primary inline mt1">
					<strong>Citování a odkazování</strong>
					<p>Při odkazování prosím používejte název <strong>Programy do voleb</strong> a nejlépe odkaz přímo na
						konkrétní stránku. Pokud to z nějakých důvodů nelze, pak odkazujte na
						<em class="is-link">https://programydovoleb.cz</em> a připojte také datum, kdy jste informace z webu získali.</p>
				</p-area>
			</p-block>
			<p-block headline="Ochrana údajů">
				<p-collapsible label="Kandidáti">
					<p>Zpracování osobních údajů kandidátů je prováděno na základě oprávněného zájmu spolku na
						transparentnosti politického života. Účelem zpracování údajů je zvýšení transparentnosti a
						informovanosti kolem volebního klání v České republice a snaha přinést přehled o zapojení a významu
						kandidáta do volební kampaně.</p>
					<p>Všichni kandidáti mají ke svým údajům přístup a mohou je měnit, mazat či doplňovat. U kandidátů jsou
						zveřejněny údaje podle otevřených dat ČSÚ doplněné o další dobrovolné údaje:</p>
					<p-area>
						<p-columns>
							<li>fotografie</li>
							<li>osobní motto</li>
							<li>osobní představení</li>
							<li>specializace a zájmy</li>
							<li>telefonní číslo</li>
							<li>adresa</li>
							<li>odkazy na sociální sítě</li>
							<li>komunikační nástroje</li>
							<li>odkazy</li>
							<li>a další...</li>
						</p-columns>
					</p-area>
				</p-collapsible>
				<p-collapsible label="Návstěvníci webu">
					<p>Zpracování dobrovolně poskytnutých osobních údajů uživatelů webu je prováděno pouze za účelem
						naplnění konkrétně uvedené potřeby:</p>
					<ul>
						<!-- <li>zaslání tipu do soutěže (pouze e-mail)</li> -->
						<li>zaslání tipu na zdroj dat (dobrovolně pouze e-mail)</li>
						<li>zaslání daru (jméno, příjmení, e-mail)</li>
					</ul>
				</p-collapsible>
				<p-collapsible label="Správce údajů">
					<p>Pokud máte jakékoli potřeby, požadavky na smazání, úpravu, zjištění rozsahu informací apod, prosím napište:</p>
						<p-area class="inline smaller" borderColor="var(--blue)">
							<a href="mailto:gdpr@programydovoleb.cz" class="strong">gdpr@programydovoleb.cz</a>
						</p-area>
					<h4>Správce údajů</h4>
					<p-grid class="_2">
						<div>
							Programy do voleb, z. s., IČ: 10906380<br><p-link
							href="mailto:info@programydovoleb.cz" class="smaller">info@programydovoleb.cz</p-link>
						</div>
						<div>
							zodpovědná osoba: Štěpán Ryšavý<br><p-link
							href="mailto:stepan.rysavy@programydovoleb.cz" class="smaller">stepan.rysavy@programydovoleb.cz</p-link>
						</div>
					</p-grid>
				</p-collapsible>
				<p-collapsible label="Poznámka k odebrání údajů">
					<p-area borderColor="var(--red)" class="primary">
						<p>V případě zájmu o odstranění údajů z webu prosím berte v potaz, že to je možné pouze u těch, které jsou nad rámec otevřených dat poskytovaných Českým statistickým úřadem. Základní údaje jako jméno, věk, pořadí, výsledek, bydliště nebo povolání jsou veřejně dostupné údaje (poskytované jako opendata přímo úřady) a na webu Programů uvedené v souladu s podmínkami.</p>
					</p-area>
				</p-collapsible>
			</p-block>
			<p-block headline="Provozovatel">
				<p-area class="primary">
					<p-list>
						<div class="strong">Programy do voleb, z. s.</div>
						<div>Jana Palacha 1413<br>511 01  Turnov</div>
						<div>IČO: <p-link href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1126297&typ=PLATNY" class="is-span">10906380</p-link> &middot; L 13767 vedený u Krajského soudu v Hradci Králové</div>
						<div>Datovka: <strong>vhwmpce</strong></div>
						<div>
							<p-box-group>
								<p-box href="mailto:info@programydovoleb.cz">
									<p-box-button class="primary">info@programydovoleb.cz</p-box-button>
								</p-box>
								<p-box to="/o-projektu/kontakty">
									<p-box-label>Kontakty</p-box-label>
								</p-box>
							</p-box-group>
						</div>
						<div class="smallest">Spolek není plátcem DPH a neprovádí žádné zahraniční platby.</div>
					</p-list>
				</p-area>
				<div class="p-gap"></div>
				<h3>Povinně zveřejňované informace</h3>
				<p>Zapsaný spolek musí uveřejňovat přehled majetku a závazku, a také přehled příjmů a výdajů. V případě
					vedlejší hospodářské činnosti (aktivní prodej služeb nebo zboží) také musí podat daňové přiznání.
					Součástí může být také Výroční zpráva.</p>
				<div class="p-gap"></div>
				<p-grid>
					<div>
						<p-area>
							<strong>Rok 2024</strong>
							<div class="p-gap"></div>
							<p-box-group>
								<p-box href="https://programydovoleb.cz/static/docs/2024-vyrocni-zprava.pdf">
									<p-box-button class="primary" icon="doc.svg">Výroční zpráva</p-box-button>
								</p-box>
							</p-box-group>
							<p-list class="smaller invisible pt1">
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2024-prehled-o-majektu-a-zavazcich.pdf">Přehled o majetku a závazcích</p-link>
								</div>
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2024-prehled-o-prijmech-a-vydajich.pdf">Přehled o příjmech a výdajích</p-link>
								</div>
							</p-list>
						</p-area>
					</div>
					<div>
						<p-area>
							<strong>Rok 2023</strong>
							<div class="p-gap"></div>
							<p-box-group>
								<p-box href="https://programydovoleb.cz/static/docs/2023-vyrocni-zprava.pdf">
									<p-box-button class="primary" icon="doc.svg">Výroční zpráva</p-box-button>
								</p-box>
							</p-box-group>
							<p-list class="smaller invisible pt1">
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2023-prehled-o-majektu-a-zavazcich.pdf">Přehled o majetku a závazcích</p-link>
								</div>
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2023-prehled-o-prijmech-a-vydajich.pdf">Přehled o příjmech a výdajích</p-link>
								</div>
							</p-list>
						</p-area>
					</div>
					<div>
						<p-area>
							<strong>Rok 2022</strong>
							<div class="p-gap"></div>
							<p-box-group>
								<p-box href="https://programydovoleb.cz/static/docs/2022-vyrocni-zprava.pdf">
									<p-box-button class="primary" icon="doc.svg">Výroční zpráva</p-box-button>
								</p-box>
							</p-box-group>
							<p-list class="smaller invisible pt1">
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2022-prehled-o-majektu-a-zavazcich.pdf">Přehled o majetku a závazcích</p-link>
								</div>
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2022-prehled-o-prijmech-a-vydajich.pdf">Přehled o příjmech a výdajích</p-link>
								</div>
							</p-list>
						</p-area>
					</div>
					<div>
						<p-area>
							<strong>Rok 2021</strong>
							<div class="p-gap"></div>
							<p-box-group>
								<p-box href="https://programydovoleb.cz/static/docs/2021-vyrocni-zprava.pdf">
									<p-box-button class="primary" icon="doc.svg">Výroční zpráva</p-box-button>
								</p-box>
							</p-box-group>
							<p-list class="smaller invisible pt1">
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2021-prehled-o-majektu-a-zavazcich.pdf">Přehled o majetku a závazcích</p-link>
								</div>
								<div>
									<p-link href="https://programydovoleb.cz/static/docs/2021-prehled-o-prijmech-a-vydajich.pdf">Přehled o příjmech a výdajích</p-link>
								</div>
							</p-list>
						</p-area>
					</div>
				</p-grid>
				<div class="p-gap"></div>
				<h3>Stručná historie</h3>
				<p-area class="cancel inline">
					<p-list class="_05">
						<div>2018: založení projektu</div>
						<div>2019: první větší volby</div>
						<div>2020: plakáty jako forma podpory</div>
						<div>2021: založení zapsaného spolku</div>
						<div>2022: 2x nominace na Křišťálovou lupu</div>
						<div>2023: 1x nominace na Křišťálovou lupu</div>
						<div>2024: takřka 1 000 000 unikátních návštěvníků webu</div>
					</p-list>
				</p-area>

			</p-block>
			<p-block headline="Autor projektu">
				<div class="float">
					<p-image :width="18" src="https://programydovoleb.cz/static/profilovka.jpg" :rounded="true"
						:border="true"></p-image>
						<div class="mt1 mb4">
							<p-box-group>
								<p-box href="https://bsky.app/profile/stepanrysavy.cz">
									<p-box-icon type="bsky"></p-box-icon>
								</p-box>
								<p-box href="https://www.threads.com/@stepanrysavy">
									<p-box-icon type="threads"></p-box-icon>
								</p-box>
								<p-box href="https://www.facebook.com/stepan.rysavy">
									<p-box-icon type="fb"></p-box-icon>
								</p-box>
								<p-box href="https://www.linkedin.com/in/stepanrysavy/">
									<p-box-icon type="linkedin"></p-box-icon>
								</p-box>
							</p-box-group>
						</div>
				</div>
				<p>Jmenuji se Štěpán Ryšavý, pocházím z Turnova, toho času v Praze.
					Profesně jsem reklamkář, designer a programátor, kdo by potřeboval vědět přesněji, zde je můj
					<p-link href="https://www.linkedin.com/in/stepanrysavy/">LinkedIn</p-link>. Webům a
					reklamě se profesně věnuji přes deset let a u monitoru s klávesnicí sedím už přes 20 let. I díky
					tomu mnoho peněz ušetřím, nemusím nikoho dalšího platit, abych tento projekt <strong>ve svém volném
						čase</strong> mohl realizovat.</p>
				<p>Vždy jsem se zajímal o politiku, ale nejsem z politického těsta. Své volební preference a názory
					nechávám u tohoto projektu stranou a dávám stejný prostor každému. Nechť je v demokratické soutěži a
					u voleb hodnotí voliči, ne já. A protože mě vždy bavilo dělat weby, tak jsem to propojil.</p>
				<p>Do roku 2021 jsem projekt provozoval na své riziko a živnost, od června 2021 už existuje s novou
					právní subjektivitou, jako zapsaný spolek.</p>
				<p-area class="inline smaller" icon="email">
					<a href="mailto:stepan.rysavy@programydovoleb.cz" class="strong">stepan.rysavy@programydovoleb.cz</a>
					<div class="smallest dimm">Napište mi</div>
				</p-area>
			</p-block>
		</template>
		<template #aside>
			<top-tasks></top-tasks>
			<div class="p-line"></div>
			<h3 class="serif w400 mt0">Programy do voleb</h3>
			<p>Nestranný neziskový projekt, díky kterému si můžete snadno, pohodlně a bez hledání přečíst a
				porovnat volební programy všech stran či kandidátů.</p>
			<div class="smaller">
				<p-stats :vertical="true" label="Adresa">
					Jana Palacha 1413<br>
					511 01 Turnov
				</p-stats>
				<p-stats :vertical="true" label="IČO">
					10906380 &middot; <p-link class="as-span"
						href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1126297&typ=PLATNY">rejstřík</p-link>
				</p-stats>
				<p-stats :vertical="true" label="Datovka">
					vhwmpce
				</p-stats>
			</div>
			<div class="p-line"></div>
			<p-box-group>
				<p-box to="/o-projektu/kontakty">
					<p-box-button class="primary">Kontakty</p-box-button>
				</p-box>
			</p-box-group>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
	</p-layout-divided>
</div>