<div class="layout-polls">
	<p-layout-divided>
		<template #main>
			<p-block headline="Novinky na Programech" :level="1" anchor="Novinky">
				<div class="p-gap _2"></div>
				<!-- <p-block headline="Za oponou" :hide="true"> -->
					<!-- <p-area borderColor="var(--blue)"> -->
						<p-loader :rule="news">
							<p-list v-if="news">
								<template v-for="(item, index) in news.sys">
									<news-item :data="item"></news-item>
								</template>
							</p-list>
						</p-loader>
					<!-- </p-area> -->
					<div class="p-line"></div>
					<p-label color="var(--red)" class="strong smallest"><p-link href="https://programydovoleb.cz/rss">Odebírat jako RSS</p-link></p-label>
				<!-- </p-block> -->
				<!-- <div class="p-gap _4"></div>
				<p-block headline="Newsletter" anchor="Newsletter">
					<mailchimp-signup></mailchimp-signup>
				</p-block> -->
			</p-block>
			<p-block :level="1" headline="Archiv">
				<p>Zde najdete všechny zprávy a komentáře, rozdělené podle typu.</p>
				<template v-for="(year, iyear) in [2026, 2025, 2024, 2023, 2022, 2021, 2020, 2019]">
					<p-block-expandable :headline="String(year)">
						<news-year :year="year"></news-year>
					</p-block-expandable>
				</template>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<top-tasks></top-tasks>
		</template>
	</p-layout-divided>
</div>
