.columns > div {
	margin-bottom: 1em;
}

.relative {
	position: relative;

	.attendance {
		position: absolute;
		top: 0;
		right: -.5em;
		width: 50%;
		max-width: 20rem;
	}
}

._bl {
	border-left: var(--border);
}

._w400 {
	font-weight: 400;
}

._ng {
	margin-bottom: 0 !important;
}

._edit {
	display: inline-block;
	padding: .6em 1.2em .8em !important;
	border-radius: 2em;
	background: var(--green11);
	border-top: none !important;
	margin-bottom: -.5em;

	.p-icon {
		margin-top: -.5em;
		display: inline-block;
		transform: translateY(.45em);
	}
}