@import url('https://fonts.googleapis.com/css2?family=Quando&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

._rendered {
	height: 1080px;
	width: 1080px;
	color: #20133C;
	position: absolute;
	left: 300vw;

	.dark & {
		color: #20133C;
	}

	&.bg {
		background: #fff url(https://programydovoleb.cz/static/chartgen-bg2.png) no-repeat;
		background-size: 100% 100%;
	}
}

._quando {
	font-family: "Quando", serif;
	letter-spacing: -0.015em;
}

._roboto {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
  }

._space {
	display: flex;
	padding-top: 380px;
	margin: auto;
}

._strong {
	font-weight: 600;
}

._item {
	// flex: 1;
	text-align: center;
	padding-bottom: .5em;
	width: 100px;

	// @media (hover: hover) {

	// 	background: #00000000;
	// 	border-radius: 1em;

	// 	transition: all .3s .3s;

	// 	&:hover {
	// 		background: rgba(0,0,0,.02);
	// 	}

	// 	.dark & {
	// 		background: #00000000;
	// 		box-shadow: 0 .3em .6em #00000000;
	// 	}

	// 	.dark &:hover {
	// 		background: rgba(255,255,255,.02);
	// 		box-shadow: 0 .7em 1.4em #00000022;
	// 	}
	// }
}

._bar-holder {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 300px;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

._bar {
	position: relative;
	width: 100%;
}

._bar-pane {
	border-top-left-radius: .25em;
	border-top-right-radius: .25em;
	width: 100px;
	margin: 0 10px;
	height: 0px;

	transition: height 1s ease-in-out;

	._ref & {
		width: 80px;
		margin: 0 10px 0;
	}

	@media (min-width: 800px) {
		border-top-left-radius: .5em;
		border-top-right-radius: .5em;
	}
}

._ref ._ref-pane {
	position: absolute;
	bottom: 0;
	left: -10px;
	width: 80px;
	opacity: .4;
	z-index: 1;
}

._bar-value {
	position: absolute;
	top: -1.75em;
	left: 0;
	right: 0;
	white-space: nowrap;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	z-index: 1000;

	._ref & {
		// left: 45%;
	}

	.diff & {
		top: -90px;
	}
}

._bar-value-diff {
	font-size: 20px;
	font-weight: 500;
	margin-top: -3px;
}

._ref ._ref-value {
	left: 75%;
	opacity: .2;
	top: auto;
}

._item.passed + ._item:not(.passed) {
  border-left: 2px dotted #f00;
}

._logo {
	// padding: 0 .2em;
}

._short {
	overflow: hidden;
	position: relative;
	height: 52px;
	font-size: 20px;

	> span,
	> a,
	> strong {
		position: absolute;
		display: block;
		top: 8px;
		left: 0;
		right: 0;
		text-align: center;
		// transform: translateX(-50%);
		white-space: nowrap;
	}
}

.p-image {
	position: relative;
	left: 10px;
	border: var(--border);
	background: #fff;
	width: 80px;
	border-radius: 8px;
	overflow: hidden;
}

._coal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: .25em;
	margin-bottom: -.1em;

	.p-logo {
		max-width: 1.5em;
		margin: .1em;
	}
}

@keyframes show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

._mandates {
	font-size: 30px;
	margin: 20px 0 -8px;
}

._blue {
	color: #269AFF;
}



.diff .tiny.green:before {
	content: '+';
  }

.diff .tiny {
	@media (min-width: 800px) {
		font-size: 12px;
		margin-top: -.1em;
	}
}

._mandates {
	position: relative;
}

._mandates-value {
	position: relative;
	display: inline-block;
}

._mandates-diff {
	position: absolute;
	top: 1px;
	left: 100%;
	font-size: 14px;
	padding-left: 2px;

	&._blue {
		font-size: 24px;
		top: 0;
	}
}

._mandates-since {
	position: absolute;
	bottom: 3px;
	left: 100%;
	font-size: 14px;
	padding-left: 2px;
	color: #aaa;

	&._blue {
		font-size: 20px;
		top: 20px;
		color: #aaa !important;
	}
}

._mandates-source {
	display: block;
	position: absolute;
	white-space: nowrap;
	left: 130px;
	top: 2px;
	font-weight: 300;
	font-size: 24px;
}

._footer_brand {
	color: #fff;
	font-size: 20px;
	position: absolute;
	bottom: 10px;
	right: 15px;
}

._footer_about {
	font-weight: 600;
	color: #fff;
	font-size: 20px;
	position: absolute;
	bottom: 10px;
	left: 15px;
	line-height: 1.25;
}

._header {
	position: absolute;
	text-align: right;
	top: 60px;
}

._header-agency {
	font-size: 80px;
	letter-spacing: -0.03em;

	._header_nms-market-research & {
		font-size: 50px;
		margin-top: 10px;
	}

	margin-bottom: -.2em;
}

._header-agency_paid {
	font-size: 30px;
}

._header-fromto {
	font-size: 30px;
}

._header-attendance {
	margin-top: 20px;
	position: relative;
}

._header-attendance-bar {
	background: #fff;
	border-radius: 10px;
	height: 20px;
	width: 300px;
	position: absolute;
	right: 0;
}

._header-attendance-indicator {
	background: #269AFF;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	width: 100px;
}

._header-attendance-value {
	padding-top: 30px;
	font-size: 20px;
}