<div class="layout-polls">
	<p-layout-divided>
		<template #main>
			<p-block headline="Sedmidění" :level="1" :hide="true">
				<div class="p-offset reverse">
					<div>
						<p-headline :level="1">Sedmidění</p-headline>
					</div>
					<div>
						<input type="date" v-model="datum" min="2021-10-01" :max="today">
					</div>
				</div>
				<p class="lead mt0">Souhrn článků z 24 různých médií, které se týkají voleb, stran nebo kandidátů, volební průzkumy a přehled novinek a úprav na webu <em>Programy do voleb</em> za uplynulých sedm dní.</p>
				<!-- <div class="p-gap _2"></div> -->
				<p-loader :rule="news">
					<div v-if="news">
						<template v-if="nearEvents.length > 0">
							<p-block headline="Blízké události" :hide="true" class="pb2">
								<p-collapsible label="Blízké události" v-if="nearEvents.length > 3" :status="nearEvents.length" logo="event">
									<p-columns>
										<div v-for="event in nearEvents">
											<event-item :item="event" :party="event.$node" :data="event" bod="1" short="1" class="pb1"></event-item>
										</div>
									</p-columns>
								</p-collapsible>
							</p-block>
						</template>
						<template v-for="day in news.list">
							<p-block :headline="date(day.datum)" v-if="Object.keys(day).reduce((a, b) => a + (typeof day[b] === 'string' ? 0 : day[b].length), 0) > 0">
								<p-list class="">
									<template v-if="day.sys.length > 0">
										<div class="smallest dimm strong">Novinky na Programech do voleb</div>
										<div v-for="item in day.sys">
											<p-area class="primary inline">
												<h4><router-link :to="'/novinky/' + item.id">{{ item.title }}</router-link></h4>
												<p v-html="truncate(untag(item.content), 40)"></p>
												<p-box-group>
													<p-box :to="'/novinky/' + item.id">
														<p-box-button class="primary">Celý článek</p-box-button>
													</p-box>
												</p-box-group>
											</p-area>
										</div>
									</template>
									<template v-if="(day.log.length > 0 && day.log.find(x => x.data.find(y => ['priority', 'answer', 'program'].indexOf(y.type) > -1 && y.action != 'ignore'))) || (day.fullprogram && day.fullprogram.length > 0)">
										<div class="smallest red strong">Nepřehlédněte</div>
										<p-grid>
											<template v-for="item in day.fullprogram">
												<div>
													<p-area class="shadow highlight" :borderColor="colorByItem(item.$node, item)">
														<div class="p-offset">
															<div>
																<p-image :src="logoByItem(item.$node, item)" width="2.5em" :rounded="true"></p-image>
															</div>
															<div>
																<router-link :to="'/bod/' + item.csu_table + '/' + item.csu_id + '/volebni-program/' + item.id" class="strong">Volební program</router-link>
																<div class="smallest">
																	{{ 'Plná verze' }}
																	<span class="dimm" v-if="item.backup">
																		&middot;
																		<p-link :href="item.backup" class="dimm">
																			záloha
																		</p-link>
																	</span>
																</div>
															</div>
														</div>
													</p-area>
												</div>
											</template>
											<template v-for="itemparty in day.log.filter(x => x.data.find(y => ['priority', 'answer', 'program'].indexOf(y.type) > -1 && y.action != 'ignore'))">
												<template v-for="item in itemparty.data.filter(y => y.type === 'program')">
													<div>
														<p-area class="shadow white" borderColor="var(--blue)" icon="program">
															<strong>
																<p-link :href="item.node.source">
																	{{ itemparty.node.ZKRATKA || itemparty.node.JMENO + ' ' + itemparty.node.PRIJMENI }}
																</p-link>
															</strong>
															<div class="smallest">
																{{ item.node.value || 'Volební program' }}
																<span class="dimm" v-if="item.node.label">
																	&middot;
																	<p-link :href="item.node.label" class="dimm">
																		záloha
																	</p-link>
																</span>
															</div>
														</p-area>
													</div>
												</template>
												<template v-if="itemparty.data.find(x => x.type === 'answer' && x.node.question <= 389)">
													<div>
														<p-area class="white shadow" borderColor="var(--yellow)" icon="answers-mini">
															<strong>
																<router-link :to="'/bod/' + itemparty.pointer.split(':').join('/') + '/otazky-a-odpovedi'">
																	{{ itemparty.node.ZKRATKA || itemparty.node.JMENO + ' ' + itemparty.node.PRIJMENI }}
																</router-link>
															</strong>
															<div class="smallest"><p-lang :value="itemparty.data.filter(x => x.type === 'answer' && x.node.question <= 389).length" :end="['', '1 odpověď', '%% odpovědi', '%% odpovědí']"></p-lang></div>
														</p-area>
													</div>
												</template>
												<template v-if="itemparty.data.find(x => x.type === 'answer' && x.node.question > 389)">
													<div>
														<p-area class="white shadow" borderColor="var(--greyish)" icon="calc">
															<strong>
																<router-link :to="'/bod/' + itemparty.pointer.split(':').join('/') + '/otazky-a-odpovedi'">
																	{{ itemparty.node.ZKRATKA || itemparty.node.JMENO + ' ' + itemparty.node.PRIJMENI }}
																</router-link>
															</strong>
															<div class="smallest"><p-lang :value="itemparty.data.filter(x => x.type === 'answer' && x.node.question > 389).length" :end="['', '1 odpověď', '%% odpovědi', '%% odpovědí']"></p-lang></div>
														</p-area>
													</div>
												</template>
												<template v-if="itemparty.data.find(x => x.type === 'priority')">
													<div>
														<p-area class="white shadow" borderColor="var(--green)" icon="priority">
															<strong>
																<router-link :to="'/bod/' + itemparty.pointer.split(':').join('/') + '/priority'">
																	{{ itemparty.node.ZKRATKA || itemparty.node.JMENO + ' ' + itemparty.node.PRIJMENI }}
																</router-link>
															</strong>
															<div class="smallest"><p-lang :value="itemparty.data.filter(x => x.type === 'priority' && x.node && x.node.status === 1 ).length" :end="['', '1 priorita', '%% priority', '%% priorit']"></p-lang></div>
														</p-area>
													</div>
												</template>
											</template>
										</p-grid>
									</template>
									<template v-if="day.main.length > 0">
										<div class="smallest dimm strong">Významné zprávy z médií</div>
										<div v-for="item in day.main">
											<h4><p-link :href="item.source">{{ item.title.split(' – ')[0].split(' - ')[0].split(' • ')[0].split(' | ')[0].split(' — ')[0] }}</p-link></h4>
											<p v-if="item.content" v-html="(item.content || '').split('Původní text: ').join('')"></p>
											<p class="smallest">
												<span class="blue">{{ domain(item.source) }}</span>												
												<template v-if="item.$relates.length > 0">
													&middot; týká se
													<p-list-linear class="or inline">
														<span v-for="(relates, index) in item.$relates">
															<router-link :to="'/bod/' + item.relates.split(',')[index].split(':').join('/')">
																{{ relates.ZKRATKA || relates.NAZEV || relates.JMENO + ' ' + relates.PRIJMENI }}
															</router-link>
														</span>
													</p-list-linear>
												</template>
											</p>
										</div>
									</template>
									<template v-if="day.polls.length > 0">
										<div class="smallest dimm strong">Volební průzkumy</div>
										<div>
											<p-grid>
												<div v-for="poll in day.polls">
													<p-area>
														<polls-preview :poll="poll" :previous="poll.$previous"></polls-preview>
													</p-area>
												</div>
											</p-grid>
										</div>
									</template>
									<template v-if="day.events.length > 0">
										<div class="smallest dimm strong">Události a akce</div>
										<p-columns class="">
											<div v-for="event in day.events" class="pb05">
												<event-item :item="event" :party="event.$node" :data="event" bod="1" short="1" class="column short"></event-item>
											</div>
										</p-columns>
									</template>
									<template v-if="day.media.length > 0">
										<div class="smallest dimm strong">Články a rozhovory</div>
										<p-columns class="_noRule _noGap">
											<div v-for="item in day.media">
												<p-area class="smaller">
													<p-link :href="item.source" class="strong">{{ item.value.split(' – ')[0].split(' - ')[0].split(' • ')[0].split(' | ')[0].split(' — ')[0] }}</p-link>
													<p class="smallest dimm">
														<template v-if="item.node">
															<router-link :to="'/bod/' + item.csu_table + '/' + item.csu_id">{{ item.node.ZKRATKA || item.node.NAZEV || item.node.JMENO + ' ' + item.node.PRIJMENI }}</router-link>
															<br>
														</template>
														{{ item.label }} &middot; {{ domain(item.source || '') }}
													</p>
												</p-area>
											</div>
										</p-columns>
									</template>
									<template v-if="day.comm.length > 0">
										<div class="smallest dimm strong">Komentáře</div>
										<div v-for="item in day.comm">
											<h4 class="mv0 smaller">
												<p-link :href="item.source" class="is-span strong mono">{{ item.title }}</p-link>
											</h4>
											<p class="smallest">
												<strong>{{ item.content }}</strong> &middot; {{ domain(item.source) }}
												<div v-if="item.$relates.length > 0" class="dimm">
													Týká se
													<p-list-linear class="or inline">
														<span v-for="(relates, index) in item.$relates">
															<router-link :to="'/bod/' + item.relates.split(',')[index].split(':').join('/')" class="is-span dimm">
																{{ relates.ZKRATKA || relates.NAZEV || relates.JMENO + ' ' + relates.PRIJMENI }}
															</router-link>
														</span>
													</p-list-linear>
												</div>
											</p>
										</div>
									</template>
									<template v-if="day.auto.length > 0">
										<div class="smallest green strong">Nově v přehledu</div>
										<div>
											<p-grid class="smaller">
												<div v-for="party in unique(day.auto.filter(x => x.content), 'content')">
													<!-- <p-area> -->
														<strong>{{ party }}</strong>
														<div class="p-gap _05"></div>
														<p-list-linear class="invisible">
															<div v-for="cand in day.auto.filter(x => x.content === party)">
																<router-link :to="'/bod/' + cand.relates.split(',')[1].split(':').join('/')" class="keep">{{ cand.title }}</router-link>
															</div>
														</p-list-linear>
													<!-- </p-area> -->
												</div>
												<div v-for="cand in day.auto.filter(x => !x.content)">
													<!-- <p-area> -->
														<router-link :to="'/bod/' + cand.relates.split(',')[0].split(':').join('/')" class="strong">{{ cand.title }}</router-link>
													<!-- </p-area> -->
												</div>
											</p-grid>
										</div>
									</template>
									<template v-if="day.log.length > 0 && day.log.find(x => x.data.filter(y => ['media', 'pr', 'answer', 'priority', 'program'].indexOf(y.type) === -1).length > 0)">
										<div class="smallest dimm strong">Další upravené záznamy</div>
										<div>
											<p-list class="invisible smaller">
												<div v-for="item in sortBy(day.log.filter(x => x.node && x.node.NAZEV && x.data.filter(y => ['media', 'pr'].indexOf(y.type) === -1).length > 0 ) || [], 'title', null, true)">
													<router-link :to="'/bod/' + item.pointer.split(':').join('/')" class="strong">{{ item.title }}</router-link>
													<span class="smallest dimm">
														&mdash;
														<p-list-linear class="or inline">
															<span v-for="entity in unique(item.data, 'type').filter(x => ['media', 'pr', 'answer', 'priority', 'program'].indexOf(x) === -1)">
																<component :is="['priority', 'program', 'answer'].indexOf(entity) > -1 ? 'p-badge' : 'span'" background="var(--green)">
																	{{ logtypes[entity] }}
																</component>
															</span>
														</p-list-linear>
													</span>
												</div>
												<div v-for="item in sortByPrijmeni(day.log.filter(x => x.node && x.node.PRIJMENI && x.data.filter(y => ['media', 'pr', 'answer', 'priority', 'program'].indexOf(y.type) === -1).length > 0 ) || [], 'title', null, true)">
													<router-link :to="'/bod/' + item.pointer.split(':').join('/')">{{ item.title }}</router-link>
													<span class="smallest dimm">
														&mdash;
														<p-list-linear class="or inline">
															<span v-for="entity in unique(item.data, 'type').filter(x => ['media', 'pr', 'answer', 'priority', 'program'].indexOf(x) === -1)">
																<component :is="['priority', 'program', 'answer'].indexOf(entity) > -1 ? 'p-badge' : 'span'" background="var(--green)">
																	{{ logtypes[entity] }}
																</component>
															</span>
														</p-list-linear>
													</span>
												</div>
											</p-list>
										</div>
									</template>
									<template v-if="day.main.length === 0 && day.sys.length === 0 && day.polls.length === 0 && day.log.length === 0 && day.media.length === 0">
										<div class="smallest dimm strong">Ticho po pěšině</div>
										<div class="smaller">
											<em>K tomuto dni nejsou doplněné žádné novinky z médií, žádné nové průzkumy, ani žádné nové záznamy či úpravy na Programech.</em>
										</div>
									</template>
									<div v-if="day.datum === today">
										<p-box-group>
											<p-modal class="inline">
												<template #init>
													<p-box>
														<p-box-button color="var(--green)" icon="plus-green.svg">Chci něco doplnit</p-box-button>
													</p-box>
												</template>
												<template #content>
													<h4>Stačí poslat odkat, případně připojit poznámku.</h4>
													<report-form part="Sedmidenní přehled"></report-form>
												</template>
											</p-modal>
										</p-box-group>
									</div>
								</p-list>
								<div class="p-gap _2"></div>
							</p-block>
							<p-block v-else class="smallest" :headline="date(day.datum)" :hide="true">
								<p-area class="inline">
									<em class="dimm">{{ date(day.datum) }} — žádné záznamy</em>
								</p-area>								
							</p-block>
						</template>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Může vás zajímat" :hide="true" :level="1">
				<p-block headline="O projektu" :hide="true">
					<div class="_split">
						<div>
							<h2 class="serif mt0">
								O projektu
								<div class="small">Programy do voleb</div>
							</h2>
							<!-- <h4 class="serif">Programy do voleb</h4> -->
							<p>Cílem je usnadnit každému, kdo se zajímá o volby, kandidáty a volební programy, aby je našel přehledně a na jednom místě. Žádná strana ani kandidát nejsou jakkoli zvýhodněni, preferováni nebo doporučováni. Nenajdete zde ani komentáře či názory, do textů se nezasahuje.</p>
							<p-box-group>
								<p-box to="/o-projektu">
									<p-box-button class="primary">Více o Programech</p-box-button>
								</p-box>
								<p-box to="/o-projektu/kontakty">
									<p-box-label>Kontakty</p-box-label>
								</p-box>
								<p-box to="/o-projektu/jak-podporit">
									<p-box-label class="green">Jak podpořit?</p-box-label>
								</p-box>
							</p-box-group>
						</div>
						<div>
							<cta-support :hide="true"></cta-support>
						</div>
					</div>
				</p-block>
				<p-block headline="Novinky e-mailem" anchor="Newsletter">
					<mailchimp-signup></mailchimp-signup>
				</p-block>
				<p-block headline="Na sociálních sítích">
					<p><strong>Nechcete čekat?</strong> Vybrané novinky najdete také na vybraných sociálních sítích:</p>
					<p-box-group>
						<template v-for="soc in social">
							<p-box :href="soc.link">
								<p-box-icon :type="soc.icon"></p-box-icon>
								<p-box-label>{{ soc.label }}</p-box-label>
							</p-box>
						</template>
					</p-box-group>
					<div class="p-line"></div>
					<div class="smallest"><strong>Proč už nejsou Programy na Twitteru (nyní X)?</strong> Publikování na Twitteru bylo ukončeno 20. ledna 2025 po sérii nedemokratických kroků, gest a prohlášení majitele sítě Elona Muska. Zásahy do algoritmu, potlačování svobody slova, protežování vybraných účtů a politických směrů směřujících k potlačení demokracie a politické soutěže, potlačování opozice i zpravodajství, zneužívání sítě k vydírání a poštvávání proti názorovým oponentům, dramatické snížení relevance a dosahu, vysoká míra toxicity i falešných účtů...</div>
				</p-block>
				<p-block headline="Programy do voleb">
					<p>Zajímají vás jen zprávy a novinky, které se týkají samotného projektu Programy do voleb?</p>
					<p-box-group>
						<p-box to="/novinky/archiv">
							<p-box-button icon="list.svg">Zprávy o projektu</p-box-button>
						</p-box>
						<p-box href="https://github.com/programydovoleb/web">
							<p-box-button icon="link.svg">Zdrojový kód</p-box-button>
						</p-box>
						<p-box href="https://programydovoleb.cz/rss">
							<p-box-button icon="rss.svg">RSS</p-box-button>
						</p-box>
					</p-box-group>
				</p-block>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/sedmideni.svg'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
				<div>
					<p-list class="mh-1">
						<template v-if="news && news.events && news.events.length > 0">
							<div>
								<strong class="smaller">Nejbližší akce</strong>
							</div>
							<div v-for="event in sortEvents(news.events, true).filter((x, i) => i < 2)">
								<event-item :item="event" :party="event.$node" :data="event" bod="1" short="1" class="aside"></event-item>
							</div>
						</template>
						<div>
							<div class="smallest _edit">
								<p-icon icon="edit"></p-icon>
								&nbsp;
								<pop-up preClass="green strong"><template #init>Přidat událost</template><template #content><editable-suggest placeholder="Odkaz na událost" type="event" part="HP Novinky" link="1"></editable-suggest></template></pop-up>
							</div>
						</div>
					</p-list>
				</div>
			<div class="p-gap"></div>
			<top-tasks></top-tasks>
			<div class="p-gap"></div>
			<h4>Monitor médií</h4>
			<p class="small">
				<p-list-linear class="or">
					<span v-for="media in medialist">
						<p-link :href="media.source" class="keep">{{ media.name }}</p-link>
					</span>
				</p-list-linear>
			</p>
		</template>
	</p-layout-divided>
</div>