._fr {
	float: right;
	margin: 0 0 .5em 1em;
}

._c {
	color: var(--blue);

	.dark & {
		color: var(--white);
	}
}

._w {
	color: var(--white);
	text-shadow: 1px 1px 2px #00000066;
	text-decoration: none;

	// .dark & {
	// 	color: var(--white);
	// }
}