._check:not(._big) {
	width: 20px;
	height: 20px;
	margin: auto .5em;

	.p-box-icon {
		transform: scale(.5, .5) translate(-50%, -50%);
		background: #fff;
		border: var(--border);
	}
}

._check._big {
	width: 40px;
	height: 40px;
	margin: auto .5em;

	.p-box-icon {
		width: 40px;
		background: #fff;
		border: var(--border);
	}
}

._w2 {
	width: 2em;
	text-align: right;
	display: inline-block;
	margin-right: .25em;
	
	._check {
		overflow: hidden;
		transform: translateY(.25em);
	}
}

._w4 {
	width: 4em;
	text-align: right;
	display: inline-block;
	margin-right: .25em;
	
	._check {
		overflow: hidden;
		transform: translateY(.25em);
	}
}

ol {
	list-style: decimal inside;
}

._mobile {
	position: fixed;
	bottom: 1em;
	left: 1em;
	right: 1em;
	z-index: 1000;

	.p-area {
		max-width: 40em;
		margin: auto;

		.dark &.highlight:not([style*=background-image]):not(.p-area---has-background), .dark .p-area.highlight[style*=missing]:not(.p-area---has-background) {
			background: var(--black) !important;
		}
	}

	transition: bottom .5s ease-in-out;

	&.past {
		bottom: -10em;
	}
}

.scrollTo {
	scroll-margin-top: 25vh;
}

._mw {
	max-width: 48em;
	margin-left: auto;
	margin-right: auto;

	p {
		max-width: 100%;
	}
}

._mw2 {
	max-width: 70em;
	margin-left: auto;
	margin-right: auto;
}

.dark ._invert {
	filter: invert(1) opacity(.25);
}