section {
	text-align: center;
}

section + section {
    margin-top: 4em;
}

.text-center p {
	margin: 1em auto;
  }

.text-left p {
	margin: 1em 0;
}
  
  h1 {
	@media (max-width: 800px) {
	  font-size: 2.5rem;
	}
  }
  
  ._mw, p {
	max-width: 60rem;
	margin-right: auto;
	margin-left: auto;
  }
  
  ._mw2 {
	max-width: 100rem;
	margin-right: auto;
	margin-left: auto;
  }

  .text-left ._mw {
	max-width: 40em;
	margin: 0;
  }

  ._db {
    display: block;
  }
  
  ._pbg {
	max-width: 60rem;
	margin: auto;
	justify-content: center;
  
	.p-box-image {
	  border-radius: 4px;
	}

	&._mw2 {
		max-width: 60rem;
	}
  }
  
  .p-area {
    background-color: var(--white);
    border: var(--border);
    padding: 1em !important;
    background-size: 500px 400px;
    border-radius: 1em;
    position: relative;

    .dark & {
        background-color: var(--blue11);
        border: none;
    }
}

._ar1 {
  aspect-ratio: 1;

  .dark & {
    filter: invert(0.7) brightness(2) opacity(.75);
  }
}