<div class="layout-about-fundraising">
	<p-layout-divided>
		<template #main>
			<p-block :level="1" headline="Podpořte Programy do voleb" anchor="Podpora projektu">
				<p-box-group>
					<template v-for="(kc, i) in [100, 226, 2026]"><p-box :href="'https://www.darujme.cz/darovat/1205354?portalWidget=1&frequency=once&amount=' + kc"><p-box-button color="var(--green)">{{ kc }} Kč</p-box-button></p-box></template>
					<p-box href="https://www.darujme.cz/programydovoleb"><p-box-button class="primary">Jinou částku</p-box-button></p-box>
					<p-box href="https://programydovoleb.t-shock.eu/cs/"><p-box-button class="primary">Merch</p-box-button></p-box>
					<p-box :click="() => slide('plakaty')"><p-box-button class="primary">Plakáty</p-box-button></p-box>
				</p-box-group>
				<p class="smallest dimm">Kliknutí přesměruje na portál Darujme.cz</p>
			</p-block>
			<p-block headline="Nestranně, nezávisle, dobrovolnicky" anchor="Důvody podpory">
				<p>Už od roku 2018 vzniká nestranný a nezávislý předvolební přehled. Po celou dobu funguje jako dobrovolnický neziskový projekt, s hlavním cílem informovat o nadcházejících volbách, o kandidujících stranách, kandidátech a jejich volebních programech. Nejedná se o názorový ani zpravodajský portál, nevnucuje názor, nefandí. Není nijak spojen s žádnou politickou stranou, hnutím, think-tankem, PR agenturou ani mediálním domem.</p>
				<p>Velká část činnosti je zabezpečena svépomocí, programování, grafika, komunikace je ryze dobrovolnickou nehrazenou prací, ve volném čase. Jediným nezbytným nákladem je webhosting a doména. Veškeré další prostředky tak jdou na propagaci projektu.</p>
				<h3 class="quando">Pomozte Programům před volbami</h3>
				<p>

						<!-- <div> -->
							<engagement-support></engagement-support>
							<p-area class="mt1">
								<p-list class="_05">
									<div class="strong green">úroveň 1 &middot; 25 000 Kč = dobrá kampaň</div>
									<div class="strong blue">&rarr; úroveň 2 &middot; 50 000 Kč = lepší kampaň</div>
									<div>úroveň 3 &middot; 75 000 Kč = skvělá kampaň</div>
									<div>úroveň 4 &middot; 100 000 Kč = hustá kampaň</div>									
								</p-list>
							</p-area>
						<!-- </div> -->
				</p>
				<p>
					Nejlepší formou, jak oslovit co nejvíce lidí mimo různé bubliny sociálních sítí, je nadále online reklama. Aby bylo možné se dostat k mnoha lidem, je potřeba do reklamy investovat. Za každou vybranou korunu lze oslovit desítky až stovky lidí, za 10 000 už to jsou potenciálně statisíce lidí.
				</p>
			</p-block>
			<p-block headline="Jak můžete přispět?" anchor="Dostupné formy">
				<p-grid class="_mw2 text-left">
					<div>
						<p-area>
							
								<div>
									<p-image :src="cdn + 'img/fund/qr-fio-transparent.png'" width="100%"></p-image>
								</div>
								<div class="p-gap"></div>
								<div>
									<div class="strong">Přímá platba na účet</div>
									<div class="strong"><p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">2502004588/2010</p-link></div>
									<div class="smaller">účet veden u FIO Banky</div>
									<div class="smaller">
										<ul>
											<li>- 100 % hodnoty jde Programům</li>
											<li>- transparentní účet</li>
											<li>- žádné poplatky</li>
										</ul>
									</div>
								</div>
							
							<div class="p-line"></div>
							<div class="smallest">
								<strong>Jak na to?</strong> Otevřete svou bankovní aplikaci a vyberte platbu pomocí QR kódu. Poté nasměrujte telefon na QR kód. Všechny potřebné údaje pro platbu se vyplní. Poté stačí už jen odeslat.
							</div>
						</p-area>
					</div>
					<div>
						<p-area>
							
								<div>
									<p-image :src="cdn + 'img/fund/qr-darujme-transparent.png'" width="100%"></p-image>
								</div>
								<div class="p-gap"></div>
								<div>
									<div class="strong">Přes <p-link href="https://darujme.cz/programydovoleb">Darujme.cz</p-link></div>
									<div class="smaller">
										<ul>
											<li>- 97 % hodnoty jde Programům</li>
											<li>- převodem nebo kartou</li>
											<li>- možnost odečtu daní</li>
											<li>- jednorázově i opakovaně</li>
											<li>- vhodné i pro firmy</li>
										</ul>
									</div>
								</div>
							
							<div class="p-line"></div>
							<div class="smallest">
								<strong>Jak na to?</strong> Spusťte foťák ne svém mobilu a nasměrujte telefon na QR kód. Není nutná žádná speciální aplikace. Odkaz vás přesměruje na <p-link href="https://darujme.cz/programydovoleb"></p-link>
							</div>
						</p-area>
					</div>
					<div>
						<p-area>
							
								<div>
									<p-image :src="cdn + 'img/merch/triko-velkej.jpg'" width="100%" class="rounded _ar"></p-image>
								</div>
								<div class="p-gap"></div>
								<div>
									<div class="strong">Koupí triček, tašek apod.</div>
									<div class="smaller">
										<ul>
											<li>- podpora projektu s odměnou</li>
											<li>- převodem, QR, případně kartou</li>
											<li>- různé možnosti dopravy</li>
										</ul>
									</div>
								</div>
								<p-box-group>
									<p-box href="https://www.t-shock.eu/cs/shop/NUBj">
										<p-box-button>Chci merch</p-box-button>
									</p-box>
								</p-box-group>
						</p-area>
					</div>
				</p-grid>
			</p-block>
			<p-block headline="Plakáty" subheadline="tisková data">
				<p class="smaller">Nyní lze objednat pouze <strong>tisková data</strong> pro vlastní tisk. Pozor, jedná se o digitální produkt - získáte soubory PDF a JPG, určený k tisku, na vlastní riziko. Nejedná se o hotový vytištěný plakát na zeď. Licence <p-link href="https://creativecommons.org/licenses/by-nd/4.0/deed.cs">CC-BY-ND</p-link> vám umožňuje široké využití, včetně komerčního, za podmínky, že si nebudete přisvojovat autorství, vyvolávat dojem spolupráce nebo sympatizování a nebudete zasahovat do podoby.</p>
				<p class="smallest mb2">
					Prodej digitálních produktů zajištěn přes platformu SimpleShop. 
					<p-modal class="inline">
						<template #init>
							<button class="inline">Obchodní podmínky</button>
						</template>
						<template #content>
							<h3>Obchodní podmínky pro prodej digitálních produktů</h3>
							<p>Programy do voleb jsou neziskový projekt a doplňkový prodej digitálních produktů nebo licencí je v dobré víře vedlejší hospodářskou činností. Případný výnos je určen pro další rozvoj a propagaci projektu.</p>
							<h4>1. Úvodní ustanovení</h4>
							<p>Tyto Všeobecné obchodní podmínky (dále jen „VOP“) upravují právní vztahy, práva a povinnosti vznikající mezi: Prodávajícím/Poskytovatelem <strong>Programy do voleb, z. s., sídlem Jana Palacha 1413, 511 01 Turnov, IČO 10906380</strong> a Kupujícím/Uživatelem (Odběratel digitálního obsahu/zákazník).</p>
							<h4>2. Předmět VOP a uzavření smlouvy</h4>
 							<p>Předmětem je zejména prodej digitálního obsahu. Smlouva se uzavírá okamžikem odeslání formuláře na webu www.programydovoleb.cz nebo simpleshop.cz. Poskytnutí digitálního obsahu je podmíněno poskytnutím osobních údajů: e-mailové adresy, jména a příjmení, adresa pro účely uskutečnění objednávky. Osobní odaje spravují Programy do voleb, zpracovatelem je distributor digitálního obsahu <p-link href="https://www.simpleshop.cz/ochrana-osobnich-udaju/">SimpleShop</p-link>.</p>
							<h4>3. Poskytování digitálního obsahu</h4>
							<ul class="classic">
								<li>Charakteristika obsahu: Digitální obsah (e-book, šablony, plakáty apod.) je poskytován v elektronické podobě.</li>
								<li>Cena je uvedena v okamžiku objednávky jako konečná. Programy do voleb nejsou plátce DPH. Z povahy věci se neplatí dopravné.</li>
								<li>Platba: Platit je možné bankovním převodem nebo QR platbou. Platba je zaznamenána na transparentním účtu <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">2502004588/2010</p-link>.</li>
								<li>Dodání: Obsah nebo odkaz do uložiště je doručen uživateli na jeho e-mailovou adresu, kterou zadal do formuláře, obvykle ihned, nejpozději do 24 hodin.</li>
								<li>Licence: Uživatel získává nevýhradní licenci k použití digitálního obsahu, na vlastní riziko, s licencí <p-link href="https://creativecommons.org/licenses/by-nd/4.0/deed.cs">CC-BY-ND</p-link>, která ho opravňuje k dalšímu šíření i komerčnímu prodeji, za podmínky, že se nebude vydávat za autora, nebude zasahovat do podoby díla a nebude vyvolávat dojem, že by byl mezi subjekty jiný než obchodní vztah.</li>
								<li>Počet stažení: Kupující může digitální obsah stahovat neomezeně, kdykoli, opakovaně, dokud je k dispozici. Prodávající ale garantuje pouze jedno stažení nebo zaslání.</li>
							</ul>
							<h4>4. Odpovědnost za vady a reklamace digitálního obsahu</h4>
							<ul class="classic">
								<li>Funkčnost: Poskytovatel odpovídá za to, že digitální obsah je bez vad a má obvyklé vlastnosti. Nezodpovídá za vady způsobené dalším nakládáním či formou nakládání s digitálním obsahem</li>
								<li>Zákonné aktualizace: Poskytovatel není povinen provádět aktualizace digitálního obsahu, pokud není ujednáno jinak.</li>
								<li>Uplatnění vady: Vady (např. nefunkční odkaz ke stažení) lze reklamovat bez zbytečného odkladu e-mailem na info@programydovoleb.cz</li>
							</ul>
							<h4>5. Odstoupení od smlouvy (platí pouze pro placené produkty)</h4>
							<ul class="classic">
								<li>Standardní odstoupení: Spotřebitel má právo odstoupit od smlouvy o koupi fyzického zboží do 14 dnů.</li>
								<li>Digitální obsah: U digitálního obsahu, který není dodán na hmotném nosiči a byl dodán se souhlasem spotřebitele a s jeho výslovným prohlášením, že byl poučen o ztrátě práva na odstoupení, nelze od smlouvy odstoupit.</li>
							</ul>						
							<h4>6. Závěrečná ustanovení</h4>
							<p>Vztahy se řídí českým právním řádem, zejména Občanským zákoníkem.</p>
							<p>V případě sporu se může zákazník obrátit na Českou obchodní inspekci s žádostí o mimosoudní řešení sporu.</p>
							<p>Prodávající má právo kdykoli tyto podmínky jednostranně změnit, přičemž pro kupujícího platí podmínky platné v době objednávky.</p>
							<p>Kopii platných podmínek si může kupující přečíst předem a jejich kopii získá spolu s objednávkou.</p>
							<p>Účinnost od 19. září 2026</p>
						</template>
					</p-modal>
				</p>
				<p-grid class="_2_4"> 
					<div v-for="item in prints">
							<div class="_poster">
								<p-image width="100%" :src="item.src" class="rounded"></p-image>
							</div>
							<div class="mt 25">
								<span class="smallest strong">{{ item.name }} &rarr; </span>
								<p-link :href="item.link"><p-badge background="var(--blue)">{{ item.price }} Kč</p-badge></p-link>
							</div>
						
					</div>
				</p-grid>
			</p-block>
			<p-block headline="Na co lze nyní přispět?" anchor="Účel podpory">
				<p-area class="inline">
					<p-list class="_025">
						<div>
							<p-box>
								<p-box-icon type="komunalni-volby"></p-box-icon>
								<p-box-label>Kampaň před komunálními volbami.</p-box-label>
							</p-box>
						</div>
						<div>
							<p-box>
								<p-box-icon type="senatni-volby"></p-box-icon>
								<p-box-label>Kampaň před senátními volbami.</p-box-label>
							</p-box>
						</div>
						<div>
							<p-box>
								<p-box-icon type="pdv"></p-box-icon>
								<p-box-label>Na provoz a rozvoj webu.</p-box-label>
							</p-box>
						</div>
					</p-list>
				</p-area>
				<p>Všechny výdaje lze sledovat na <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">transparentním účtu</p-link>. Peníze nikdy nejdou na platy, vybavení, benzín, jídlo, oblečení, papíry ani elektroniku. Veškerá činnost je dobrovolná.</p>
			</p-block>
			<p-block headline="Kdo řeší peníze?" anchor="Správa darů">
				<p-area class="inline">
						<div class="p-offset">
							<div>
								<p-image src="https://programydovoleb.cz/static/profilovka.jpg" width="10em" :rounded="true" :border="true"></p-image>
							</div>
							<div>
								<div class="strong">Štěpán Ryšavý</div>
								<div class="smaller">zakladatel projektu</div>
								<div class="p-gap"></div>
								<div class="strong">Programy do voleb, z. s.</div>
								<div class="smaller">
									<ul>
										<li>- zapsaný spolek</li>
										<li>- IČO: <p-link href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1126297&typ=PLATNY">10906380</p-link></li>
										<!-- <li>- L 13767 vedený u KS v Hradci Králové</li> -->
										<li>- sídlo: Jana Palacha 1413, Turnov</li>
									</ul>
								</div>
							</div>
						</div>
					<div class="p-line"></div>
					<div class="smaller">Chcete se na něco zeptat? Napište <a href="mailto:dary@programydovoleb.cz">dary@programydovoleb.cz</a></div>
					<div class="p-line"></div>
					<div class="smaller">
						Výroční zprávy včetně přehledu nákladů od založení: 
						<p-link href="https://programydovoleb.cz/static/docs/2024-vyrocni-zprava.pdf">2024</p-link>,
						<p-link href="https://programydovoleb.cz/static/docs/2023-vyrocni-zprava.pdf">2023</p-link>,
						<p-link href="https://programydovoleb.cz/static/docs/2022-vyrocni-zprava.pdf">2022</p-link>,
						<p-link href="https://programydovoleb.cz/static/docs/2021-vyrocni-zprava.pdf">2021</p-link>
					</div>						
				</p-area>
			</p-block>
			<p-block headline="Lze pomoct i nefinančně?" anchor="Jiné možnosti">
				<p>Samozřejmě. Velká část <em>Programů</em> vzniká díky dobrovolnické práci. Nemusí jít nutně o hodiny práce, ale i drobné tipy, zaslání odkazu, upozornění na chybu ve funkčnosti nebo překlep.</p>
				<p>Jednou z výrazných pomocí je sdílení na sociálních sítích. Doporučování v uzavřených skupinách, chat skupinách apod, kam není jinak možnost proniknout. <em>Programy</em> jsou nejvíc aktivní na <p-link href="https://www.threads.net/programydovoleb">Threads</p-link>, <p-link href="https://bsky.app/profile/programydovoleb.bsky.social">BlueSky</p-link> a <p-link href="https://www.instagram.com/programydovoleb">Instagramu</p-link>. Najdete je ale i na dalších <router-link to="/o-projektu/kontakty#socialni-site">sociálních sítích</router-link>.</p>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/pdv-26.svg'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<top-tasks></top-tasks>
		</template>
	</p-layout-divided>
</div>