<div class="homepage-senat">
	<p>V řádných senátních volbách se obměňuje třetina Senátu, tedy 27 senátorů z 81. Tentokrát se týkají těchto obvodů:</p>
	<p-area :class="{primary: elections.status === 2}">
		<p-loader :rule="election" reserve="100px">
			<template v-if="election">
				<div :class="{'columns-4': election.list[0].$dotcene.length > 1}">
					<div v-for="(obvod, index) in election.list[0].$dotcene">
						<!-- <div class="p-offset balanced reverse"> -->
							<!-- <div>								 -->
								<span class="smallest dimm wib w25 pr05 text-right keep">{{ obvod.OBVOD }} &middot; </span>
								<router-link :to="'/volby/senatni-volby/' + elections.id + '/obvod/' + obvod.OBVOD" class="strong">{{ obvod.NAZEV }}</router-link>
								
								<div class="smaller" v-if="election && election.list[0].status === 3">
									<p-list-linear class="nebo">
										<span v-for="cand in sortBy(election.list[0].$kandidati.filter(x => x.OBVOD === obvod.OBVOD && (x.ZVOLEN_K1 === 1 || x.ZVOLEN_K2 === 1)), 'PRIJMENI', null, true)">
											<router-link :to="'/volby/senatni-volby/' + elections.id + '/kandidat/' + cand.id">{{ cand.JMENO }} {{ cand.PRIJMENI }}</router-link>
										</span>
									</p-list-linear>
								</div>
								<div v-if="election && election.list[0].status < 3 && election.list[0].radne === 0">
								
										<p v-html="election.list[0].popis"></p>

										<p-grid class="_tiny smaller">
											<div v-for="(cand, index2) in sortBy(election.list[0].$kandidati.filter(x => x.OBVOD == obvod.OBVOD), 'PRIJMENI', '', true)" class="_r">
												<p-photo :data="cand.$data.photo[0]" width="100%" class="_ar1"></p-photo>
												<div class="p-gap"></div>
												<p-label :color="colorByItem(cand, election, 'NSTRANA')" :after="true">
													<router-link :to="'/volby/senatni-volby/' + elections.id + '/kandidat/' + cand.id" class="strong">{{ cand.JMENO }} {{ cand.PRIJMENI }}</router-link>
												</p-label>
												<div class="smaller dimm">{{ cand.NAZEV_VS}}</div>
												<div class="mv025">
													<p-list-linear class="smallest strong or" v-if="cand.$data.web.length > 0 || cand.$priority > 0 || cand.$odpovedi > 0">
														<span v-if="cand.$data.web.length > 0">
															<p-link :href="cand.$data.web[0].value">Web</p-link>
														</span>
														<span v-if="cand.$priority > 0">
															<router-link :to="'/volby/senatni-volby/' + elections.id + '/kandidat/' + cand.id + '/priority'">Priority</router-link>
														</span>
														<span v-if="cand.$odpovedi > 0">
															<router-link :to="'/volby/senatni-volby/' + elections.id + '/kandidat/' + cand.id + '/otazky-a-odpovedi'">Odpovědi</router-link>
															
														</span>
													</p-list-linear>
												</div>
												<p-icon icon="answers-mini" class="_icon" v-if="cand.$odpovedi > 0" size="3em"></p-icon>
											</div>
										</p-grid>

										<div class="p-line"></div>

										<div class="smaller">

											Porovnejte si odpovědi kandidátů na otázky:
											<p-list-linear>
												<span>
													<router-link to="/volby/senatni-volby/171/otazka/382?vyber=60">proč kandiduje</router-link>
												</span><span>
													<router-link to="/volby/senatni-volby/171/otazka/383?vyber=60">co lze stihnout za 2 roky</router-link>
												</span><span>
													<router-link to="/volby/senatni-volby/171/otazka/384?vyber=60">hodnocení vlády</router-link>
												</span><span>
													<router-link to="/volby/senatni-volby/171/otazka/385?vyber=60">Trump a evropské dění</router-link>
												</span>
											</p-list-linear>
										</div>
								</div>	
								<div v-if="election && election.list[0].status < 3 && election.list[0].radne === 1" class="ml175">

										<component :is="election.list[0].dotcene ? 'div' : 'p-list'" class="invisible" v-if="election.list[0].$kandidati && election.list[0].$kandidati.filter(x => x.OBVOD == obvod.OBVOD).length > 0" :class="{'columns-4': election.list[0].$dotcene.length === 1}">
											<div v-for="(cand, index2) in sortBy(election.list[0].$kandidati.filter(x => x.OBVOD == obvod.OBVOD), 'PRIJMENI', '', true)">
												<p-label :color="colorByItem(cand, election, 'NSTRANA,PSTRANA')" class="smaller">
													<router-link :to="'/volby/senatni-volby/' + elections.id + '/kandidat/' + cand.id" class="is-span">{{ cand.JMENO }} {{ cand.PRIJMENI }}</router-link>
												</p-label>
											</div>
										</component>
										<div v-else>
											<em class="smallest dimm">žádný známý kandidát</em>
										</div>

								</div>		
							<!-- </div> -->
						<!-- </div> -->
					</div>
				</div>
			</template>
		</p-loader>
	</p-area>
</div>