<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Rejstřík politických subjektů" :level="1">
				<p>Zde najdete nejen nejznámější české strany a hnutí, ale také jejich koalice, sdružení i historické záznamy.</p>
				<search-party link="/rejstrik/"></search-party>
				<div class="p-gap_3"></div>
				<p-block headline="Vybrané strany, hnutí a koalice">
					<p-loader :rule="parties">
						<div v-if="parties">
							<p-columns>
								<div v-for="(item, index) in sortBy(parties.list, 'NAZEV', null, true)">
									<party-quicklook :prefetch="item"></party-quicklook>
								</div>
							</p-columns>
						</div>
					</p-loader>
				</p-block>
			</p-block>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<top-tasks></top-tasks>
		</template>
	</p-layout-divided>
</div>