<div class="komunalni-volby">
	<template v-if="current.status === 3 && current.$ucast.length > 0">
		<template v-for="(obvod, index) in obvody">
			<component :is="obvod.OBVODY === 2 ? 'p-block-expandable' : 'div'" :headline="'Obvod ' + (index + 1)">
				<p-block headline="Výsledky">
					<p-area class="relative">
						<election-graph :list="sortByVotes(current.$vysledky, current.$strany, obvod.OBVODY === 2 ? index + 1 : null)"></election-graph>
						<div class="p-gap"></div>
						<p-collapsible label="Podrobné výsledky">
							<election-table :list="sortByVotes(current.$vysledky, current.$strany, obvod.OBVODY === 2 ? index + 1 : null)"></election-table>
						</p-collapsible>
						<div class="attendance">
							<p-line-graph :value="current.$ucast.find(x => obvod.OBVODY === 2 ? x.OBVOD === obvod.COBVODU : true).UCAST" color="var(--blue)"></p-line-graph>
							<div class="text-right smallest dimm">účast</div>
						</div>
					</p-area>
				</p-block>
				<div class="p-gap_2"></div>
				<p-block headline="Statistiky" v-if="current.$ucast">
					<p-area>
						<election-stats :data="current.$ucast.find(x => obvod.OBVODY === 2 ? x.OBVOD === obvod.COBVODU : true)" :results="current.$vysledky"></election-stats>
					</p-area>
				</p-block>
			</component>
		</template>
		<p-block headline="Zvolení zastupitelé">
			<component :is="consolidate(people(sortByVotes(current.$vysledky, current.$strany), current.$zvoleni)).length > 100 ? 'election-list' : 'election-grid'" :list="consolidate(people(sortByVotes(current.$vysledky, current.$strany), current.$zvoleni))"></component>
		</p-block>
		<p-block headline="Kandidáti">
			<component :is="current.$kandidati.length > 10 ? 'election-list' : 'election-grid'" :list="people(parties(current.$strany, current.$strany), current.$kandidati, true)"></component>
		</p-block>
	</template>
	<template v-if="current.status === 3 && current.$ucast.length === 0">
		<p-area borderColor="var(--red)" class="strong">Volby neproběhly, nebyla registrovaná ani jedna kandidátní listina.</p-area>
		<div class="p-gap_3"></div>
	</template>
	
	<template v-if="current.status === 1">
		<p-block headline="Předběžný přehled" :hide="true">
			<div class="p-offset reverse balanced">
				<div>
					<h2><button class="inline" @click="compactList = true" :class="{'active': compactList}">Seznam</button> / <button class="inline" @click="compactList = false" :class="{'active': !compactList}">Přehled</button></h2>
				</div>
				<div v-if="current.status === 1">
					<p-modal>
						<template #init>
							<p-label color="var(--red)" class="smaller strong red">Předběžný přehled</p-label>
						</template>
						<template #content>
							<p>Zde najdete přehled stran a kandidátů, kteří už nějakou formou oznámili záměr nebo odhodlání kandidovat. Kandidáti uvedeni s číslem již byli oznámeni na té pozici kandidátky, ostatní jsou řazeni dle abecedy a nemusí být součástí finální podoby kandidátky. Pořadí a složení se může měnit. Tento přehled bude nahrazen za oficiální přehled, který vydává Český statistický úřad, cca 45 dní před volbami.</p>
						</template>
					</p-modal>
				</div>
			</div>	
			<div class="p-gap"></div>
			<p-columns>
				<div v-for="(party, index) in sortBy(current.$strany, (compactList ? 'ZKRATKA' : 'NAZEV'), '', true)">
					<component :is="compactList ? 'party-preview' : 'party-preview-large'" :link="'/volby/komunalni-volby/' + current.id" :party="party" :candidates="current.$kandidati.filter(x => x.OSTRANA === party.OSTRANA)" :election="null" :elections="data"></component>
				</div>
				<div v-if="current.$strany.length === 0">
					<p-area icon="icon-none" class="smaller">
						<strong>Zatím zde není žádná strana</strong>
						<div class="smallest">Víte o nějaké? Dejte vědět</div>
					</p-area>
				</div>
			</p-columns>
			<!-- <election-grid :leaders="true" :list="people(parties(current.$strany, current.$strany), current.$kandidati, true)"></election-grid> -->
			<template v-if="current.status < 2">
				<div class="p-line"></div>

				<div class="smallest dimm">
					Kompletní seznam registrovaných stran a hnutí bude znám koncem srpna 2026
				</div>

				<div class="_edit smallest mt1">
					<p-icon icon="edit"></p-icon>
					 
					<pop-up>
						<template #init>
							<span class="green strong">Doplnit nebo upravit</span>
						</template>
						<template #content>
							<editable-suggest :part="'KV:' + data.list[0].id + ':' + town" type="seznam"></editable-suggest>
						</template>
					</pop-up>
				</div>
			</template>
		</p-block>
	</template>
	<p-block v-if="data.list[0].$otazky && data.list[0].$otazky.length > 0" headline="Otázky a odpovědi">
		<template v-for="(qitem, qindex) in qenum">
			<p-collapsible :label="qitem.label" :status="data.list[0].$otazky.filter(x => x.type === qitem.type).length" v-if="data.list[0].$otazky.filter(x => x.type === qitem.type).length > 0">
				<p-area>
					<div :class="qitem.type < 3 ? 'columns' : 'p-list'">
						<div v-for="(qquestion, qqindex) in data.list[0].$otazky.filter(x => x.type === qitem.type && x.priority === 1)">
							<router-link class="strong" :to="'/volby/komunalni-volby/' + data.list[0].id + '/' + qitem.hash + '/' + qquestion.id + '?vyber=' + town">{{ qquestion.question }}</router-link>
							<div class="smaller" v-if="qquestion.comment">{{ truncate(qquestion.comment, 12) }}</div>
						</div>
					</div>
					<template v-if="data.list[0].$otazky.find(x => x.type === qitem.type && x.priority === 2)">
						<div class="p-gap"></div>
						<p-collapsible label="Doplňkové otázky">
							<div :class="qitem.type < 3 ? 'columns' : 'p-list'">
								<div v-for="(qquestion, qqindex) in data.list[0].$otazky.filter(x => x.type === qitem.type && x.priority === 2)">
									<router-link :to="'/volby/komunalni-volby/' + data.list[0].id + '/' + qitem.hash + '/' + qquestion.id + '?vyber=' + town">{{ qquestion.question }}</router-link>
								</div>
							</div>
						</p-collapsible>
					</template>
				</p-area>
			</p-collapsible>
		</template>
	</p-block>
	<p-block headline="Stav před volbami">
		<p-area v-if="leadership && (leadership.mayor != -1 || leadership.coalition != -1)" class="highlight shadow">
			<p-grid class="_2_classic">
				<div v-if="leadership.mayor != -1">
					<div class="smallest mb1 strong">{{ [3,4].indexOf(leadership.cis.obec[0].DRUHZASTUP) === -1 ? 'Starosta' : 'Primátor' }}</div>
					<person-preview-block :link="'/volby/komunalni-volby/' + leadership.mayor.volby" :cand="leadership.mayor" :current="{$kandidati: []}" :data="leadership" class="_noBG"></person-preview-block>
				</div>
				<div v-if="leadership.coalition != -1">
					<div class="smallest mb1 strong">
						<div class="p-offset reverse balanced">
							<div>
								Koalice
							</div>
							<div>
								{{ leadership.coalition.reduce((a, b) => a + b.MAND_STR, 0) }} mandátů z {{ leadership.cis.obec[0].MANDATY }}
							</div>
						</div>						
					</div>
					<p-list class="invisible smaller">
						<div v-for="member in sortBy(leadership.coalition, 'MAND_STR', null, null, true)">
							<div class="p-offset reverse balanced">
								<div>
									<p-label :color="colorByItem(member, leadership)">
										<router-link :to="'/volby/komunalni-volby/' + member.volby + '/strana/' + member.id">
											{{ member.NAZEV }}
										</router-link>								
									</p-label>
								</div>
								<div class="smaller dimm">
									{{ member.MAND_STR }}
								</div>
							</div>
						</div>
					</p-list>
				</div>
			</p-grid>
			<div class="p-line"></div>
			<div class="smallest dimm">Poslední aktualizace {{ date(sortBy(leadership.list, 'updated', null, true, true)[0].updated, 3) }}</div>
		</p-area>
		<div class="_edit smallest mt1">
			<p-icon icon="edit"></p-icon>
			 
			<pop-up>
				<template #init>
					<span class="green strong">Doplnit nebo upravit</span>
				</template>
				<template #content>
					<editable-suggest part="Oprava starosty" type="leadership"></editable-suggest>
				</template>
			</pop-up>
			 &middot; 
			<router-link :to="'/obec/' + town" class="dimm">více zde</router-link>
		</div>
	</p-block>
	<p-block headline="Minulé volby">
		<election-results :id="current.predchozi" :type="{key: 'KV', hash: 'komunalni-volby', name: 'Komunální volby'}" :election="{'datum_label': null}" :spec="town" :label="data.list[0].$dotcene[0].NAZEVZAST"></election-results>
	</p-block>
	<p-block headline="Zajímavosti">
		<p-area icon="komunalni-volby" class="inline highlight shadow">
			<router-link :to="'/obec/' + town" class="strong">Seznam voleb v obci <em>{{ current.$dotcene[0].NAZEVZAST }}</em></router-link>
			<div class="smaller">Všechny minulé výsledky a srovnání s krajskými nebo celostátními výsledky.</div>
		</p-area>
		<div class="p-gap"></div>
		<p-collapsible label="Adresy a kontakty" logo="address">
			<p-list class="smaller _05" v-if="core">
				<div class="p-offset"><div class="_w8">Kontakty</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'address')">
						{{ item.value }}
					</div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'phone')">
						+420 {{ number(item.value) }}
					</div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'email')">
						<p-link :href="'mailto:' + item.value">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">Webové stránky</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'link')">
						<p-link :href="item.value"></p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">Sociální sítě</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'social')">
						<p-link :href="item.value"></p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">PSČ</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'psc')">
						<p-link :href="'https://www.psc.cz/' + item.value">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">Datovka</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'datovka')">
						<p-link :href="'https://www.mojedatovaschranka.cz/sds/detail?dbid=' + item.value">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">IČO obce</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'ico')">
						<p-link :href="'https://monitor.statnipokladna.gov.cz/ucetni-jednotka/' + ico(item.value)">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="smallest dimm">
					Některé starší údaje již nemusí být aktuální.
				</div>
				<div>
					<div class="_edit smallest mt1">
						<p-icon icon="edit"></p-icon>
						 
						<pop-up>
							<template #init>
								<span class="green strong">Opravit</span>
							</template>
							<template #content>
								<editable-suggest part="Kontaktní údaje" type="meta"></editable-suggest>
							</template>
						</pop-up>
					</div>
				</div>
			</p-list>
		</p-collapsible>
		<!-- <p-collapsible label="Mapa obce" logo="map">

		</p-collapsible> -->
		<p-collapsible label="Rozpočet obce" logo="results">
			<p>Pokud vás zajímá, jak hlavní město hospodaří, může se podívat na rozklikávací rozpočet. Službu Mon1tor poskytuje Ministerstvo financí pod touto <p-link href="https://monitor.statnipokladna.gov.cz/datovy-katalog/licence">licencí</p-link> .</p>
			<object :data="'https://monitor.statnipokladna.cz/api/i-view/' + ico(core.list[0].$data.find(x => x.type === 'ico').value)" width="100%" height="410" type="text/html"></object>
		</p-collapsible>
		<p-collapsible label="Statistiky a zajímavosti" logo="hint">
			<p>Zajímají vás podrobnější informace o <em>{{ current.$dotcene[0].NAZEVZAST }}</em>? Například údaje o složení obyvatel, nezaměstnanosti, ke kterému úřadu či soudu patří? Navštivte web RIS (regionální informační servis), který provozuje Ministerstvo pro místní rozvoj.</p>
			<p-box-group>
				<p-box :href="'https://vdp.cuzk.gov.cz/vdp/ruian/obce/' + town">
					<p-box-button>RÚIAN</p-box-button>
				</p-box>
				<p-box :href="'https://www.risy.cz/cs/vyhledavace/obce/detail?Zuj=' + town">
					<p-box-button>RIS - Regionální informační servis</p-box-button>
				</p-box>
			</p-box-group>
		</p-collapsible>
		<p-collapsible label="Historie kandidátů" logo="person">
			<history-candidates :num="town"></history-candidates>
		</p-collapsible>
	</p-block>
	<p-block headline="Nepřehlédněte" v-if="data && core && (core.list[0].$core[0].$part || core.list[0].$core[0].$parts.length > 0)">

		<div v-if="core && core.list[0].$core[0].$parts.length > 0" class="mb1">
			<p>Voliči v městě <em>{{ current.$dotcene[0].NAZEVZAST }}</em> volí také do zastupitelstva své městské části. U voleb tak dostávají dvě volební obálky a dva volební listy. V případě, že se zde konají také senátní volby nebo místní referendum, dostanou voliči ještě více lístků.</p>

			<p-collapsible label="Seznam městských částí">
				<p-columns class="smaller _4">
					<div v-for="part in core.list[0].$core[0].$parts">
						<router-link :to="'/volby/komunalni-volby/' + current.id + '/obec/' + part.NUM">{{ part.NAZEV }}</router-link>
					</div>
				</p-columns>
			</p-collapsible>
		</div>

		<div v-if="core && core.list[0].$core[0].$part && core.list[0].$core[0].$part.length > 0" class="mb1">
			<p-area icon="warning" class="inline">
				<div>
					Voliči z městské části <em>{{ current.$dotcene[0].NAZEVZAST }}</em> volí také na 

					<span v-for="part in core.list[0].$core[0].$part">
						<router-link :to="'/volby/komunalni-volby/' + current.id + '/obec/' + part.NUM" class="strong">magistrát města {{ part.NAZEV }}</router-link>
					</span>
				</div>
				<div class="smallest">U voleb by měli dostat dva volební listy a dvě obálky.</div>
			</p-area>
		</div>
	</p-block>
</div>