<div class="komunalni-volby">
	<p-box-group v-if="core">
		<p-box bg="rgba(0, 0, 0, 0.03)">
			<p-box-label>{{ current.$dotcene[0].MANDATY || current.$dotceneMinule[0].MANDATY }} zastupitelů</p-box-label>
		</p-box>
		<template v-for="item in core.list[0].$data.filter(x => x.type === 'link')">
			<p-box :href="item.value">
				<p-box-label>Web</p-box-label>
			</p-box>
		</template>
		<p-box :to="'/obec/' + town">
			<p-box-label>Volební historie</p-box-label>
		</p-box>
		<p-box-gap></p-box-gap>
		<template v-for="item in core.list[0].$data.filter(x => x.type === 'social')">
			<p-box :href="item.value">
				<p-box-icon :type="type(item.value)"></p-box-icon>
			</p-box>
		</template>
	</p-box-group>
	<p v-if="core && current">
		{{ current.$dotcene[0].NAZEVZAST }}
		je
		<template v-if="core.cis.druh[0].id === 4">
			{{ core.cis.druh[0].ZKRATKA }}.
		</template>
		<template v-else-if="core.cis.druh[0].id === 5">
			{{ core.cis.druh[0].ZKRATKA }}, součástí města {{ core.list[0].$core[0].$part[0].NAZEV }}. Lidé tak volí zastupitele dvakrát.
		</template>
		<template v-else>
			{{ core.cis.druh[0].ZKRATKA }} v okrese {{ core.cis.okres.find(x => x.NUMNUTS === current.$dotcene[0].OKRES).NAZEV }}.
		</template>
		<template v-for="pop in core.list[0].$data.filter(x => x.type === 'population' && x.updated < current.datum).filter((x, i) => i === 0)">
			Podle údaje z {{ date(pop.updated) }} zde žilo {{ number(pop.value) }} obyvatel.
		</template>
		Volí se zde {{ current.$dotcene[0].MANDATY || current.$dotceneMinule[0].MANDATY }} zastupitelů. 
		<template v-if="leadership && leadership.mayor != -1">
			Posledním {{ [4,3].indexOf(core.cis.druh[0].id) > -1 ? 'primátorem' : 'starostou' }} před volbami byl{{ isWoman(leadership.mayor) ? 'a' : '' }}
			{{ leadership.mayor.JMENO + ' ' + leadership.mayor.PRIJMENI }} z <em>{{ leadership.party.NAZEV }}</em>.
			<template v-if="leadership.coalition && leadership.coalition.length > 1">
				Součástí koalice byli také <p-list-linear class="nebo inline">
					<span v-for="member in leadership.coalition.filter(x => x.id != leadership.party.id)">
						<em>{{ member.NAZEV }}</em>
					</span>
					se souhrnou silou 
					{{ leadership.coalition.reduce((a, b) => a + b.MAND_STR, 0) }} z {{ current.$dotceneMinule[0].MANDATY }} mandátů.
				</p-list-linear>
			</template>
		</template>
		<template v-if="current.status === 1">Zatím <p-lang :value="current.$strany.length" :end="['není známá žádná strana, která by se hlásila', 'je známa jedna strana, která se hlásí', 'jsou známy %% strany, které se hlásí', 'je známo %% stran, které se hlásí']"></p-lang> do voleb.</template>	
		<template v-if="current.status === 2">Do voleb<p-lang :value="current.$strany.length" :end="['není registrována žádná strana nebo kandidát', 'je registrována jedna strana', 'jsou registrovány %% strany', 'je registrováno %% stran']"></p-lang>.</template>
		<template v-if="current.status === 2">Voleb se<p-lang :value="current.$strany.length" :end="['neúčastnila žádná strana nebo kandidát', 'se účastnila jen jedna strana', 'se účastnily %% strany', 'se účastnilo %% stran']"></p-lang>.</template>	
	</p>
	<template v-if="current.status === 3 && current.$ucast.length > 0">
		<template v-for="(obvod, index) in obvody">
			<component :is="obvod.OBVODY === 2 ? 'p-block-expandable' : 'div'" :headline="'Obvod ' + (index + 1)">
				<p-block headline="Výsledky">
					<p-area class="relative">
						<election-graph :list="sortByVotes(current.$vysledky, current.$strany, obvod.OBVODY === 2 ? index + 1 : null)"></election-graph>
						<div class="p-gap"></div>
						<p-collapsible label="Podrobné výsledky">
							<election-table :list="sortByVotes(current.$vysledky, current.$strany, obvod.OBVODY === 2 ? index + 1 : null)"></election-table>
						</p-collapsible>
						<div class="attendance">
							<p-line-graph :value="current.$ucast.find(x => obvod.OBVODY === 2 ? x.OBVOD === obvod.COBVODU : true).UCAST" color="var(--blue)"></p-line-graph>
							<div class="text-right smallest dimm">účast</div>
						</div>
					</p-area>
				</p-block>
				<div class="p-gap_2"></div>
				<p-block headline="Volební statistiky" v-if="current.$ucast">
					<p-area>
						<election-stats :data="current.$ucast.find(x => obvod.OBVODY === 2 ? x.OBVOD === obvod.COBVODU : true)" :results="current.$vysledky"></election-stats>
					</p-area>
				</p-block>
			</component>
		</template>
		<p-block headline="Zvolení zastupitelé" class="mt4">
			<component :is="consolidate(people(sortByVotes(current.$vysledky, current.$strany), current.$zvoleni)).length > 100 ? 'election-list' : 'election-grid'" :list="consolidate(people(sortByVotes(current.$vysledky, current.$strany), current.$zvoleni))"></component>
		</p-block>
		<p-block headline="Kandidáti">
			<component :is="current.$kandidati.length > 10 ? 'election-list' : 'election-grid'" :list="people(parties(current.$strany, current.$strany), current.$kandidati, true)"></component>
		</p-block>
	</template>
	<template v-if="current.status === 3 && current.$ucast.length === 0">
		<p-area borderColor="var(--red)" class="strong">Volby neproběhly, nebyla registrovaná ani jedna kandidátní listina.</p-area>
		<div class="p-gap_3"></div>
	</template>
	
	<template v-if="current.status < 3">
		<p-block :headline="current.status === 1 ? 'Předběžný přehled' : 'Přehled stran'" :hide="true">
			<div class="p-offset reverse balanced">
				<div>
					<h2><button class="inline" @click="compactList = true" :class="{'active': compactList}">Seznam</button> / <button class="inline" @click="compactList = false" :class="{'active': !compactList}">Přehled</button></h2>
				</div>
				<div v-if="current.status === 1">
					<p-modal>
						<template #init>
							<p-label color="var(--red)" class="smaller strong red">Předběžný přehled</p-label>
						</template>
						<template #content>
							<p>Zde najdete přehled stran a kandidátů, kteří už nějakou formou oznámili záměr nebo odhodlání kandidovat. Kandidáti uvedeni s číslem již byli oznámeni na té pozici kandidátky, ostatní jsou řazeni dle abecedy a nemusí být součástí finální podoby kandidátky. Pořadí a složení se může měnit. Tento přehled bude nahrazen za oficiální přehled, který vydává Český statistický úřad, cca 45 dní před volbami.</p>
						</template>
					</p-modal>
				</div>
			</div>	
			<div class="p-gap"></div>
			<p-columns>
				<div v-for="(party, index) in sortBy(current.$strany, (compactList ? 'ZKRATKA' : 'NAZEV'), '', true)">
					<component :is="compactList ? 'party-preview' : 'party-preview-large'" :link="'/volby/komunalni-volby/' + current.id" :party="party" :candidates="current.$kandidati.filter(x => x.OSTRANA === party.OSTRANA)" :election="null" :elections="data"></component>
				</div>
				<div v-if="current.$strany.length === 0">
					<p-area icon="icon-none" class="smaller">
						<strong>Zatím zde není žádná strana</strong>
						<div class="smallest">Víte o nějaké? Dejte vědět</div>
					</p-area>
				</div>
			</p-columns>
			<!-- <election-grid :leaders="true" :list="people(parties(current.$strany, current.$strany), current.$kandidati, true)"></election-grid> -->
			<template v-if="current.status < 2">
				<div class="p-line"></div>

				<div class="smallest dimm">
					Kompletní seznam registrovaných stran a hnutí bude znám koncem srpna 2026
				</div>

				<div class="_edit smallest mt1">
					<p-icon icon="edit"></p-icon>
					 
					<pop-up>
						<template #init>
							<span class="green strong">Doplnit nebo upravit</span>
						</template>
						<template #content>
							<editable-suggest :part="'KV:' + data.list[0].id + ':' + town" type="seznam"></editable-suggest>
						</template>
					</pop-up>
				</div>
			</template>
		</p-block>
	</template>
	<p-block v-if="current.status < 3" headline="Jak volit?" :hide="true">
		<p-area icon2="hint">
			<h2 class="pt025 mt0 mb05">Jak se volí?</h2>
			<p>Oproti jiným volbám máme tolik hlasů, kolik se volí zastupitelů. {{ current.$dotcene[0].NAZEVZAST }} volí {{ current.$dotcene[0].MANDATY || current.$dotceneMinule[0].MANDATY }} zastupitelů. Zároveň jsou všechny strany a kandidáti vytištění na jeden jediný list papíru. Je pouze na nás, jak s hlasy naložíme:</p>
			<p-collapsible label="Chci dát všechny hlasy jedné straně">
				<div class="p-offset">
					<div>
						<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-1.png" width="12rem" :rounded="true"></p-image>
					</div>
					<div>
						<p>Tohle je jednoduché. Nahoře dáte křížek k názvu strany a hotovo. Strana získá plný počet vašich hlasů, tedy {{ current.$dotcene[0].MANDATY || current.$dotceneMinule[0].MANDATY }}.</p>
					</div>
				</div>
			</p-collapsible>
			<p-collapsible label="Chci zvolit jednu stranu, ale mám ještě oblíbeného kandidáta z jiné strany">
				<div class="p-offset">
					<div>
						<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-2.png" width="12rem" :rounded="true"></p-image>
					</div>
					<div>
						<p>V tomhle případě dáte křížek k názvu strany a pak dáte křížky k těm kandidátům z jiných stran, které chcete podpořit.</p>
						<p>Pokud vyznačíte 4 kandidáty z jiných stran, tak dostanou jeden hlas oni (a jejich strany) a vámi zakřížkovaná strana získá zbylých {{ (current.$dotcene[0].MANDATY || current.$dotceneMinule[0].MANDATY) - 4 }} hlasů.</p>
						<p>Důležité: nedávejte více křížků, než máte hlasů. Lístek by byl neplatný. Navíc, malé křížky u strany, které jste dali velký křížek, se nepočítají.</p>
					</div>
				</div>
			</p-collapsible>
			<p-collapsible label="Chci si jen vybrat kandidáty napříč stranami">
				<div class="p-offset">
					<div>
						<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-3.png" width="12rem" :rounded="true"></p-image>
					</div>
					<div>
						<p>V tomhle případě dáte křížky k těm kandidátům, které chcete podpořit. Nedáváte ale křížek k názvu strany.</p>
						<p>Důležité: nedávejte více křížků, než máte hlasů. Lístek by byl neplatný.</p>
						<p>Pokud ale použijete méně křížků, lístek bude platný. Jen nevyužijete všechny své hlasy.</p>
					</div>
				</div>
			</p-collapsible>
			<div class="p-gap"></div>
			<p-box-group>
				<p-box to="/jak-volit/komunalni-volby">
					<p-box-button class="primary">Více o tom, jak volit</p-box-button>
				</p-box>
				<p-box :to="$route.path.split('/obec')[0]">
					<p-box-label>Obecně o volbách</p-box-label>
				</p-box>
			</p-box-group>
		</p-area>
	</p-block>
	<p-block v-if="data.list[0].$otazky && data.list[0].$otazky.length > 0" headline="Otázky a odpovědi">
		<template v-for="(qitem, qindex) in qenum">
			<p-collapsible :label="qitem.label" :status="data.list[0].$otazky.filter(x => x.type === qitem.type).length" v-if="data.list[0].$otazky.filter(x => x.type === qitem.type).length > 0">
				<p-area>
					<div :class="qitem.type < 3 ? 'columns' : 'p-list'">
						<div v-for="(qquestion, qqindex) in data.list[0].$otazky.filter(x => x.type === qitem.type && x.priority === 1)">
							<router-link class="strong" :to="'/volby/komunalni-volby/' + data.list[0].id + '/' + qitem.hash + '/' + qquestion.id + '?vyber=' + town">{{ qquestion.question }}</router-link>
							<div class="smaller" v-if="qquestion.comment">{{ truncate(qquestion.comment, 12) }}</div>
						</div>
					</div>
					<template v-if="data.list[0].$otazky.find(x => x.type === qitem.type && x.priority === 2)">
						<div class="p-gap"></div>
						<p-collapsible label="Doplňkové otázky">
							<div :class="qitem.type < 3 ? 'columns' : 'p-list'">
								<div v-for="(qquestion, qqindex) in data.list[0].$otazky.filter(x => x.type === qitem.type && x.priority === 2)">
									<router-link :to="'/volby/komunalni-volby/' + data.list[0].id + '/' + qitem.hash + '/' + qquestion.id + '?vyber=' + town">{{ qquestion.question }}</router-link>
								</div>
							</div>
						</p-collapsible>
					</template>
				</p-area>
			</p-collapsible>
		</template>
	</p-block>
	<p-block headline="Může se hodit" v-if="!false">
		<p-collapsible label="Aktivita stran">
			<p-loader :rule="current && partyList">
				<div v-if="current && partyList">

					<p-area>
						<p-columns class="_4 smaller">
							<div v-for="party in sortBy(partyList.list, 'ZKRATKA', null, true)">
								<div class="p-offset reverse">
									<div>
										<p-label :color="colorByItem(party, {cis: {strany: partyList.list}})">
											{{ party.ZKRATKA }}
										</p-label>
									</div>
									<div>
										<p-icon :icon="current.$strany.find(x => x.VSTRANA === party.VSTRANA) || current.$kandidati.find(x => x.NSTRANA === party.VSTRANA || x.PSTRANA === party.VSTRANA) ? 'icon-check' : 'icon-against'"></p-icon>
									</div>
								</div>
							</div>
						</p-columns>
						<div class="smallest" v-if="current.status === 1">
							<div class="p-line"></div>
							<p-label color="var(--red)" class="strong">Pozor: </p-label>
							Toto je předběžný seznam, finální data budou dostupná až 45 dní před volbami
						</div>
					</p-area>
				</div>
			</p-loader>
		</p-collapsible>
		<p-collapsible label="Přepočet na mandáty">
			<p-area>
				<table>
					<thead>
						<tr>
							<th>Strana</th>
							<th>%</th>
							<th>M</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="party in dhondt">
							<td>
								{{ truncate(party.NAZEV, width < 800 ? 16 : 42, true) }}
							</td>
							<td>
								<input type="number" min="0" max="100" v-model="party.value" @change="dhondtCalculate">
							</td>
							<td :class="{strong: party.mandates > 0, dimm: party.mandates === 0}">
								{{ party.mandates }}
							</td>
						</tr>
						<tr v-if="current.status === 1">
							<td colspan="3" class="smallest">
								Do vo výpočtu jsou zařazeny pouze známé strany. Jejich počet i forma spolupráce se může měnit. Jasněji bude 66 dní před volbami, oficiální data pak budou až 45 dní před volbami.
							</td>
						</tr>
					</tbody>
				</table>
			</p-area>
		</p-collapsible>
		<p-collapsible label="Statistiky" v-if="current.status > 1">

		</p-collapsible>
	</p-block>
	<p-block headline="Stav před volbami">
		<p-area v-if="leadership && (leadership.mayor != -1 || leadership.coalition != -1)" class="highlight shadow">
			<p-grid class="_2_classic">
				<div v-if="leadership.mayor != -1">
					<div class="smallest mb1 strong">{{ [3,4].indexOf(leadership.cis.obec[0].DRUHZASTUP) === -1 ? 'Starosta' : 'Primátor' }}</div>
					<person-preview-block :link="'/volby/komunalni-volby/' + leadership.mayor.volby" :cand="leadership.mayor" :current="{$kandidati: []}" :data="leadership" :party="leadership.party" class="_noBG"></person-preview-block>
				</div>
				<div v-if="leadership.coalition != -1">
					<div class="smallest mb1 strong">
						<div class="p-offset reverse balanced">
							<div>
								Koalice
							</div>
							<div>
								{{ leadership.coalition.reduce((a, b) => a + b.MAND_STR, 0) }} mandátů z {{ leadership.cis.obec[0].MANDATY }}
							</div>
						</div>						
					</div>
					<p-list class="invisible smaller">
						<div v-for="member in sortBy(leadership.coalition, 'MAND_STR', null, null, true)">
							<div class="p-offset reverse balanced">
								<div>
									<p-label :color="colorByItem(member, leadership)">
										<router-link :to="'/volby/komunalni-volby/' + member.volby + '/strana/' + member.id">
											{{ member.NAZEV }}
										</router-link>								
									</p-label>
								</div>
								<div class="smaller dimm">
									{{ member.MAND_STR }}
								</div>
							</div>
						</div>
					</p-list>
				</div>
			</p-grid>
			<div class="p-line"></div>
			<div class="smallest dimm">Poslední aktualizace {{ date(sortBy(leadership.list, 'updated', null, true, true)[0].updated, 3) }}</div>
		</p-area>
		<div class="_edit smallest mt1">
			<p-icon icon="edit"></p-icon>
			 
			<pop-up>
				<template #init>
					<span class="green strong">Doplnit nebo upravit</span>
				</template>
				<template #content>
					<editable-suggest part="Oprava starosty" type="leadership"></editable-suggest>
				</template>
			</pop-up>
			 &middot; 
			<router-link :to="'/obec/' + town" class="dimm">více zde</router-link>
		</div>
	</p-block>
	<p-block headline="Minulé volby">
		<election-results :id="current.predchozi" :type="{key: 'KV', hash: 'komunalni-volby', name: 'Komunální volby'}" :election="{'datum_label': null}" :spec="town" :label="data.list[0].$dotcene[0].NAZEVZAST"></election-results>
	</p-block>
	<p-block headline="Zajímavosti">
		<p-area icon="komunalni-volby" class="inline highlight shadow">
			<router-link :to="'/obec/' + town" class="strong">Seznam voleb v obci <em>{{ current.$dotcene[0].NAZEVZAST }}</em></router-link>
			<div class="smaller">Všechny minulé výsledky a srovnání s krajskými nebo celostátními výsledky.</div>
		</p-area>
		<div class="p-gap"></div>
		<p-collapsible label="Adresy a kontakty" logo="address">
			<p-list class="smaller _05" v-if="core">
				<div class="p-offset"><div class="_w8">Kontakty</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'address')">
						{{ item.value }}
					</div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'phone')">
						+420 {{ number(item.value) }}
					</div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'email')">
						<p-link :href="'mailto:' + item.value">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">Webové stránky</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'link')">
						<p-link :href="item.value"></p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">Sociální sítě</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'social')">
						<p-link :href="item.value"></p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">PSČ</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'psc')">
						<p-link :href="'https://www.psc.cz/' + item.value">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">Datovka</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'datovka')">
						<p-link :href="'https://www.mojedatovaschranka.cz/sds/detail?dbid=' + item.value">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="p-offset"><div class="_w8">IČO obce</div><div>
					<div v-for="item in core.list[0].$data.filter(x => x.type === 'ico')">
						<p-link :href="'https://monitor.statnipokladna.gov.cz/ucetni-jednotka/' + ico(item.value)">{{ item.value }}</p-link>
					</div>
				</div></div>
				<div class="smallest dimm">
					Některé starší údaje již nemusí být aktuální.
				</div>
				<div>
					<div class="_edit smallest mt1">
						<p-icon icon="edit"></p-icon>
						 
						<pop-up>
							<template #init>
								<span class="green strong">Opravit</span>
							</template>
							<template #content>
								<editable-suggest part="Kontaktní údaje" type="meta"></editable-suggest>
							</template>
						</pop-up>
					</div>
				</div>
			</p-list>
		</p-collapsible>
		<!-- <p-collapsible label="Mapa obce" logo="map">

		</p-collapsible> -->
		<p-collapsible label="Rozpočet obce" logo="results">
			<p>Pokud vás zajímá, jak hlavní město hospodaří, může se podívat na rozklikávací rozpočet. Službu Mon1tor poskytuje Ministerstvo financí pod touto <p-link href="https://monitor.statnipokladna.gov.cz/datovy-katalog/licence">licencí</p-link> .</p>
			<object :data="'https://monitor.statnipokladna.cz/api/i-view/' + ico(core.list[0].$data.find(x => x.type === 'ico').value)" width="100%" height="410" type="text/html"></object>
		</p-collapsible>
		<p-collapsible label="Statistiky a zajímavosti" logo="hint">
			<p>Zajímají vás podrobnější informace o <em>{{ current.$dotcene[0].NAZEVZAST }}</em>? Například údaje o složení obyvatel, nezaměstnanosti, ke kterému úřadu či soudu patří? Navštivte web RIS (regionální informační servis), který provozuje Ministerstvo pro místní rozvoj.</p>
			<p-box-group>
				<p-box :href="'https://vdp.cuzk.gov.cz/vdp/ruian/obce/' + town">
					<p-box-button>RÚIAN</p-box-button>
				</p-box>
				<p-box :href="'https://www.risy.cz/cs/vyhledavace/obce/detail?Zuj=' + town">
					<p-box-button>RIS - Regionální informační servis</p-box-button>
				</p-box>
			</p-box-group>
		</p-collapsible>
		<p-collapsible label="Historie kandidátů" logo="person">
			<history-candidates :num="town"></history-candidates>
		</p-collapsible>
	</p-block>
	<p-block headline="Nepřehlédněte" v-if="data && core && (core.list[0].$core[0].$part || core.list[0].$core[0].$parts.length > 0)" :hide="true">
		<p-area class="primary" borderColor="var(--red)">

			<h2 class="serif mt0 mb05">Nepřehlédněte</h2>

			<div v-if="core && core.list[0].$core[0].$parts.length > 0" class="mb1">
				<p>Voliči v městě <em>{{ current.$dotcene[0].NAZEVZAST }}</em> volí také do zastupitelstva své městské části. U voleb tak dostávají dvě volební obálky a dva volební listy. V případě, že se zde konají také senátní volby nebo místní referendum, dostanou voliči ještě více lístků.</p>

				<p-collapsible label="Seznam městských částí">
					<p-columns class="smaller _4">
						<div v-for="part in core.list[0].$core[0].$parts">
							<router-link :to="'/volby/komunalni-volby/' + current.id + '/obec/' + part.NUM">{{ part.NAZEV }}</router-link>
						</div>
					</p-columns>
				</p-collapsible>
			</div>

			<div v-if="core && core.list[0].$core[0].$part && core.list[0].$core[0].$part.length > 0" class="mb1">
				<p-area icon="warning" class="inline">
					<div>
						Voliči z městské části <em>{{ current.$dotcene[0].NAZEVZAST }}</em> volí také na 

						<span v-for="part in core.list[0].$core[0].$part">
							<router-link :to="'/volby/komunalni-volby/' + current.id + '/obec/' + part.NUM" class="strong">magistrát města {{ part.NAZEV }}</router-link>
						</span>
					</div>
					<div class="smallest">U voleb by měli dostat dva volební listy a dvě obálky.</div>
				</p-area>
			</div>
		</p-area>
	</p-block>
</div>