<div class="election-item">
	<div class="election-item-header" :class="{dimm: election.radne === 0}"><span class="logo-holder">
		<img :src="cdn + 'icon/' + (data.icon || data.hash) + '.svg'" :alt="data.name" class="logo"></span> 
		<span :class="{strong: election.radne === 1, 'smaller': election.radne === 0}"><router-link :to="'/volby/' + data.hash + '/' + election.id" :class="{dimm: election.radne === 0}">{{ data.name }}{{ election.radne === 1 && election.datum ? ' ' + election.datum.substr(0, 4) : '' }}</router-link><span v-if="election.radne === 0 && election.dotcene">
			&middot;
			<template v-if="election.typ === 'KV'">
				<p-lang :value="election.$dotcene.length" :end="['', 'jedna obec', '%% obce', '%% obcí']"></p-lang>
			</template>
			<template v-if="election.typ === 'SENAT'">
				<p-lang :value="String(election.dotcene).split(',').length" :end="['', 'obvod', 'obvody', 'obvody']"></p-lang> <p-list-linear>
					<template v-for="(obv, index) in String(election.dotcene).split(',')">
						<li>{{ obv }}</li>
					</template>
				</p-list-linear>
			</template>
		</span></span>
		<span class="icon dimm show-40rem" v-if="election.cirka">{{ election.cirka }}</span>
		<span class="icon show-40rem" v-else>{{ election.datum_label || date(election.datum) }}</span>
	</div>
</div>
