.btns > * {
	display: inline-block;
	margin: .25em .25em 0 0;
}

h2 {
	margin-top: .25em;
}

._tc {
	width: .25em;
	padding: 0;
}

._tdp {
	padding-top: .75em;
	padding-bottom: .75em;
}

._tmax {
	width: 100%;
}

._pimg {
	background: #fff;
	margin-right: .5em;
	border-radius: .5em;
}