i {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  border-radius: 50%;
  transform: translateY(.5em);

  &:last-child:not(:first-child) {
    margin-left: 6px;
  }
}

.p-label.dynamic i {
  width: .6em;
  height: .6em;
  margin-right: .6em;
}

.block, 
._block {
  display: block;
  padding-left: 1em;
  position: relative;

  > i {
    position: absolute;
    left: -.1em;
  }
}
