.p-box-image {
  width: 4rem;
  height: 4rem;
  flex: 0 0 4rem;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;

  &:not([style*="/nk.png"]) {
    background-color: #fff;
  }

  &:not(.no-border):after {
    position: absolute;
    z-index: 1;
    border: 1px inset rgba(0, 0, 0, .05);
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .dark & {
    background-color: transparent;
  }

  &:first-child:last-child {
    border-radius: .5em;
    border: none;

    &:after {
      content: none;
    }
  }
}

.rounded {
  border-radius: 50% !important;
}

.border {
  // border: var(--border) !important;
  // border-style: inset;
  box-shadow: 0 0 1px #00000044 inset;
}

.large .p-box-image {
  width: 6rem;
  height: 6rem;
  flex: 0 0 6rem;
}

.roundedSlightly {
  border-radius: 4px;
}
