<div class="party-polls" :class="{'p-block _empty': data && data.entries.length === 0}">
		<p-loader :rule="data">
			<div v-if="data && data.entries.length > 0">
				<p-block headline="Volební průzkumy" class="mb3">
					<div v-if="useFrom" class="smaller">
						Od <button class="inline" @click="_from = from">{{ date(from) }}</button> nebo od <button class="inline" @click="_from = '2021-09-01'">voleb 2021</button>
						<div class="p-gap _2"></div>
						
					</div>
					<div class="_layout">
						<div>
							<p-area>
								<div id="chart">
									<vue-apex-charts type="line" :height="chartOptions.chart.height" :options="chartOptions" :series="series"></vue-apex-charts>
								</div>
							</p-area>
						</div>
						<div v-if="!isCoalition">
							<h3 class="mt0">Poslední průzkumy</h3>
							<p-list>
								<div v-for="(agency, index) in ['Kantar', 'Median', 'STEM', 'NMS Market Research', 'Ipsos']">
									<div class="p-offset reverse balanced">
										<div>
											<div>
												<router-link class="strong" :to="'/volebni-pruzkumy/' + data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls && (election ? election === x.volby : true)).id">{{ agency }}</router-link>
												<!-- <span class="smallest"> &middot; {{ date(data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls).datum, 2) }}</span> -->
											</div>											
											<div class="smallest dimm" v-if="data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls && (election ? election === x.volby : true)).from">
												měřeno {{ date(data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls && (election ? election === x.volby : true)).from, 2) }}
												až {{ date(data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls && (election ? election === x.volby : true)).to, 2) }}
											</div>
										</div>
										<div class="text-right" v-if="data.entries.find(x => x.poll === data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls && (election ? election === x.volby : true)).id)">
											{{ number(data.entries.find(x => x.poll === data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls && (election ? election === x.volby : true)).id).value, 1) }} %
											<!-- <div class="smallest">+0,0</div> -->
										</div>
										<div class="text-right" v-if="!data.entries.find(x => x.poll === data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls && (election ? election === x.volby : true)).id)">
											<div class="red smaller">nezjištěno</div>
										</div>
									</div>
								</div>
							</p-list>
						</div>
					</div>
					<div class="p-gap"></div>
					<p-collapsible label="Přehled průzkumů">
						<table class="smaller">
							<thead>
								<tr>
									<th>datum</th>
									<th>agentura, název</th>
									<th class="text-right">výsledek</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(poll, index) in data.polls.filter(x => election ? election === x.volby : true).filter(x => data.entries.find(y => y.poll === x.id))">
										<td class="">{{ date(poll.datum, 4) }}</td>
										<td>
											<router-link :to="'/volebni-pruzkumy/' + poll.id">{{ poll.agency }}</router-link>  
											 
											<span class="dimm smallest keep">{{ poll.title }}</span>
										</td>
										<td class="text-right">{{ number(data.entries.find(y => y.poll === poll.id).value, 1) }} %</td>
								</tr>
							</tbody>
						</table>
					</p-collapsible>
				</p-block>
			</div>
			<div v-if="data && data.entries.length === 0">
				<span class="p-headline---label" data-label="Volební průzkum"></span>
				<h3 class="p-headline---component"></h3>
			</div>
		</p-loader>
</div>
