<div class="party-polls">
		<p-loader :rule="data">
			<div v-if="data && data.entries.length > 0">
				<p-block headline="Volební průzkumy">
					<div class="_layout">
						<div>
							<p-area>
								<div id="chart">
									<vue-apex-charts type="line" :height="chartOptions.chart.height" :options="chartOptions" :series="series"></vue-apex-charts>
								</div>
							</p-area>
						</div>
						<div v-if="!isCoalition">
							<h3>Poslední průzkumy</h3>
							<p-list>
								<div v-for="(agency, index) in ['Kantar', 'Median', 'STEM', 'NMS Market Research']">
									<div class="p-offset reverse balanced">
										<div>
											{{ agency }}
											<div class="smallest dimm">{{ date(data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls).datum) }}</div>
										</div>
										<div class="text-right" v-if="data.entries.find(x => x.poll === data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls).id)">
											{{ number(data.entries.find(x => x.poll === data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls).id).value, 1) }} %
											<!-- <div class="smallest">+0,0</div> -->
										</div>
										<div class="text-right" v-if="!data.entries.find(x => x.poll === data.polls.find(x => x.agency.toLowerCase().split(agency.toLowerCase()).length > 1 && x.pollofpolls).id)">
											<div class="red smaller">nezjištěno</div>
										</div>
									</div>
								</div>
							</p-list>
						</div>
					</div>
					<div class="p-gap"></div>
					<p-collapsible label="Přehled průzkumů">
						<table class="smaller">
							<thead>
								<tr>
									<th>datum</th>
									<th>agentura, název</th>
									<th class="text-right">výsledek</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(poll, index) in data.polls.filter(x => data.entries.find(y => y.poll === x.id))">
										<td class="">{{ date(poll.datum, 4) }}</td>
										<td>
											<router-link :to="'/volebni-pruzkumy/' + poll.id">{{ poll.agency }}</router-link>  
											 
											<span class="dimm smallest keep">{{ poll.title }}</span>
										</td>
										<td class="text-right">{{ number(data.entries.find(y => y.poll === poll.id).value, 1) }} %</td>
								</tr>
							</tbody>
						</table>
					</p-collapsible>
				</p-block>
			</div>
			<div v-if="data && data.entries.length === 0">
				<em class="smallest dimm">Nebyly nalezeny žádné záznamy z volebních průzkumů.</em>
			</div>
		</p-loader>
</div>
