.p-block---1:not(:last-child) {
  padding-bottom: 4em;
}

.p-block---2:not(:last-child) {
  padding-bottom: 4em;
}

.p-block---3:not(:last-child) {
  padding-bottom: 2em;
}

.p-headline {
  padding-bottom: 0.1rem;
}

.hide-headline {
  display: none;
}

.p-block---expandable:not(.opened) + .p-block:not(.p-block---expandable) {
  margin-top: 3em;
}

.p-block---up {
	margin-top: -3em;
}

.p-headline---sublabel {
  font-size: .66em;
}

.p-block + .p-block._empty {
  // margin-top: -5em;
}
