.columns > div {
	margin-bottom: 1.5em;
}

.p-area {
	position: relative;
}

.p-logo {
	width: 1.6em;
	position: absolute;
	top: -1px;
	left: -1.95em;
	z-index: 2;
}

.p-line {
	width: 33%;
}

.p-image {
	background: #fff;
	border-radius: 4px;
}