<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Volby" :level="1" :hide="true">
				<p class="lead">
					Přehled <router-link to="/volby/snemovni-volby/166" class="is-span">stran</router-link>, kandidátů, <strong>volebních programů a priorit</strong>, událostí, <router-link to="/novinky" class="is-span">novinek</router-link>, <router-link to="/volebni-pruzkumy" class="is-span">volebních průzkumů</router-link> s <router-link to="/vypocet-mandatu" class="is-span">přepočtem na mandáty</router-link> nejen k příštím volbám.
					<span class="smaller strong">
						<router-link to="/o-projektu">O projektu</router-link> &middot; <router-link to="/o-projektu/jak-podporit" class="green">Podpořit</router-link>
					</span>
				</p> 
				<!-- <p class="lead">
					<strong>Volební programy</strong>, <router-link to="/lide" class="is-span">kandidáti</router-link>, <router-link to="/rejstrik" class="is-span">politické strany</router-link>, <router-link to="/novinky" class="is-span">přehled zpráv</router-link>, <router-link to="/volebni-pruzkumy" class="is-span">průzkumy</router-link>, <router-link to="/vypocet-mandatu" class="is-span">výpočet mandátů</router-link>, <router-link to="/volby" class="is-span">archiv voleb</router-link> a další. Přehledně, nestranně, neziskově.
					<span class="smaller strong">
						<router-link to="/o-projektu">O projektu</router-link> &middot; <router-link to="/o-projektu/jak-podporit" class="green">Podpořit</router-link>
					</span>
				</p> -->
				<!-- <div class="p-gap"></div> -->
				<homepage-summary :news="news" :polls="polls"></homepage-summary>
				<div class="p-gap _1"></div>
				<!-- <promo-block></promo-block> -->
				<!-- <p class="smaller">
					<strong><p-label color="var(--red)">Nominujte <em>Programy</em></p-label> na <p-link href="https://kristalova.lupa.cz/nominace/" class="red">Křišťálovou lupu 2024</p-link>.</strong>
				</p>  -->
				<!-- <div class="p-gap"></div> -->
				 
				<!-- <election-results :type="{key: 'SENAT', hash: 'senatni-volby', name: 'Senátní volby'}" :id="171" :election="{typ: 'SENAT', datum_label: '17. a 18. ledna 2025'}" :spec="60" label="obvod 60 · Brno-město"></election-results> -->
				 

				<template v-if="elections && elections.list.find(x => x.status < 3 && x.datum <= today)">
					<div class="p-gap"></div>
					<p-area class="p-area---inline smallest strong" borderColor="var(--red)">
						<!-- <p-label color="var(--red)" class="strong"> -->
							Právě probíhají 
							<p-list-linear>
								<li v-for="(el, i) in elections.list.filter(x => x.status < 3 && x.datum <= today)">
									<router-link :to="'/volby/' + election_types.find(x => x.key === el.typ).hash + '/' + el.id">{{ el.radne === 1 ? '' : 'mimořádné '}}{{ election_types.find(x => x.key === el.typ).name.toLowerCase() }}</router-link>
								</li>
							</p-list-linear>
						<!-- </p-label> -->
					</p-area>
					<div class="p-gap"></div>
				</template>
				<!-- <div class="p-gap"></div> -->
				<!-- <p-area class="inline">
					<p-label color="var(--red)" class="smaller strong">Důležité informace Ministerstva vnitra <p-link class="red" href="https://www.mvcr.cz/clanek/ustredni-krizovy-stab-resil-pomoc-oblastem-zasazenym-povodnemi-i-podporu-postizenym-krajum-s-organizaci-voleb.aspx">pro voliče zasažené povodněmi</p-link></p-label>
				</p-area>				
				<div class="p-gap _2"></div> -->
				<!-- <p-block headline="Hlavní přehled" :hide="true"> -->
					<p-loader :rule="elections">
						<div v-if="elections">
							<div v-for="(election, index) in elections.list.filter(x => (x.radne === 1 || x.typ === 'SENAT') && (x.datum === null || x.datum > '2024-07-01'))">
								<p-block class="_nmb" :hide="true" :headline="election_types.find(x => x.key === election.typ).name">
									<p-collapsible :logo="cdn + 'icon/' + election_types.find(x => x.key === election.typ).hash + '.svg'" :label="election_types.find(x => x.key === election.typ).name" :status="(election.datum_label || election.cirka || date(election.datum))" :open="election.id === 166" :skip="election.id === 166">
										<!-- <p-area :class="election.typ === 'EP' ? '_ep' : null" class="p-area---has-background"> -->
											<div v-if="election.$dotcene && election.typ === 'KV'">
												<p class="smaller">Týká se obcí 
													<p-list-linear>
														<template v-for="(town, indexTown) in election.$dotcene">
															<li><router-link :to="'/obec/' + town.NUM">{{ town.NAZEV }}</router-link> <span class="dimm">({{ town.$okres[0].NAZEV }})</span></li>														
														</template>
													</p-list-linear>
												</p>
											</div>
											<template v-if="election.typ === 'EP'">
												<homepage-ep :elections="election"></homepage-ep>
											</template>
											<div v-if="election.typ === 'KZ'">
												<homepage-kz :elections="election"></homepage-kz>
											</div>
											<div v-if="election.typ === 'SENAT'">
												<homepage-senat :elections="election"></homepage-senat>
											</div>
											<div v-if="election.typ === 'PS'">
												<homepage-ps :elections="election" :answers="news ? news.answers : null"></homepage-ps>
											</div>
										<!-- </p-area> -->
										<div class="p-gap_075"></div>
										<p-box-group>
											<p-box :to="'/volby/' + election_types.find(x => x.key === election.typ).hash + '/' + election.id + (election.id === 171 ? '/obvod/60' : '')">
												<p-box-button class="primary">
													{{ election.status === 3 ? 'Výsledky a podrobnosti' : 'Podrobněji' }}
												</p-box-button>
											</p-box><!-- 
											<p-box :href="election.id === 162 ? 'https://www.volebnikalkulacka.cz/volby/krajske-2024/vyber':'https://www.volebnikalkulacka.cz/volby/senatni-2024/vyber' " v-if="[162,163].indexOf(election.id) > -1">
												<p-box-button icon="link.svg">Kalkulačka</p-box-button>
											</p-box>
											<p-box :href="election.id === 162 ? 'https://cs.wikipedia.org/wiki/Volby_do_zastupitelstev_kraj%C5%AF_v_%C4%8Cesku_2024':'https://cs.wikipedia.org/wiki/Volby_do_Sen%C3%A1tu_Parlamentu_%C4%8Cesk%C3%A9_republiky_2024' " v-if="[162,163].indexOf(election.id) > -1">
												<p-box-button icon="wiki.svg">Wiki</p-box-button>
											</p-box>
											<p-box to="/jak-volit/krajske-volby" v-if="election.id === 162">
												<p-box-button>Jak volit?</p-box-button>
											</p-box> -->
											<template v-if="election.status < 3">
												<p-modal>
													<template #init>
														<p-box :click="() => null">
															<p-box-label class="green">Doplnit či upravit</p-box-label>
														</p-box>
													</template>
													<template #content>
														<p v-if="election.status === 1">Chcete doplnit stranu? Kandidáta? Novou koalici? Nebo jste naopak našli chybu? Stačí poslat odkaz, kde se o tom píše.</p>
														<p v-if="election.status === 2">Chcete doplnit program? Důležitý odkaz? Zmínku v médiích? Stačí poslat odkaz:</p>
														<report-form :part="'Homepage - ' + election.id"></report-form>
													</template>
												</p-modal>
												<template v-if="election.status < 3">
													<p-box href="https://admin.programydovoleb.cz">
														<p-box-label class="dimm">
															Pro kandidáty
														</p-box-label>
													</p-box>
												</template>
												<!-- <p-box-gap></p-box-gap> -->
											</template>
										</p-box-group>
										<div class="p-gap_15"></div>
									</p-collapsible>
								</p-block>
							</div>
							<p-collapsible logo="komunalni-volby" label="Mimořádné komunální volby" v-if="elections.list.filter(x => x.radne === 0 && x.status < 3 && x.typ === 'KV').length > 0" :status="date(elections.list.filter(x => x.radne === 0 && x.status < 3 && x.typ === 'KV')[0].datum)">
								<p-area padding="0 0 0 1.5em" borderColor="var(--red)" class="primary">
									<p-loader :rule="elections">
										<div class="election-timeline">
											<p-list v-if="elections">
												<template v-for="(election, index) in elections.list.filter(x => x.radne === 0 && x.status < 3 && x.typ === 'KV')">
													<div>
														<strong class="smaller"><span>
															<router-link :to="'/volby/' + election_types.find(x => x.key === election.typ).hash + '/' + election.id" class="is-span"><span class="strong"><span v-if="election.cirka">{{ election.cirka }}</span> <!---->
																<span v-else="election.datum">{{ date(election.datum) }}</span> <!----></span> &middot; Mimořádné komunální volby</router-link>
														</span></strong>
														<div class="p-gap_05"></div>
															<div class="smaller">Týká se <p-lang :value="election.$dotcene.length" :end="['', 'obce', 'obcí', 'obcí']"></p-lang>:
																<p-list-linear>
																	<template v-for="(town, indexTown) in sortBy(election.$dotcene, 'NAZEV', '', true)">
																		<li><router-link :to="'/obec/' + town.NUM">{{ town.NAZEV }}</router-link> <span class="dimm">({{ town.$okres[0].NAZEV }})</span></li>														
																	</template>
																</p-list-linear>
															</div>
													</div>
												</template>
											</p-list>
										</div>
									</p-loader>
								</p-area>
							</p-collapsible>
						</div>
					</p-loader>
			</p-block>
			<p-block headline="Anketa" :hide="true">
				<engagement-block :hash="'psp-166-strana-' + (new Date().getMonth() + 1)" :data="[{question: 'Koho byste nyní volili?', limit: 3, comment: 'Můžete vybrat až 3 strany.', options: ['ANO', 'Spolu', 'STAN', 'SPD', 'Piráti', 'Motoristé', 'Stačilo', 'SOCDEM', 'Přísaha', 'Zelení', 'někoho jiného']}]" :compact="true"></engagement-block>
			</p-block>
			<p-block headline="Novinky" :level="1">

				
					<div class="smallest _edit mb3">
						<p-icon icon="edit"></p-icon>
						&nbsp;
						<pop-up preClass="green strong"><template #init>Přidat článek, rozhovor nebo tiskovou zprávu</template><template #content><editable-suggest placeholder="Odkaz na článek nebo tiskovou zprávu" type="support" part="HP Novinky" link="1"></editable-suggest></template></pop-up>
					</div>
				
				<p-block hide="1" headline="Přehled">
					<p-loader :rule="news">
						<div v-if="news">
							<p-columns>
								<template v-for="(item, index) in newsmedia.filter((x, i) => i < (width > 960 ? 100 : 8))">
									<div>
										<p-area :borderColor="item.label === 'pdv' ? 'var(--blue)' : (item.label === 'comment' ? 'var(--greyish)' : (item.label === 'news' ? 'var(--blue44)' : null))" class="smaller">
											<div :class="{smaller: item.label === 'comment'}">
												<p-link class="strong" :href="item.source" :class="{'is-span mono': item.label === 'comment'}">{{ item.value.split(' – ')[0].split(' - ')[0].split(' • ')[0].split(' | ')[0].split(' — ')[0] }}</p-link>
											</div>
											<div class="p-gap _05"></div>
											<template v-if="item.csu_table">
												<div class="smallest dimm">
													<router-link :to="'/bod/' + item.csu_table + '/' + item.csu_id" class="is-span dimm">{{ item.$node[0].NAZEV || item.$node[0].JMENO + ' ' + item.$node[0].PRIJMENI }}</router-link>
												</div>
											</template>
											<template v-if="item.label && item.label === 'comment'">
												<div class="smallest dimm">
													{{ item.content }} &middot; komentář
												</div>
											</template>
											<div class="smallest dimm">
												{{ date(item.updated) }} &middot; {{ domain(item.source_label || item.source) }}
											</div>										
										</p-area>
									</div>
								</template>
								<p-block hide="1" headline="Sedmidění">
									<div>
										<p-area class="highlight shadow" borderColor="var(--red)">
											<router-link to="/novinky" class="strong red">Sedmidění</router-link>
											<div class="smaller mt05">Předvolebního dění, články, rozhovory, průzkumy, noví kandidáti, poslední úpravy... přehledně za posledních 7 dní.</div>
										</p-area>
									</div>
								</p-block>
							</p-columns>
							<!-- <p-block :open="true" headline="Nově v přehledu"> -->
								<!-- <p>Přehled nejnověji založených profilů stran, hnutí, koalic a kandidátů pro následující volby. Pokud nemůžete někoho na Programech najít, stačí poslat 
									<p-modal class="inline">
										<template #init><span class="green strong">tip na doplnění</span></template>
										<template #content>
											<h3>Tip na doplnění strany nebo kandidáta</h3>
											<report-form></report-form>
										</template>
									</p-modal>.
								</p> -->
								<div class="p-gap _2"></div>
								<h4>Poslední významné úpravy</h4>
								<p-area class="primary">
									<p-loader :rule="news">
										<div v-if="news" class="smaller">
											<p-list>
												<div class="strong">
													<!-- <p-list-linear class="or strong"> -->
														<!-- <span> -->
															<p-label color="var(--blue)">Program</p-label>  
														<!-- </span><span> -->
															<p-label color="var(--red)">Priority</p-label>  
														<!-- </span><span> -->
															<p-label color="var(--yellow)">Odpovědi</p-label>
														<!-- </span> -->
													<!-- </p-list-linear> -->
												</div>
												<p-columns class="tighter">
													<div v-for="datum in unique(news.log.filter(x => x.node && x.data.find(y => ['program', 'answer', 'priority'].indexOf(y.type) > -1)), 'date').filter((x, i) => i < 12)">
														<div class="strong">{{date(datum, 2) }} </div>
														<!-- <p-list-linear class="_pll or"> -->
															<template v-for="point in ['csu_ps_rkl:', 'csu_ps_rk:', 'csu_senat_rk:']">
																<div v-for="item in news.log.filter(x => x.node && x.pointer.includes(point) && x.date === datum).filter(x => x.data.find(y => ['program', 'answer', 'priority'].indexOf(y.type) > -1))">
																	<router-link v-if="item.node.JMENO" :to="'/bod/' + item.pointer.split(':').join('/')">{{ item.node.JMENO }} {{ item.node.PRIJMENI }}</router-link>
																	<router-link class="strong" v-if="item.node.NAZEV" :to="'/bod/' + item.pointer.split(':').join('/')">{{ item.node.NAZEV }}</router-link>
																	<span class="badge blue" v-if="item.data.find(x => x.type === 'program')">●</span>
																	<span class="badge yellow" v-if="item.data.find(x => x.type === 'answer')">●</span>
																	<span class="badge red" v-if="item.data.find(x => x.type === 'priority')">●</span>
																</div>
															</template>
														<!-- </p-list-linear> -->
													</div>
												</p-columns>
											</p-list>
										</div>
									</p-loader>
								</p-area>
								<div class="p-gap _1"></div>
								<h4>Další nové záznamy na Programech</h4>
								<div class="p-line _0"></div>
								<p-collapsible label="Nově přidaní kandidáti" logo="person">
									<p-area class="primary">
										<p-loader :rule="news">
											<div v-if="news">
												<p-columns v-if="news">
													<template v-for="(day, index) in newsauto.filter((x, i) => i < (width > 960 ? 8 : 4))">
														<template v-for="(kz, index) in day.list.kz">
															<template v-if="kz.list.length < 3">
																<template v-for="item in kz.list">
																	<div class="p-offset balanced">
																		<div class="text-right _w3">
																			<span class="strong smallest">{{date(item.datum, 2) }}</span>	
																		</div>
																		<div>
																			<div class="p-offset reverse balanced">
																				<div>
																					<router-link v-if="item.relates.split(',')[1] != 'null'" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title }}</router-link>
																					<router-link class="strong" v-if="item.relates.split(',')[1] === 'null'" :to="'/bod/' + item.relates.split(',')[0].split(':').join('/')">{{ item.title }}</router-link>
																					<!-- <router-link class="smaller" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title }}</router-link> -->
																					<div class="dimm smallest" v-if="item.content && item.content != '' && item.content != 'null'">
																						{{ item.content }}
																					</div>
																					<div class="dimm smallest">
																						<p-list-linear class="or">
																							<li>{{ enums.elections.find(x => x.key === news.cis.volby.find(x => x.id === item.volby).typ).name }}</li>
																							<li v-if="item.focus">{{ news.cis.volby.find(x => x.id === item.volby).typ === 'KZ' ? enums.regions[item.focus - 1] : item.focus + ' - ' + news.cis.obvody.find(x => x.OBVOD === item.focus).NAZEV }}</li>
																						</p-list-linear>
																					</div>
																				</div>
																				<div class="smallest show-60rem">
																					<p-link :href="item.source" class="dimm">zdroj</p-link>
																					<!-- <p-link :href="item.source" class="dimm">{{ domain(item.source) }} &rarr;</p-link> -->
																				</div>
																			</div>
																			
																		</div>		
																	</div>
																</template>
															</template>
															<template v-else>
																<div class="p-offset balanced">
																	<div class="text-right _w3">
																		<span class="strong smallest">{{date(day.datum, 2) }}</span>	
																	</div>
																	<div>
																		<div class="p-offset reverse balanced">
																			<div>
																				<div v-if="kz.list[0].content && kz.list[0].content != '' && kz.list[0].content != 'null'">
																					<router-link :to="'/bod/csu_kz_rkl/' + kz.list[0].relates.split(',')[0].split(':')[1]">
																						{{ kz.list[0].content }}
																					</router-link>												
																				</div>
																				<div v-else>
																					{{ kz.list.length }} nových kandidátů 
																				</div>
																				<div class="dimm smallest">
																					<p-list-linear class="or">
																						<li>{{ enums.elections.find(x => x.key === news.cis.volby.find(x => x.id === kz.list[0].volby).typ).name }}</li>
																						<li v-if="kz.list[0].focus">{{ news.cis.volby.find(x => x.id === kz.list[0].volby).typ === 'KZ' ? enums.regions[kz.list[0].focus - 1] : kz.list[0].focus + ' - ' + news.cis.obvody.find(x => x.OBVOD === kz.list[0].focus).NAZEV }}</li>
																					</p-list-linear>
																				</div>
																				<div class="smallest">
																					<span>
																						<p-lang :value="kz.list.length" :end="['', '', '%% kandidáti', '%% kandidátů']"></p-lang>:
																					</span>
																					<p-list-linear class="_pll">
																						<span v-for="item in kz.list">
																							<router-link v-if="item.relates.split(',')[1] != 'null'" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title.trim() }}</router-link>
																							<router-link class="strong" v-if="item.relates.split(',')[1] === 'null'" :to="'/bod/' + item.relates.split(',')[0].split(':').join('/')">{{ item.title.trim() }}</router-link>
																						</span>
																					</p-list-linear>
																				</div>
																				
																				
																			</div>
																			<div class="smallest show-60rem">
																				<p-link :href="kz.list[0].source" class="dimm">zdroj</p-link>
																				<!-- <p-link :href="item.source" class="dimm">{{ domain(item.source) }} &rarr;</p-link> -->
																			</div>
																		</div>
																		
																	</div>		
																</div>
															</template>
														</template>
														<template v-for="(kz, index) in day.list.ps">
															<template v-if="kz.list.length < 3">
																<template v-for="item in kz.list">
																	<div class="p-offset balanced">
																		<div class="text-right _w3">
																			<span class="strong smallest">{{date(item.datum, 2) }}</span>	
																		</div>
																		<div>
																			<div class="p-offset reverse balanced">
																				<div>
																					<router-link v-if="item.relates.split(',')[1] != 'null'" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title }}</router-link>
																					<router-link class="strong" v-if="item.relates.split(',')[1] === 'null'" :to="'/bod/' + item.relates.split(',')[0].split(':').join('/')">{{ item.title }}</router-link>
																					<!-- <router-link class="smaller" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title }}</router-link> -->
																					<div class="dimm smallest" v-if="item.content && item.content != '' && item.content != 'null'">
																						{{ item.content }}
																					</div>
																				</div>
																				<div class="smallest show-60rem">
																					<p-link :href="item.source" class="dimm">zdroj</p-link>
																					<!-- <p-link :href="item.source" class="dimm">{{ domain(item.source) }} &rarr;</p-link> -->
																				</div>
																			</div>
																			
																		</div>		
																	</div>
																</template>
															</template>
															<template v-else>
																<div class="p-offset balanced">
																	<div class="text-right _w3">
																		<span class="strong smallest">{{date(day.datum, 2) }}</span>	
																	</div>
																	<div>
																		<div class="p-offset reverse balanced">
																			<div>
																				<div v-if="kz.list[0].content && kz.list[0].content != '' && kz.list[0].content != 'null'" class="strong">
																					<router-link :to="'/bod/csu_ps_rkl/' + kz.list[0].relates.split(',')[0].split(':')[1]">
																						{{ kz.list[0].content }}
																					</router-link>												
																				</div>
																				<div v-else>
																					{{ kz.list.length }} nových kandidátů 
																				</div>
																				<div class="smaller">
																					<span>
																						<p-lang :value="kz.list.length" :end="['', '', '%% kandidáti', '%% kandidátů']"></p-lang>:
																					</span>
																					<p-list-linear class="_pll">
																						<span v-for="item in kz.list">
																							<router-link v-if="item.relates.split(',')[1] != 'null'" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title.trim() }}</router-link>
																							<router-link class="strong" v-if="item.relates.split(',')[1] === 'null'" :to="'/bod/' + item.relates.split(',')[0].split(':').join('/')">{{ item.title.trim() }}</router-link>
																						</span>
																					</p-list-linear>
																				</div>
																				
																				
																			</div>
																			<div class="smallest show-60rem">
																				<p-link :href="kz.list[0].source" class="dimm">zdroj</p-link>
																				<!-- <p-link :href="item.source" class="dimm">{{ domain(item.source) }} &rarr;</p-link> -->
																			</div>
																		</div>
																		
																	</div>		
																</div>
															</template>
														</template>
														<template v-for="(item, index) in day.list.senat">
															<div class="p-offset balanced">
																<div class="text-right _w3">
																	<span class="strong smallest">{{date(item.datum, 2) }}</span>	
																</div>
																<div>
																	<div class="p-offset reverse balanced">
																		<div>
																			<router-link v-if="item.relates.split(',')[1] != 'null'" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title }}</router-link>
																			<router-link class="strong" v-if="item.relates.split(',')[1] === 'null'" :to="'/bod/' + item.relates.split(',')[0].split(':').join('/')">{{ item.title }}</router-link>
																			<!-- <router-link class="smaller" :to="'/bod/' + item.relates.split(',')[1].split(':').join('/')">{{ item.title }}</router-link> -->
																			<div class="dimm smallest" v-if="item.content && item.content != '' && item.content != 'null'">
																				{{ item.content }}
																			</div>
																			<div class="dimm smallest">
																				<p-list-linear class="or">
																					<li>{{ enums.elections.find(x => x.key === news.cis.volby.find(x => x.id === item.volby).typ).name }}</li>
																					<li v-if="item.focus">{{ news.cis.volby.find(x => x.id === item.volby).typ === 'KZ' ? enums.regions[item.focus - 1] : item.focus + ' - ' + news.cis.obvody.find(x => x.OBVOD === item.focus).NAZEV }}</li>
																				</p-list-linear>
																			</div>
																		</div>
																		<div class="smallest show-60rem">
																			<p-link :href="item.source" class="dimm">zdroj</p-link>
																			<!-- <p-link :href="item.source" class="dimm">{{ domain(item.source) }} &rarr;</p-link> -->
																		</div>
																	</div>
																	
																</div>		
															</div>
														</template>
													</template>
												</p-columns>
											</div>
										</p-loader>
									</p-area>
								</p-collapsible>
								<p-collapsible label="Poslední úpravy profilů" logo="edit">
									<p-loader :rule="news">
										<div v-if="news" class="smaller">
											<p-list>
												<div v-for="datum in unique(news.log.filter(x => x.node), 'date')">
													<div class="strong">{{date(datum) }} </div>
													<p-list-linear class="_pll or">
														<template v-for="point in ['csu_ps_rkl:', 'csu_ps_rk:', 'csu_senat_rk:']">
															<template v-if="news.log.filter(x => x.node && x.pointer.includes(point) && x.date === datum).length > 0">
																<!-- <span v-if="point === 'csu_senat_rk:'">Senát</span> -->
																<!-- <span v-if="point === 'csu_kz_rkl:'">Krajské volby</span> -->
																<span v-if="point === 'csu_ps_rk:'"><br>Kandidáti</span>
															</template>
															<span v-for="item in news.log.filter(x => x.node && x.pointer.includes(point) && x.date === datum)">
																<router-link v-if="item.node.JMENO" :to="'/bod/' + item.pointer.split(':').join('/')">{{ item.node.JMENO }} {{ item.node.PRIJMENI }}</router-link>
																<router-link class="strong" v-if="item.node.NAZEV" :to="'/bod/' + item.pointer.split(':').join('/')">{{ item.node.NAZEV }}</router-link>
																<span class="badge blue" v-if="item.data.find(x => x.type === 'program')">●</span>
																<span class="badge yellow" v-if="item.data.find(x => x.type === 'answer')">●</span>
																<span class="badge red" v-if="item.data.find(x => x.type === 'priority')">●</span>
															</span>
														</template>
													</p-list-linear>
												</div>
											</p-list>
										</div>
									</p-loader>
								</p-collapsible>
								<p-collapsible label="Novinky na Programech" logo="program">
									<p-area class="primary">
										<p-list>
											<template v-for="(item, index) in news.sys.filter((x, i) => i < 5)">
												<news-item :data="item"></news-item>
											</template>
										</p-list>
									</p-area>
								</p-collapsible>
							<!-- </p-block> -->
						</div>
					</p-loader>
				</p-block>
				<p-block headline="Nejnovější průzkumy">
					<p class="mb3">Kompletní výpis všech stran, přepočet na mandáty, rozdíl od minulého měření nebo vývoj od minulých voleb u této agentury najdete v detailu průzkumu. Seznam volebních průzkumů <router-link to="/volebni-pruzkumy">od roku 2017 zde</router-link> a můžete si také zkusit <router-link to="/vypocet-mandatu">výpočet mandátů</router-link>.</p>
					<p-loader :rule="polls">
						<div v-if="polls">
							<p-grid>
								<div v-for="(poll, index) in polls.list.filter((x, i) => i < (width > 960 ? 3 : 2))">
									<p-area>
										<polls-preview :poll="poll" :previous="poll.previous ? polls.list.find(x => x.id === poll.previous) : null" :name="'poll_' + poll.id"></polls-preview>
									</p-area>								
								</div>
							</p-grid>
						</div>
					</p-loader>
					<!-- <div class="p-gap"></div> -->
					<!-- <engagement-block hash="poll-most-trusted" :data="[{question: 'Která agentura má nejlepší průzkumy?', options: ['Data Collect', 'Ipsos', 'Kantar', 'Median', 'NMS Market Research', 'STEM', 'jiná']}]" :autosend="true"></engagement-block> -->
				</p-block>

				<p-block hide="1" headline="Novinky e-mailem">
					<mailchimp-signup></mailchimp-signup>
				</p-block>
							
				<p-block headline="Nejbližší události">
					<div v-if="news && news.events && news.events.length > 0">
						<p-columns>
							<div v-for="event in sortEvents(news.events, true).filter((x, i) => i < 6)">
								<event-item :item="event" :party="event.$node" :data="event" bod="1" class="pb2 _short" :short="true"></event-item>
							</div>
						</p-columns>
						<p-collapsible label="Další akce a události" logo="event" :status="sortEvents(news.events, true).length - 6" v-if="sortEvents(news.events, true).length > 6">
							<p-columns>
								<div v-for="event in sortEvents(news.events, true).filter((x, i) => i >= 6)">
									<event-item :item="event" :party="event.$node" :data="event" bod="1" class="pb2 _short" :short="true"></event-item>
								</div>
							</p-columns>
						</p-collapsible>
						<div class="mt1">
							<div class="smallest _edit">
								<p-icon icon="edit"></p-icon>
								&nbsp;
								<pop-up preClass="green strong"><template #init>Přidat událost</template><template #content><editable-suggest placeholder="Odkaz na událost" type="event" part="HP Novinky" link="1"></editable-suggest></template></pop-up>
							</div>
						</div>
					</div>
				</p-block>
				<div class="p-line"></div>
			</p-block>
			<p-block headline="Programy do voleb" :level="1" :hide="1">
				<p-block headline="O projektu" :hide="true">
					<div class="_split">
						<div>
							<h2 class="serif mt0">
								O projektu
								<!-- <div class="small">Programy do voleb</div> -->
							</h2>
							<!-- <h4 class="serif">Programy do voleb</h4> -->
							<p>Cílem je usnadnit každému, kdo se zajímá o volby, kandidáty a volební programy, aby je našel přehledně a na jednom místě. Žádná strana ani kandidát nejsou jakkoli zvýhodněni, preferováni nebo doporučováni. Nenajdete zde ani komentáře či názory, do textů se nezasahuje.</p>
							<p-box-group>
								<p-box to="/o-projektu">
									<p-box-button class="primary">Více o Programech</p-box-button>
								</p-box>
								<p-box to="/o-projektu/kontakty">
									<p-box-label>Kontakty</p-box-label>
								</p-box>
								<p-box to="/o-projektu/jak-podporit">
									<p-box-label class="green">Jak podpořit?</p-box-label>
								</p-box>
							</p-box-group>
						</div>
						<div>
							<cta-support :hide="true"></cta-support>
						</div>
					</div>
				</p-block>
				<p-block hide="1" headline="Může vás zajímat" class="_pb0">
					<p-collapsible logo="list" label="Rejstřík stran">
						<p>Pokud byste se chtěli podívat na zapojení strany v následujících volbách, minulé výsledky, přehled koalic, zjistit důležité odkazy nebo přehled krajských organizací.</p>
						<p-loader :rule="parties">
							<div v-if="parties">
								<p-grid class="_3 _tiny">								
									<div v-for="(item, index) in parties.list">
										<p-area>
											<div class="text-center">
												<router-link :to="'/rejstrik/' + item.VSTRANA" class="_b" :title="item.NAZEV">
													<div>
														<p-logo :data="{'logo': item.$data.logo[0].value}" size="6rem"></p-logo>
													</div>
												</router-link>
												<div>
													<router-link :to="'/rejstrik/' + item.VSTRANA" class="smaller strong">{{ item.ZKRATKA }}</router-link>
												</div>
											</div>
										</p-area>
									</div>
									<div>
										<p-area background="var(--blue11)">
											<div class="text-center">
												<router-link to="/rejstrik" class="_b">
													<div>
														<p-icon icon="detail" size="6rem"></p-icon>
													</div>
												</router-link>
												<div>
													<router-link to="/rejstrik" class="smaller strong">Hledat další</router-link>
												</div>
											</div>
										</p-area>
									</div>
								</p-grid>
							</div>
						</p-loader>
					</p-collapsible>
					<p-collapsible logo="results" label="Výsledky v obcích">
						<p>Přehled všech voleb, které se konaly v&nbsp;libovolném městě či obci. Najdete zde také zvolené zastupitele, aktuálního starostu a další zajímavosti.</p>
						<p-area>
							<div>
								<div v-for="(town, index) in enums.towns.capital">
									<router-link :to="'/obec/' + town.num" :class="{'strong': index === 0}">
										Hlavní město Praha
									</router-link>	
								</div>
							</div>
							<div class="p-line"></div>
							<p-columns class="_small _2 smaller">
								<div v-for="(town, index) in sortBy([].concat(enums.towns.regional, enums.towns.other), 'name', null, true)">
									<router-link :to="'/obec/' + town.num">
										{{ town.name }}
									</router-link>	
								</div>
							</p-columns>
							<div class="p-line"></div>
							<div class="smallest strong">
								<router-link to="/obce">Hledat jinou obec nebo městskou část</router-link>
							</div>
						</p-area>
					</p-collapsible>
				</p-block>
					<p-block headline="Časté otázky" :hide="1">
						<p-collapsible label="Časté otázky" logo="question">
							<p-area class="primary">
								<p-collapsible label="Jak vzniká obsah webu?">
									<p>Obří porce toho, co na webu najdete, je díky práci dobrovolníků, běžných lidí. Často stačilo 
										<p-modal class="inline">
											<template #init><strong>poslat odkaz</strong></template>
											<template #content>
												<report-form></report-form>
											</template>
										</p-modal>, 
										například na článek. Všechny potřebné a možné informace jsem už z něj vytahal a doplnil. Není nutné registrace ani práce se složitými programy.</p>
									<p>Strany a kandidáti mohou také využívat <p-link href="https://admin.programydovoleb.cz" class="strong">Admin</p-link>, ve kterém lze doplňovat a upravovat informace svépomocí.</p>
								</p-collapsible>
								<p-collapsible label="Jak dlouho projektu existuje?">
									<p>Projekt vznikl v roce 2018 a od té doby pokrývá všechny české volby s&nbsp;výjimkou některých mimořádných komunálních voleb. Od roku 2021 mají <em>Programy do voleb</em> formu zapsaného spolku a byly 3x nominovány na Cenu českého internetu.</p>
									<p class="strong"><p-link href="https://kristalova.lupa.cz/2023/vysledky/">Křišťálová lupa 2023</p-link> &middot; <p-link href="https://kristalova.lupa.cz/2022/vysledky/">2022</p-link></p>
								</p-collapsible>
								<p-collapsible label="Jak moc je projekt nestranný?">
									<p><em>Programy do voleb</em> jsou nestranný neziskový nezávislý dobrovolnický projekt. Mají formu zapsaného spolku. Autor projektu ani další členové spolku nejsou členy ani registrovaní příznivci jakékoli politické strany, hnutí nebo lobbistické skupiny. Nejsou součástí žádného zpravodajského serveru, ani projektem politické strany nebo jejího příznivce. Nezřizuje je žádná státní organizace a nežádá o dotace z veřejných rozpočtů.</p>
									<p>Ke všem stranám i kandidátům je přistupováno na principu rovnosti. Všichni mají proto k dispozici stejné funkce a prostor, všichni mohou odpovědět na stejné volební otázky nebo podklady pro kalkulačku.</p>
									<p>Programy se od svého vzniku řídí <router-link class="strong" to="/o-projektu#desatero">desaterem</router-link>, informace jsou vždy podložené zdrojem. O činnosti si můžete přečíst také v každoroční <router-link class="strong" to="/o-projektu#povinne-zverejnovane-informace">výroční zprávě</router-link>.</p>
								</p-collapsible>
								<p-collapsible label="Jak projekt funguje? Kdo to platí?">
									<p>Projekt je celou dobu extrémně nízkonákladový, o čemž se lze přesvědčit i z výročních zpráv nebo na <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588" class="strong">transparentním účtu</p-link>. Krom plateb za servery a domény nemá spolek takřka žádné další výdaje, neplatí žádné zaměstnance.</p>
									<p>Všechna práce je čistě dobrovolnická. Kompletní web designuje a programuje <router-link class="strong" to="/o-projektu#autor-projektu">autor projektu</router-link>, ve svém volném čase. Zajišťuje také komunikaci a provoz všech sociálních sítí. S obsahem pomáhají dobrovolníci, anonymní podporovatelé, ale i zástupci stran či samotní kandidáti. Vše bezplatně.</p>
									<p>Hlavní výdaj tak představují předvolební reklamy, aby se projekt dostal i mimo běžné bubliny sociálních sítí.</p>
								</p-collapsible>
								<p-collapsible label="Jak mohu Programy podpořit?">
									<p>Je několik možností, jak lze Programy finančně podpořit.</p>
									<p-list>
										<div>
											<p-area class="primary">
												<p-link href="https://darujme.cz/programydovoleb" class="strong">Darujme.cz</p-link>
												<div class="p-offset">
													<div>
														<div class="p-gap"></div>
														<p-image :src="cdn + '/qr-darujme.png'" width="6em" :border="true" :rounded="true"></p-image>
													</div>
													<div>
														<div class="smaller">
															<ul>
																<li>- převodem nebo kartou</li>
																<li>- jednorázově i opakovaně</li>
																<li>- vhodné i pro firmy</li>
																<li class="strong">- dary si můžete odečíst z daní</li>
																<li>- 97 % částky jde Programům</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="p-gap"></div>
												<p-box-group class="_jac">
													<template v-for="(kc, i) in [50, 100, 250]"><p-box :href="'https://www.darujme.cz/darovat/1205354?portalWidget=1&frequency=once&amount=' + kc"><p-box-button color="var(--green)">{{ kc }} Kč</p-box-button></p-box></template>
													<p-box href="https://www.darujme.cz/programydovoleb"><p-box-button class="primary">Jinou částku</p-box-button></p-box>
												</p-box-group>
											</p-area>
										</div>
										<div>
											<p-area>
												<strong>Platba na transparentní účet</strong>
												<div class="p-offset">
													<div>
														<div class="p-gap"></div>
														<p-image :src="cdn + '/qr.png'" width="6em" :border="true" :rounded="true"></p-image>
														<div class="tiny blue">QR platba</div>
													</div>
													<div>
														<div class="smaller">
															<ul>
																<li class="strong">- <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">2502004588/2010</p-link></li>
																<li>- účet veden u FIO Banky</li>
																<li>- lze nastavit trvalý příkaz</li>
																<li>- žádné poplatky zprostředkovateli</li>
																<li class="strong">- 100 % částky jde Programům</li>
															</ul>
														</div>
													</div>
												</div>
											</p-area>
										</div>
										<div>
											<p-area>
												<p-link href="https://eshop.programydovoleb.cz" class="strong">Koupě plakátu</p-link> 
												<div class="dimm smaller">Nyní není k dispozici.</div>
											</p-area>
										</div>
									</p-list>
								</p-collapsible>
								<p-collapsible label="Jak mohu pomoct i jinak?">
									<p-grid class="smaller">
										<div><p-area class="primary">
											<p-modal :inline="true">
											<template #init>
												<button class="inline strong">Posílejte odkazy</button>
											</template>
											<template #content>
												<div class="text-left">
													<h3>Našli jste chybu? Nebo chcete něco doplnit?</h3>
													<report-form part="Hlášení chyby"></report-form>
													<div class="p-line"></div>
													<p>Můžete také napsat na <p-link href="mailto:opravte@programydovoleb.cz">opravte@programydovoleb.cz</p-link></p>
												</div>
											</template>
										</p-modal>
											na důležité zprávy o volbách. Dobré jsou také rozhovory s lídry či debaty. Může jít také o podcasty.</p-area></div>
										<div><p-area class="primary">Dejte vědět, když někdo oznámí záměr kandidovat, když se domluví nová koalice nebo podpora.</p-area></div>
										<div><p-area class="primary"><strong>Sledujte, sdílejte a lajkujte</strong>, pomožte porazit algoritmy. <em>Programy</em> najdete na mnoha sociálních sítích.</p-area></div>
										<div><p-area class="primary">Doporučujte Programy mezi přáteli. Zmiňte je v komentáři, článku, podcastu.</p-area></div>
										<div><p-area class="primary" borderColor="red">Odhalte a <p-modal :inline="true">
											<template #init>
												<button class="inline red strong">nahlašte chyby</button>
											</template>
											<template #content>
												<div class="text-left">
													<h3>Našli jste chybu? Nebo chcete něco doplnit?</h3>
													<report-form part="Hlášení chyby"></report-form>
													<div class="p-line"></div>
													<p>Můžete také napsat na <p-link href="mailto:opravte@programydovoleb.cz">opravte@programydovoleb.cz</p-link></p>
												</div>
											</template>
										</p-modal>, i kdyby mělo jít jen překlep nebo hrubku. Hlavně ale aby informace byly správně.</p-area></div>
									</p-grid>
								</p-collapsible>
								<p-collapsible label="Jsem kandidát nebo zástupce strany">
									<p>Pokud kandidujete, můžete zažádat o přístup do Adminu Programů do voleb. Jedná se o jednoduchý online nástroj, ve kterém můžete snadno spravovat údaje, které se zobrazují k vaší kandidátní listině nebo vám osobně.</p>
									
									<p-area class="primary">
										<h3 class="serif">Jak získáte přístup do Adminu?</h3>
										<ol>
											<li>1 &middot; Přejděte na <p-link href="admin.programydovoleb.cz/seznam"></p-link></li>
											<li>2 &middot; Vyberte si profil, který chcete upravovat.</li>
											<li>3 &middot; Zobrazí se krátký formulář, kde vyplníte vaše jméno, kontakt (e-mail nebo odkaz na sociální sítě)</li>
											<li>4 &middot; Doplňte také vztah k profilu - zda to jste vy osobně, zda jste tiskový mluvčí, správce sítí, apod</li>
											<li>5 &middot; Během 24 dojde k posouzení žádosti a přijde vám unikátní přístup do Adminu</li>
										</ol>
									</p-area>
									<p>Můžete také požádat o přístup k vybrané skupině kandidátů, což se hodí například u koalic nebo v případě mládežnických organizací stran.</p>
									<p><strong>Doporučení:</strong> E-mail by měl být ze stranického účtu nebo by měl být uveden na vašem webu nebo sociálních sítích. Jen tak lze zarušit autenticitu.</p>
									<h3 class="serif mt2">Co když nejsem v seznamu?</h3>
									<p>Napiště prosím na <a href="mailto:doplnit@programydovoleb.cz" class="strong">doplnit@programydovoleb.cz</a> s odkazem na status na sociální síti nebo na článek. Strany a hnutí s přístupem do Adminu mohou nové kandidáty přidávat přímo. Zároveň vám ihned mohou dát přístup.</p>
									<p-box-group>
										<p-box href="https://admin.programydovoleb.cz">
											<p-box-button class="primary">Více na webu Adminu</p-box-button>
										</p-box>
									</p-box-group>
								</p-collapsible>
							</p-area>
						</p-collapsible>
	
					</p-block>
			</p-block>
		</template>
		<template #anchors>
			<!-- <p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo> -->
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.5">
				<div>
					<p-list class="mh-1">
						<template v-if="news && news.events && news.events.length > 0">
							<div>
								<strong class="smaller">Nejbližší akce</strong>
							</div>
							<div v-for="event in sortEvents(news.events, true).filter((x, i) => i < 2)">
								<event-item :item="event" :party="event.$node" :data="event" bod="1" short="1" class="aside"></event-item>
							</div>
						</template>
						<div>
							<div class="smallest _edit">
								<p-icon icon="edit"></p-icon>
								&nbsp;
								<pop-up preClass="green strong"><template #init>Přidat událost</template><template #content><editable-suggest placeholder="Odkaz na událost" type="event" part="HP Novinky" link="1"></editable-suggest></template></pop-up>
							</div>
						</div>
					</p-list>
				</div>
				<div>
					<cta-how-to class="mb05"></cta-how-to>
					<cta-guide class="mb05"></cta-guide>
					<cta-get-admin :election="elections ? elections.list.find(x => x.editace === 1) : null" class="mb05"></cta-get-admin>
					<cta-questions class="mb05"></cta-questions>
					<cta-support-short></cta-support-short>
				</div>
				<div>
					<strong class="smaller">Nově na Programech</strong>
					<div class="p-gap"></div>
					<p-loader :rule="news">
						<div v-if="news" class="smallest">
							<p-list height="1.5">
								<template v-for="(news, index) in sortBy([].concat(news.sys), 'datum', null, true, true)">
									<div v-if="index < 2">
										<news-item-aside :data="news" :noSource="true"></news-item-aside>
									</div>
								</template>
								<div>
									<router-link to="/novinky/archiv">Archiv</router-link> &rarr;
								</div>
							</p-list>
						</div>
					</p-loader>
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>