.float {
    float: left;
    margin: 0 2em 2em 0;
}

ul {
    list-style: disc outside;
    margin: .5em .5em .5em 1em;
    > li {
        padding-left: .5em;
    }

    h4 + &, h5 + & {
        margin-top: -1em;
    }
}

.mw30 {
    max-width: 30em;
}