<div class="homepage-kv">
	<p>Komunální volby se týkají všech 6200+ obcí i městských částí. Zde najdete největší města, ostatní obce si můžete rychle vyhledat. </p>
						<p-area>
							<div>
								<div v-for="(town, index) in enums.towns.capital">
									<div class="p-offset reverse">
										<div>
											<router-link :to="'/volby/komunalni-volby/176/obec/' + town.num" :class="{'strong': index === 0}">
												Hlavní město Praha
											</router-link>	
										</div>
										<div>
											<router-link :to="'/obec/' + town.num" class="smallest dimm">
												více
											</router-link>	
										</div>
									</div>
								</div>
							</div>
							<div class="p-line _15"></div>
							<p-columns class="_small _2 smaller">
								<div v-for="(town, index) in sortBy([].concat(enums.towns.regional, enums.towns.other), 'name', null, true)">
									<!-- <div class="p-offset reverse"> -->
										<!-- <div> -->
											<router-link :to="'/volby/komunalni-volby/176/obec/' + town.num">
												{{ town.name }}
											</router-link>	
										<!-- </div> -->
									<!-- </div>									 -->
								</div>
							</p-columns>
							<div class="p-line _15"></div>
							<p-collapsible label="Vybrat okres" class="mt-1 mb1" logo="search" borderless="1">
								<p-columns class="_small smaller">
									<div v-for="okres in enums.okresy">
										<router-link :to="'/volby/komunalni-volby/176/okres/' + okres.id">{{ okres.name }}</router-link>
									</div>
								</p-columns>
							</p-collapsible>
						</p-area>
						<search-town link="/volby/komunalni-volby/176/obec/" class="mt1"></search-town>
						<div class="p-line"></div>
	<!-- <p-loader :rule="election">
		<div v-if="election">
			
		</div>
	</p-loader> -->
</div>