.p-link---addon {
  position: relative;
  width: 1.1em;
  display: inline-block;
  transform: translateX(.25em);
}

.p-link---icon {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  top: .05em;
  right: 0;
}

.result a {
  word-break: break-all;
}

.button a {
  border: none;
  text-decoration: none;
}

a:not(.btn):not(.button) {
  border: none;

  @media (hover: hover) {
    &:hover .underline {
      border-color: #066ed2;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.p-link.inline {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
