<div class="layout-volby">
	<p-layout-divided>
		<template #main>
			<p-block headline="Volby v České republice" :level="1" anchor="Volby">
				<p class="lead">
					Zde najdete kompletní přehled všech voleb, které se konaly v České republice od roku 1993 do současnosti, včetně přehledu voleb v nejbližší době.
				</p>
				<p-block headline="Příští volby" :hide="true">
					<p-loader :rule="nearest">
						<p v-if="elections && elections.list.find(x => x.status < 3 && x.datum <= today)">
							<p-label color="var(--red)" class="strong">
								Právě probíhají 
								<p-list-linear>
									<li v-for="(el, i) in elections.list.filter(x => x.status < 3 && x.datum <= today)">
										<router-link :to="'/volby/' + election_types.find(x => x.key === el.typ).hash + '/' + el.id">{{ el.radne === 1 ? '' : 'mimořádné '}}{{ election_types.find(x => x.key === el.typ).name.toLowerCase() }}</router-link>
									</li>
								</p-list-linear>
							</p-label>
						</p>
						<p v-if="elections && nearest.regular">
							<p-label color="var(--blue)">Příští</p-label> řádné volby: 
							<p-list-linear>
								<span v-for="regular in nearest.regular">
									<router-link class="strong" :to="'/volby/' + election_types.find(x => x.key === regular.typ).hash + '/' + regular.id">{{ election_types.find(x => x.key === regular.typ).name }}, {{ regular.datum ? (regular.datum_label || date(regular.datum)) : regular.cirka }}</router-link>
								</span>	
							</p-list-linear>					
						</p>
						<template v-if="elections">
							<template v-for="extra in nearest.extra.filter(x => x.typ === 'SENAT')">
								<p>
									<p-label color="var(--red)">Mimořádné</p-label> 
									senátní volby budou 
									<router-link :to="'/volby/senatni-volby/' + extra.id">{{ date(extra.datum) }}</router-link> 
									a týkají se 
									<p-lang :value="String(extra.dotcene).split(',').length" :end="['', 'jednoho obvodu', '%% obvodů', '%% obvodů']"></p-lang>:
									<p-list-linear>
										<template v-for="(obv, index) in String(extra.dotcene).split(',')">
											<li>
												<router-link :to="'/volby/senatni-volby/' + extra.id + '/obvod/' + obv" class="is-span">{{ obv }}</router-link>
											</li>
										</template>
									</p-list-linear>
								</p>
							</template>
							<template v-for="extra in sortBy(nearest.extra.filter(x => x.typ === 'KV'), 'datum', null, true)">
								<p>
									<p-label color="var(--red)">Mimořádné</p-label>
									komunální volby budou 
									<router-link :to="'/volby/komunalni-volby/' + extra.id">{{ date(extra.datum) }}</router-link> 
									a týkají se 
									<p-lang :value="extra.$dotcene.length" :end="['', 'jedné obce', '%% obcí', '%% obcí']"></p-lang>:
									<p-list-linear>
										<template v-for="(town, index) in extra.$dotcene">
											<li>
												<router-link :to="'/obec/' + town.NUM" class="is-span">{{ town.NAZEV }}</router-link>
											</li>
										</template>
									</p-list-linear>
								</p>
							</template>
						</template>
					</p-loader>
				</p-block>
				<p-block headline="Typy voleb">
					<p-loader :rule="elections">
						<template v-if="elections">
							<p-grid class="tight">
								<template v-for="(election, index) in election_types.filter(x => x.key != 'REFER')">
									<div>
										<p-area :icon="election.key === 'REFER' ? null : election.hash">
											<router-link :to="'/volby/' + election.hash" class="b">{{ election.name }}</router-link>
											<div class="smaller">
												<p-list-linear class="or">
													<template v-for="(el, inel) in elections.list.filter(x => x.radne === 1 && x.typ === election.key && (x.cirka && !x.datum))">
														<template v-if="inel < 3">
															<li>
																<router-link :to="'/volby/' + election.hash + '/' + el.id" class="strong red">{{ el.cirka.split(' ')[el.cirka.split(' ').length - 1] }}</router-link>		
															</li>
														</template>
													</template>
													<template v-for="(el, inel) in elections.list.filter(x => x.radne === 1 && x.typ === election.key && x.datum)">
														<template v-if="inel < 3">
															<li>
																<router-link :to="'/volby/' + election.hash + '/' + el.id" class="dimm" :class="{'red strong': el.datum > today}">{{ el.datum.split('-')[0] }}</router-link>		
															</li>
														</template>
													</template>
													<li v-if="index != 'REFER'">
														<router-link :to="'/volby/' + election.hash" class="dimm">starší</router-link>
													</li>
												</p-list-linear>
											</div>
										</p-area>
									</div>
								</template>
							</p-grid>
						</template>
					</p-loader>
				</p-block>
				<p-block headline="Referenda">
					<p>V České republice je možné hlasovat v místních a krajkých referendech. Podmínkou pro hlasování je možnost volit v místních nebo krajských volbách. Ministerstvo vnitra má k dispozici seznam konaných i chystaných referend, ale nemusí tam být všechna, protože neexistuje povinnost ministerstvo o konání informovat.</p>
					<p>Celostátní referenda jsou možná pouze na základě ústavního zákona. Jediným celostátním referendem bylo zatím v roce 2003 referendum o vstupu České republiky do Evropské unie.</p>
					<p-grid>
						<div>
							<p-area icon="komunalni-volby">
								<strong>Místní referenda</strong>
								<p-list class="invisible smaller">
									<div>
										<p-link href="https://mv.gov.cz/soubor/mistni-referenda-tabulka-hlaseni.aspx">Přehled od roku 2006 +&nbsp;vypsaná nová</p-link>&nbsp;<span class="dimm tiny">&middot;&nbsp;XLSX</span>
									</div>
									<div>
										<p-link href="https://mv.gov.cz/clanek/obcanske-aktivity-118893">Oficiální informace</p-link>
									</div>
								</p-list>
							</p-area>
						</div>
						<div>
							<p-area icon="krajske-volby">
								<strong>Krajská referenda</strong>
								<p-list class="invisible smaller">
									<div>
										<p-link href="https://mv.gov.cz/clanek/obcanske-aktivity-118893.aspx?q=Y2hudW09Mg%3d%3d">Oficiální informace</p-link>
									</div>
								</p-list>
							</p-area>
						</div>
						<div>
							<p-area icon="snemovni-volby">
								<strong>Celostátní referenda</strong>
								<p-list class="invisible smaller">
									<div>
										<p-link href="https://www.volby.cz/pls/ref2003/re?xjazyk=CZ">Referendum o vstupu do&nbsp;EU</p-link>&nbsp;<span class="dimm tiny">&middot;&nbsp;volby.cz</span>
									</div>
								</p-list>
							</p-area>
						</div>
					</p-grid>
				</p-block>
			</p-block>
			<p-block headline="Územní celky" :level="1">
				<p>Podívejte se na volební historii ve vybraném kraji, obvodě, městě, obci nebo v celé republice a porovnejte si je v celkovými výsledky.</p>
				<p-list class="_05">
					<div>
						<p-block headline="Celá republika" :hide="true" class="pb0 mb0">
							<p-area icon="snemovni-volby">
								<strong><router-link to="/ceska-republika">Česká republika</router-link></strong>
								<div class="smallest dimm">Sněmovní, evropské a prezidentské volby</div>
							</p-area>
						</p-block>
					</div>
					<div>
						<p-block headline="Kraje" :hide="true" class="pb0 mb0">
							<p-area icon="krajske-volby">
								<strong>Jednotlivé kraje</strong>
								<div class="p-gap _05"></div>
								<p-columns class="smaller _tight">
									<div v-for="(region, index) in enums.regions">
										<router-link v-if="index === 0" to="/obec/554782" class="red">Praha</router-link>
										<router-link v-else :to="'/kraj/' + (index + 1)">{{ region }}</router-link>
									</div>
								</p-columns>
								<div class="smallest mt3 _w40">
									<strong class="red">Praha</strong> má výjimečné postavení, je krajem i městem zároveň. Nekonají se zde ale krajské volby, pravomoci kraje vykonává magistrát. Ten je volen v rámci běžných komunálních voleb podobně jako magistráty jiných statutárních měst.
								</div>
							</p-area>
						</p-block>
					</div>
					<div>
						<p-block headline="Senátní obvody" :hide="true" class="pb0 mb0">
							<p-area icon="senatni-volby">
								<strong>Senátní obvody</strong>
								<div class="p-gap _01"></div>
								<div class="smallest">
									Řadit podle
									<p-list-linear class="or inline">
										<span><button class="inline" :class="{'strong green': senatSortByNumber === true}" @click="senatSortByNumber = true">čísla</button></span>
										<span><button class="inline" :class="{'strong green': senatSortByNumber === false}" @click="senatSortByNumber = false">názvu</button></span>
									</p-list-linear>
								</div>
								<p-collapsible label="Seznam obvodů" class="smaller" :skip="w > 1000" :open="w > 1000" :class="{mt1: w > 1000}" :borderless="true">
									<p-loader :rule="elections">
										<div v-if="elections">
											<p-columns class="_tight">
												<div v-for="obv in sortBy(elections.cis.obvody, !!senatSortByNumber ? 'OBVOD' : 'NAZEV', null, !senatSortByNumber)">
													<span class="tiny dimm _w2" :class="{red: obv.OBVOD % 3 === 0}">{{ obv.OBVOD }}</span>
													<router-link :to="'/obvod/' + obv.OBVOD" :class="{strong: obv.OBVOD % 3 === 0}">
														{{ obv.NAZEV }}
													</router-link>
												</div>
											</p-columns>
										</div>
									</p-loader>
									<div class="smallest mt3">
										<strong class="red">Červeně</strong> jsou označeny obvody, ve kterých proběhnout nejbližší řádné senátní volby
									</div>
								</p-collapsible>
							</p-area>
						</p-block>
					</div>
					<div>
						<p-block headline="Obce" :hide="true" class="pb0 mb0">
							<p-area icon="komunalni-volby">
								<strong>Jednotlivé obce</strong>
								<div class="p-gap"></div>
								<div v-for="(town, index) in enums.towns.capital">
									<router-link :to="'/obec/' + town.num" :class="{'strong red': index === 0}">
										{{ town.name }}
									</router-link>	
								</div>
								<div class="p-line"></div>
								<div class="smaller mb1">
									<strong>Vybraná města</strong>
								</div>								
								<p-columns class="smaller _tight">
										<div v-for="(town, index) in sortBy([].concat(enums.towns.regional, enums.towns.other), 'name', null, true)">
											<router-link :to="'/obec/' + town.num">
												{{ town.name }}
											</router-link>	
										</div>
								</p-columns>
								<div class="p-line"></div>
								<div class="smaller mb1">
									<strong>Vyhledávání všech obcí</strong>
								</div>	
								<search-town link="/obec/"></search-town>
							</p-area>
						</p-block>
					</div>
				</p-list>
			</p-block>
			<p-block headline="Přehled voleb" :level="1">
				<p-area class="smallest">
					<p-list class="_05">
						<div>
							<p-list-linear class="or">
								<span>
									<button class="inline" @click="typ = null" :class="{'green strong': typ === null}">Všechny</button>
								</span>
								<span v-for="(el, index) in election_types">
									<button class="inline" @click="typ = el.key" :class="{'green strong': typ === el.key}">{{ el.name }}</button>
								</span>
							</p-list-linear>
						</div>
						<div v-if="typ === null || typ === 'KV' || typ === 'SENAT'">
							<p-list-linear class="or">
								<span>
									<button class="inline" @click="radne = false" :class="{'green strong': radne === false}">Řádné i mimořádné volby</button>
								</span>
								<span>
									<button class="inline" @click="radne = true" :class="{'green strong': radne === true}">Pouze řádné volby</button>
								</span>
							</p-list-linear>
						</div>
					</p-list>
				</p-area>
				<div class="p-gap_3"></div>
				<p-block :hide="true" :open="false" headline="Příští volby" v-if="list && list.filter(x => x.datum === null || x.datum > today).length > 0">
					<p-loader :rule="elections">
						<div class="election-timeline">
							<h2 class="serif mt0">Příští volby</h2>
							<ol v-if="elections">
								<template v-for="(election, index) in reverse(list.filter(x => x.datum && x.status < 3))">
									<li>
										<volby-item :election="election"></volby-item>
									</li>
								</template>
								<template v-for="(election, index) in list.filter(x => x.datum === null)">
									<li>
										<volby-item :election="election"></volby-item>
									</li>
								</template>
							</ol>
						</div>
					</p-loader>
				</p-block>
				<h2 class="serif mt0">Historie</h2>
				<template v-if="list && list.length > 10">
					<template v-for="(section, insect) in sections">
						<p-block-expandable :headline="section[0]">
							<p-loader :rule="elections">
								<div class="election-timeline">
									<ol v-if="elections">
										<template v-for="(election, index) in list.filter(x => (x.datum > section[1] && x.datum < section[2]))">
											<li>
												<volby-item :election="election"></volby-item>
											</li>
										</template>
									</ol>
								</div>
							</p-loader>
						</p-block-expandable>
					</template>
				</template>
				<template v-if="list && list.length <= 10">
					<p-block headline="Uplynulé volby" :hide="true">
						<p-loader :rule="elections">
							<div class="election-timeline">
								<ol v-if="elections">
									<template v-for="(election, index) in list.filter(x => (x.datum < today))">
										<li>
											<volby-item :election="election"></volby-item>
										</li>
									</template>
								</ol>
							</div>
						</p-loader>
					</p-block>
				</template>
			</p-block>
			<div class="p-gap_4"></div>
			<p-block headline="Krátce">
				<p>Přehled voleb vychází ze seznamu poskytovaného Českým statistickým úřadem, ale rovnou zobrazuje i jednotlivé mimořádné volby (komunální či senátní), které proběhly nebo se chystají, a to včetně údaje o počtu dotčených obcí či obvodů. Pokud je seznam vybraných voleb delší, jsou rozdělené do jednotlivých dekád od založení České republiky až po dnešek.</p>
			</p-block>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.25">
				<div>
					<top-tasks></top-tasks>
				</div>
				<div>
					<strong>Novinky</strong>
					<div class="p-gap"></div>
					<p-loader :rule="news">
						<div v-if="news" class="smallest">
							<p-list padding="1">
								<template v-for="(news, index) in news.sys">
									<div>
										<news-item :data="news" :noSource="true"></news-item>
									</div>
								</template>
							</p-list>
						</div>
					</p-loader>
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>