<div class="mailchimp-signup-form">
	<form action="https://programydovoleb.us20.list-manage.com/subscribe/post?u=cb5f587f6433e8f14b4308e1f&amp;id=50f4ec211a&amp;v_id=3405&amp;f_id=00ea2ae4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
		<p-list>
			<!-- <div class="strong smaller">Přihlašte se k odběru novinek</div> -->
			<div>
				<p class="smaller pv0 mv0">
					<strong>Přihlašte se k odběru!</strong>
					Shrnutí k nadcházejícím volbám, volební průzkumy a novinky z webu Programy do voleb, max 1&times; týdně. 
					<p-link href="https://us20.campaign-archive.com/home/?u=cb5f587f6433e8f14b4308e1f&amp;id=50f4ec211a">Archiv</p-link> 
					&middot;
					<p-link href="https://mailchimp.com/legal/terms">Ochrana údajů</p-link>
				</p>				
			</div>
			<div>
				<input v-model="val" type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="např jan.novak@seznam.cz">
				<div aria-hidden="true" style="position: absolute; left: -5000px;">
					/* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
					<input type="text" name="b_cb5f587f6433e8f14b4308e1f_50f4ec211a" tabindex="-1" value="">
				</div>
			</div>
			<div>
				<div class="p-offset reverse">
					<div>
						<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Přihlásit se k odběru" :disabled="!val">
					</div>
					<div>
						<a href="http://eepurl.com/icz_09" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://static.programydovoleb.cz/icon/mailchimp.svg" alt="Intuit Mailchimp" style="width: 80px; height: 24px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
					</div>
				</div>
			</div>
		</p-list>
	</form>
	
</div>
