<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Vyhledávání kandidátů" :level="1">
				<search-person :profiles="data ? data.list : null"></search-person>
				<div class="p-gap_3"></div>
				<!-- <p-block-expandable headline="Vybrané osobnosti">
					<p-loader :rule="data">
						<div v-if="data">
							<p-grid class="smaller">
								<template v-for="(item, index) in data.list.filter(x => x.priority === 2)">
									<profile-preview :id="item.id" :compact="true"></profile-preview>
								</template>
							</p-grid>
						</div>
					</p-loader>
				</p-block-expandable> -->
				<p-block headline="Historie" :level="1" :hide="true">
					<h2 class="serif">Volební historie kandidátů</h2>
					<p>Pro každého kandidáta lze dohledat a uložit jeho historickou pouť volbami. Nezáleží na tom, zda se jedná o premiéra nebo komunálního politika, matadora nebo nováčka. Profily lze navrhovat ve vyhledávání výše, kandidáti je mohou tvořit přímo v Adminu. Aktuální seznam všech uložených profilů najdete níže, nebo můžete použít hledání výše - našeptávač je zobrazí okamžitě a přednostně.</p>
					<p-block :hide="true" headline="Seznam profilů">
						<p-collapsible label="Seznam uložených profilů" logo="person" status="1000+">
							<p-loader :rule="sorted">
								<div v-if="sorted">
									<p-columns class="_tight smaller">
										<template v-for="c in 'abcdefghijklmnopqrstuvwxyz'.split('')">
											<div>
												<h2>{{ c.toUpperCase() }}</h2>
											</div>
											<template v-for="(item, index) in sorted.filter(x => url((x.PRIJMENI || x.display.split(' ')[x.display.split(' ').length - 1])[0]) === c)">
												<div>
													<router-link :to="'/lide/profil/' + item.id">{{ item.display }}</router-link>
												</div>
											</template>
										</template>
									</p-columns>
								</div>
							</p-loader>
						</p-collapsible>
					</p-block>
				</p-block>
			</p-block>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<div class="smaller">
				<div class="strong">Omezení</div>
				<p>Prozatím je hledání omezeno na příjmení, přičemž nerozlišuje Velká/malá písmena a diakritiku, ale záleží na shodném počtu znaků.</p>
				<p><p-label color="var(--green)">Zadání</p-label> "dedek", "Dedek" nebo "Dědek" vrátí stejný výsledek.</p>
				<p><p-label color="var(--red)">Zadání</p-label> "vodník" ale nevrátí "podvodník" nebo "vodníková", nehledá, zda zadaný výraz není obsažen v nějakém příjmení.</p>
			</div>
		</template>
	</p-layout-divided>
</div>