.map-leaflet {
  height: min(70vh, 50em);
}

.kv-hero-map .map-leaflet {
  height: 100%;
}

path {
  fill: var(--blue);
  stroke: var(--blue);
}

._tile {
  opacity: 0.2;
}

.kv-hero-map ._info {
  position: absolute;
  bottom: 0;
  left: 1em;
}

.p-box-group {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 402;
}