<div class="map-leaflet">
	<l-map ref="map" v-model:zoom="zoom" :center="center" :use-global-leaflet="false">
		<l-tile-layer
		  url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
		  layer-type="base"
		  name="OpenStreetMap"
		  class="_tile"
		  :opacity="0.25"
		  v-if="showOSM"
		></l-tile-layer>
		<l-geo-json ref="geojson" :geojson="geojson" :options="{filter: map_filter, style: map_style, onEachFeature: map_onEachFeature}" :optionsStyle="map_style" :onEachFeature="map_onEachFeature"></l-geo-json>
	  </l-map>	
	<p-box-group>
		<slot />
		<p-box :click="() => showOSM = !showOSM">
			<p-box-button icon="map"></p-box-button>
		</p-box>
	</p-box-group>
</div>
<p class="tiny dimm _info">Mapy OpenStreetMaps, GeoJSON ze zdrojů data.gov.cz, okrsková data ČSÚ</p>  
