<div class="qa-shareable _roboto">
	<p-box-group>
		<template v-if="!imagedata">
			<template v-if="answer && splits.length > 1">
				<p-box :click="() => txt = answer">
					<p-box-ticker>Celé</p-box-ticker>
				</p-box>
				<template v-for="(spl, index) in splits">
					<p-box :click="() => txt = spl">
						<p-box-ticker>{{ index + 1}}</p-box-ticker>
					</p-box>
				</template>
			</template>
			<p-box :click="() => fontsize -= 3">
				<p-box-icon type="minus"></p-box-icon>
			</p-box>
			<p-box :click="() => fontsize += 3">
				<p-box-icon type="plus"></p-box-icon>
			</p-box>
			<p-box :click="() => snapshot()">
				<p-box-button class="primary">Vygenerovat</p-box-button>
			</p-box>
		</template>
		<template v-if="imagedata">
			<p-box v-if="imagedata">
				<p-box-label><a :href="imagedata" :download="'graf-' + (new Date().getTime()) + '.png'" class="btn btn-primary">Stáhnout</a></p-box-label>
			</p-box>
			<p-box :click="() => destroy()">
				<p-box-label>Ještě upravit</p-box-label>
			</p-box>
		</template>
	</p-box-group>
	<div class="p-line"></div>
	<!-- <template v-if="preview"> -->
		<div class="_rendered" :class="{preview}">
			<div class="_quote" :class="{'quick': !!quick && !answer}">
				<div class="_quote-question _roboto strong" v-html="czechify(question)" :style="{'font-size': answer ? null : fontsize + 'px'}"></div>
				<div v-if="quick">
					<div class="_quote-quick _roboto strong _white" :style="{background: ['', 'var(--green)', 'var(--red)', 'var(--blue44)', 'var(--greyish)'][quick]}">
						{{ ['', 'ANO', 'NE', 'Je to složitější', 'Nechci odpovídat'][quick] }}
					</div>
					<div class="_quote-quick _roboto red strong" v-if="important === 1">!! důležité !!</div>
				</div>
				<div class="_quote-answer _quando" v-html="czechify(txt)" :style="{'font-size': fontsize + 'px'}" v-if="txt"></div>
			</div>
				<div class="_about">
					<div class="_quote-footer p-offset">
						<div v-if="image[0] || image[3]" class="_quote-images" :class="{'_quote-images-narrow': !!image[3]}">
							<!-- <img :src="image[0]" v-if="image[0]" alt="" class="_image1"> -->
							<div class="_image1" v-if="image[0]" :style="{'background-image': 'url(' + image[0] + ')'}"></div>
							<img :src="image[3]" v-if="image[3]" alt="" class="_image4">
							<img :src="image[1]" v-if="image[1]" alt="" class="_image2">
							<img :src="image[2]" v-if="image[1] && image[2] && image[1] != image[2]" alt="" class="_image3">
						</div>
						<div>
							<div class="_quote-author _roboto strong _blue">{{ display }}</div>
							<div v-if="current.volby === 166 && current.JMENO" class="_quote-meta _roboto _blue">
								{{ czechify(current.POVOLANI) }}, {{ current.VEK }} let
							</div>
							<div v-if="current.volby === 166 && current.$strana && current.$strana.length > 0" class="_quote-party _roboto strong _blue">
								{{ current.$strana[0].ZKRATKA }} &middot; {{ enums.regions[current.VOLKRAJ - 1] }} &middot; č. {{ current.PORCISLO }}
							</div>
						</div>
					</div>
				</div>
				<div class="_decor">
					<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 400 400"><g id="fb-q41_copy_2"><path id="Shape_2_copy" fill="#fc0" d="m207.93,80.04c-66.2-1.72-121.29,50.59-123.03,116.84-.46,16.75,2.59,33.41,8.98,48.91,5.54,13.42-10.61,67.49-10.61,67.49,0,0,37.17-9.76,55.97-9.27,3.64.1,6.59.57,8.45,1.58,16.59,8.98,35.06,13.91,53.92,14.37,66.2,1.72,121.29-50.6,123.03-116.84s-50.51-121.36-116.71-123.08h0Z"/></g></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" fill="none" v-if="quick">
						<g>
						<path d="M49.6985 118.168C49.6921 118.175 49.6921 118.185 49.6985 118.192V118.192C49.705 118.198 49.705 118.208 49.6985 118.215L40.3384 127.575C38.7763 129.137 36.2436 129.137 34.6815 127.575L9.82849 102.722C8.2664 101.16 8.2664 98.6274 9.82849 97.0653L16.372 90.5218C17.9341 88.9597 20.4667 88.9597 22.0288 90.5218L34.658 103.151C36.2201 104.713 38.7528 104.713 40.3149 103.151L73.3514 70.1145C74.9135 68.5524 77.4462 68.5524 79.0083 70.1145L85.5518 76.658C87.1139 78.2201 87.1139 80.7527 85.5518 82.3148L49.6985 118.168Z" fill="#20133C"/>
						<path d="M163.845 97.2585C162.283 98.8206 162.283 101.353 163.845 102.915L178.136 117.207C179.698 118.769 179.698 121.301 178.136 122.864L173.794 127.206C172.231 128.768 169.699 128.768 168.137 127.206L153.845 112.915C152.283 111.353 149.751 111.353 148.189 112.915L133.88 127.224C132.318 128.786 129.785 128.786 128.223 127.224L123.88 122.881C122.318 121.319 122.318 118.786 123.88 117.224L138.189 102.915C139.751 101.353 139.751 98.8206 138.189 97.2585L123.793 82.863C122.231 81.3009 122.231 78.7682 123.793 77.2061L128.136 72.8633C129.698 71.3012 132.231 71.3012 133.793 72.8633L148.189 87.2589C149.751 88.821 152.283 88.821 153.845 87.2589L168.224 72.8806C169.786 71.3185 172.319 71.3185 173.881 72.8806L178.223 77.2234C179.785 78.7855 179.785 81.3181 178.223 82.8802L163.845 97.2585Z" fill="#20133C"/>
						<rect x="112.442" y="38.1114" width="8" height="126" rx="4" transform="rotate(15 112.442 38.1114)" fill="#20133C"/>
						</g>
					</svg>
				</div>
			<div class="_footer_brand _quando">programydovoleb.cz</div>
			<div class="_footer_about">
				Odpověď zaslána {{ date(datum, 3) }}
			</div>
		</div>

	<!-- </template> -->
	<div class="canvas mt1" ref="canvas"></div>
</div>
