@import "./gap.scss";
@import "./grid.scss";
@import "./line.scss";
@import "./list.scss";
@import "./offset.scss";
@import "./split.scss";
@import "./wsw.scss";

.p-columns---container > div {
	break-inside: avoid;
	margin-bottom: .75em;
}

.p-columns._narrow .p-columns---container > div {
	break-inside: avoid;
	margin-bottom: .25em;
}

.p-columns---container > div > * {
	padding-top: 0;
	margin-top: 0;
}

.dark img {
	&[src*="volby"],
	&[src*="answers"],
	&[src*="answer-mini"] {
		filter: none !important
	}
}

.p-divider {
	height: 2em;
	position: relative;

	&:after {
		content: "";
		width: 6em;
		height: .25em;
		background: var(--blue);
		position: absolute;
		top: calc(1em - .125em);
		border-radius: .125em;
	}

	&.red:after {
		background: var(--red);
	}
}