.p-gap {height: 1em;}
.p-gap_01, .p-gap._01 {height: .1em;}
.p-gap_02, .p-gap._02 {height: .2em;}
.p-gap_025, .p-gap._025 {height: .25em;}
.p-gap_033, .p-gap._033 {height: .33em;}
.p-gap_05, .p-gap._05 {height: .5em;}
.p-gap_075, .p-gap._075 {height: .75em;}
.p-gap_15, .p-gap._15 {height: 1.5em;}
.p-gap_2, .p-gap._2 {height: 2em;}
.p-gap_3, .p-gap._3 {height: 3em;}
.p-gap_4, .p-gap._4 {height: 4em;}