<div class="pointer-header">
	<div class="_float">
		<div v-if="current.NAZEV && logoByItem(current, data, null, true)" class="hide-60rem _float-right">
			<p-logo :data="{logo: logoByItem(current, data)}" :size="'8rem'" :alt="'Logo ' + current.NAZEV"></p-logo>
		</div>
		<div v-if="con(current.$data, 'photo')" class="hide-60rem _float-right">
			<p-photo :data="con(current.$data, 'photo', null, null, true)" width="4rem" :rounded="true" :border="true"></p-photo>
		</div>
		<div>
			<p-headline :level="1">
				{{ subheadline || headline }}
				<div class="small" v-if="subheadline"><router-link :to="'/volby/' + $volby.$about.hash + '/' + current.volby + '/' + (current.JMENO ? 'kandidat' : 'strana') + '/' + current.id">{{ headline }}</router-link></div>
			</p-headline>
			<div class="serif">
				<div v-if="current.$strana && $strana">
					{{ current.PORCISLO ? current.PORCISLO + '. na' : 'Na' }} kandidátní listině
					<router-link :to="'/volby/' + $volby.$about.hash + '/' + $volby.id + '/strana/' + $strana.id">
						{{ $strana.NAZEV }}
					</router-link>
					<span class="dimm" v-if="current.VOLKRAJ > 0">
						({{ enums.regions[current.VOLKRAJ - 1] }})
					</span>
				</div>

				<router-link :to="'/volby/' + $volby.$about.hash + '/' + $volby.id">
					{{ $volby.$about.name }}
				</router-link> 
				<template v-if="$volby.radne === 1 && $volby.status < 3">
					&middot; {{ $volby.cirka || $volby.datum.split('-')[0] }}
				</template>
				<template v-else>
					&middot; {{ $volby.datum_label || date($volby.datum) }}
				</template>
				<template v-if="$volby.typ === 'KV' && current.$zastupitelstvo && current.$zastupitelstvo.length > 0">
					&middot; <router-link :to="'/volby/' + $volby.$about.hash + '/' + $volby.id + '/obec/' + current.KODZASTUP">{{ current.NAZEVZAST }}</router-link>
					<template v-if="current.$zastupitelstvo[0].DRUHZASTUP === 1 || current.$zastupitelstvo[0].DRUHZASTUP > 4"> &middot; okres {{ data.cis.okresy.find(x => x.NUMNUTS === current.OKRES).NAZEV }}</template>
				</template>
				<template v-if="$volby.typ === 'KV' && !current.$zastupitelstvo">
					&middot; <router-link :to="'/volby/' + $volby.$about.hash + '/' + $volby.id + '/obec/' + current.KODZASTUP">{{ $strana.$zastupitelstvo[0].NAZEVZAST }}</router-link>
					<template v-if="$strana.$zastupitelstvo[0].DRUHZASTUP === 1 || $strana.$zastupitelstvo[0].DRUHZASTUP > 4"> &middot; okres {{ data.cis.okresy.find(x => x.NUMNUTS === current.OKRES).NAZEV }}</template>
				</template>
				<template v-if="$volby.typ === 'KZ'">
					&middot; <router-link :to="'/volby/' + $volby.$about.hash + '/' + $volby.id + '/kraj/' + current.KRZAST">{{ data.cis.kraje.find(x => x.KRAJ === current.KRZAST).NAZEV }}</router-link>
				</template>
				<template v-if="$volby.typ === 'SENAT' && current.OBVOD">
					&middot; obvod {{ current.OBVOD }} &middot; <router-link :to="'/volby/' + $volby.$about.hash + '/' + $volby.id + '/obvod/' + current.OBVOD">{{ data.cis.obvody.find(x => x.OBVOD === current.OBVOD).NAZEV }}</router-link>
				</template>
				<template v-if="$volby.typ === 'SENAT' && !current.OBVOD">
					&middot; obvod neznámý
				</template>
			</div>
			<div class="p-gap"></div>
			<p-box-group class="_empty">
				<template v-if="current">
					<template v-if="current.PRIJMENI && current.$data.logo">
						<p-box>
							<p-box-image :src="current.$data.logo[0].value" class="_bw"></p-box-image>
						</p-box>
					</template>
					<template v-for="party in involvedParties.filter(x => !logoByItem(x, data).includes('empty.png'))">
						<p-box :to="'/rejstrik/' + party.VSTRANA">
							<p-box-image :src="logoByItem(party, data)" class="_bw"></p-box-image>
						</p-box>
					</template>
				</template>
				<template v-if="current.$program.length > 0">
					<p-box :to="'/volby/' + $volby.$about.hash + '/' + current.$program[0].volby + '/' + (current.JMENO ? 'kandidat' : 'strana') + '/' + current.$program[0].csu_id + '/volebni-program/' + current.$program[0].id + '#plne-zneni'">
						<p-box-button class="primary">Program</p-box-button>
					</p-box>
				</template>
				<template v-if="current.$program.length === 0 && current.$data.program && current.$data.program.length === 1">
					<p-box :href="current.$data.program[0].source">
						<p-box-button class="primary">Program</p-box-button>
					</p-box>
				</template>
				<template v-if="current.$program.length === 0 && current.$data.program && current.$data.program.length > 1">
					<p-box :click="() => slide('programove-dokumenty')">
						<p-box-button class="primary"><p-lang :value="current.$data.program.length" :end="['', '', '%% programy', '%% programů']"></p-lang></p-box-button>
					</p-box>
				</template>
				<!-- <template v-if="$volby.status < 3 && ['csu_kz_rk', 'csu_kv_rk', 'csu_ps_rk', 'csu_ep_rk'].indexOf(table) === -1 && !(current.$data.program || current.$program.length > 0)">
					<p-modal>
						<template #init>
							<p-box>
								<p-box-button color="var(--green)">{{ current.$program.length > 0 || (current.$data.program && current.$data.program.length > 0) ? '+' : 'Přidat program'}}</p-box-button>
							</p-box>
						</template>
						<template #content>
							<strong>Přidat volební program</strong>
							<p>Stačí jen poslat odkaz, kde program je. Může to být web, status na sociální síti nebo odkaz na PDF nebo jiný dokument.</p>
							<report-form></report-form>
						</template>
					</p-modal>
				</template> -->
				<template v-if="current.$data.web && current.$data.web.length > 0">
					<p-box :href="current.$data.web[0].value">
						<p-box-button class="primary">Web</p-box-button>
					</p-box>
				</template>
				<template v-if="current.$otazky && current.$otazky.filter(x => x.type === 1).length > 0">
					<p-box :to="'/volby/' + $volby.$about.hash + '/' + current.$odpovedi[0].volby + '/' + (current.$odpovedi[0].csu_table.split('_')[2] === 'rk' ? 'kandidat' : 'strana') + '/' + current.$odpovedi[0].csu_id + '/otazky-a-odpovedi'">
						<p-box-button icon="answers-mini.svg">{{ current.$odpovedi.filter(x => x.$otazka[0].type != 2).length }}</p-box-button>
					</p-box>
				</template>
				<template v-if="typeof current.MANDAT !== 'undefined'">
					<p-box>
						<p-box-label v-if="!current.PORCISLO">Umístění neuvedeno</p-box-label>
						<p-box-label background="var(--grey11)" v-if="current.PORCISLO">
							{{ current.PORCISLO }}
							<span v-if="current.VOLKRAJ > 0">
								&middot;
								{{ enums.regionsShort[current.VOLKRAJ - 1] }}
							</span>
						</p-box-label>
					</p-box>
				</template>
				<template v-if="current.VOLKRAJ">
					<p-box>
					</p-box>
				</template>
				<template v-if="typeof current.MANDAT === 'undefined'">
					<template v-if="null === current.ESTRANA || current.ESTRANA < 0">
						<p-box background="var(--grey11)">
							<p-box-label v-if="!current.ESTRANA">Neúčastní se přímo</p-box-label>
							<p-box-label v-if="current.ESTRANA < 0">Zatím bez volebního čísla</p-box-label>
						</p-box>
					</template>
					<template v-if="typeof current.KSTRANA !== 'undefined'">
						<p-box background="var(--grey11)">
							<p-box-label v-if="!current.KSTRANA">Neúčastní se přímo</p-box-label>
							<!-- <p-box-label v-if="current.KSTRANA < 0">Zatím bez volebního čísla</p-box-label> -->
							<p-box-label v-if="current.KSTRANA > 0">{{ current.KSTRANA }}</p-box-label>
						</p-box>
					</template>
					<template v-if="null === current.POR_STR_HL || current.POR_STR_HL < 0">
						<p-box background="var(--grey11)">
							<p-box-label v-if="!current.POR_STR_HL">Neúčastní se přímo</p-box-label>
							<p-box-label v-if="current.POR_STR_HL < 0">Zatím bez volebního čísla</p-box-label>
						</p-box>
					</template>
					<template v-if="current.CKAND && current.CKAND > 0">
						<p-box>
							<p-box-label>č. {{ current.CKAND }}</p-box-label>
						</p-box>
					</template>
				</template>
				<template v-if="current.MANDAT">
					<p-box class="strong" :style="{color: current.MANDAT === 'A' ? 'var(--green)' : 'var(--red)'}">
						<p-box-icon :type="current.MANDAT === 'A' ? 'icon-check' : 'icon-against'"></p-box-icon>
						<p-box-label>
							<template v-if="current.MANDAT === 'A'">Mandát získán</template>
							<template v-if="current.MANDAT === 'N' && current.PORADINAHR && current.PORADINAHR > 0">Náhradník č. {{ current.PORADINAHR }}</template>	
							<template v-if="current.MANDAT === 'N' && (!current.PORADINAHR || current.PORADINAHR === 0)">Mandát nezískán</template>	
						</p-box-label>
					</p-box>
				</template>
				<template v-if="current.MAND_STR">
					<p-box class="strong" :style="{color: current.MAND_STR > 0 ? 'var(--green)' : 'var(--red)'}">
						<p-box-icon :type="current.MAND_STR > 0 ? 'icon-check' : 'icon-against'"></p-box-icon>
						<p-box-label>
							<p-lang :value="current.MAND_STR" :end="['žádný mandát', 'jeden mandát', '%% mandáty', '%% mandátů']"></p-lang>	
						</p-box-label>
					</p-box>
				</template>
				<template v-if="current.POCMANDCR">
					<p-box class="strong" :style="{color: current.POCMANDCR > 0 ? 'var(--green)' : 'var(--red)'}">
						<p-box-icon :type="current.POCMANDCR > 0 ? 'icon-check' : 'icon-against'"></p-box-icon>
						<p-box-label>
							<p-lang :value="current.POCMANDCR" :end="['žádný mandát', 'jeden mandát', '%% mandáty', '%% mandátů']"></p-lang>	
						</p-box-label>
					</p-box>
				</template>
				<template v-if="current.KRZAST && current.$vysledky && current.$vysledky.length > 0">
					<p-box class="strong" :style="{color: current.$vysledky[0].MANDATU > 0 ? 'var(--green)' : 'var(--red)'}">
						<p-box-icon :type="current.$vysledky[0].MANDATU > 0 ? 'icon-check' : 'icon-against'"></p-box-icon>
						<p-box-label>
							<p-lang :value="current.$vysledky[0].MANDATU" :end="['žádný mandát', 'jeden mandát', '%% mandáty', '%% mandátů']"></p-lang>	
						</p-box-label>
					</p-box>
				</template>
				<template v-if="typeof current.ZVOLEN_K1 != 'undefined' && current.ZVOLEN_K1 != null">
					<p-box class="strong" :style="{color: current.ZVOLEN_K1 === 1 || current.ZVOLEN_K2 === 1 ? 'var(--green)' : 'var(--red)'}">
						<p-box-icon v-if="current.ZVOLEN_K1 !== 2" :type="current.ZVOLEN_K1 === 1 || current.ZVOLEN_K2 === 1 ? 'icon-check' : 'icon-against'"></p-box-icon>
						<p-box-label>
							<template v-if="current.ZVOLEN_K1 === 1 || current.ZVOLEN_K2 === 1">Mandát získán</template>
							<template v-if="current.ZVOLEN_K1 === 2 && (!current.ZVOLEN_K2 || current.ZVOLEN_K2 === 0)">2. kolo</template>	
							<template v-if="current.ZVOLEN_K1 === 0">Mandát nezískán</template>	
						</p-box-label>
					</p-box>
				</template>
				<template v-if="current.$data.social && current.$data.social.length > 0">
						<p-box-gap></p-box-gap>
						<template v-for="(item, index) in links">
							<p-box :href="item.value" class="clean">
								<p-box-icon :type="type(item.value)"></p-box-icon>
							</p-box>
						</template>
				</template>
				<template v-if="$volby.editace === 1">
					<p-modal>
						<template #init>
							<p-box>
								<p-box-button icon="warning">Kandidujete?</p-box-button>
							</p-box>
						</template>
						<template #content>
							<strong>Pro všechny strany a kandidáty</strong>
							<p-list class="smaller _05 pt2">
								<div>
									Každá strana i kandidát může využít <strong>Admin</strong> pro správu svého profilu. <p-link href="https://admin.programydovoleb.cz" class="strong">Získejte přístup</p-link>
								</div>
								<div>
									Všichni mohou vyplnit bohatý profil: představení, fotku, priority, hodnoty, zmínky v médiích, volební materiály, události...
								</div>
								<div>
									Strany i kandidáti mohou odpovídat na otázky do kalkulačky. Spuštění je naplánováno na 16. září. <router-link to="/novinky/7684">Více informací</router-link>
								</div>
								<div>
									Kandidáti mohou odpovědět na čtyři otázky a lépe tak představit sebe a svůj pohled. <router-link to="/novinky/6343">Více informací</router-link>
								</div>
								<div>
									Všechny úpravy lze dělat až <strong>do středy 1. října</strong>.
								</div>
							</p-list>
						</template>
					</p-modal>
				</template>
			</p-box-group>
		</div>
	</div>
</div>