.news-map {
	width: 100%;
  	height: min(70vh, 50em);
	display: block;
	position: relative;
	background: #ccc;
	margin-top: -1rem;

	@media (min-width: 800px) {
		height: min(70vh, 50em);
	}
}

._map {
  	height: min(70vh, 50em);
	border-bottom: 1px solid var(--blue);

	@media (min-width: 800px) {
		height: min(70vh, 50em);
	}
}

._min {
	transform: scale(.5, .5);
}