<div class="party-preview">
	<p-area class="_aig">
			<div class="_b">
				<div v-if="!logoByItem(party, elections).includes('empty')">
					<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV" class="_logo">
				</div>
				<div v-if="logoByItem(party, elections).includes('empty')">
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA) && elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
						<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
							<img loading="lazy" :src="logoByItem(coal, elections)" :alt="'logo ' + coal.NAZEV" class="_logo" :style="{'z-index': 10 - indexC}">
						</template>
					</div>
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA) && elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET === 1">
						<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV + ' chybí'" class="_logo">
					</div>
				</div>
				<div class="_f">
					<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/strana/' + party.id" :to="link + '/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</component>
					<template v-if="candidates">
						<div class="p-gap _025"></div>
						<div v-if="candidates.length > 0 && typeof candidates[0].VOLKRAJ === 'undefined'" class="smaller">
							<p-list-linear>
								<template v-for="(cand, index2) in sortByPorCislo(candidates).filter((x, i) => i < 5)">
									<component :is="cand.NSTRANA === party.VSTRANA ? 'span' : 'p-label'" :color="colorByItem(cand, elections, 'NSTRANA')">
										<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/kandidat/' + cand.id" :to="link + '/kandidat/' + cand.id" class="is-span">{{ cand.JMENO + ' ' + cand.PRIJMENI }}</component>
									</component>
								</template>
								<span v-if="candidates.length > 1" class="dimm"> + {{ candidates.length - 5 }}</span>
							</p-list-linear>
							
						</div>
						<div v-if="candidates.length > 0 && (typeof candidates[0].VOLKRAJ !== 'undefined') " class="smaller">
							<p-list-linear>
								<li v-for="cand in sortBy(candidates.filter(x => x.PORCISLO === 1), 'PRIJMENI', null, true)">
									<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/kandidat/' + cand.id" :to="link + '/kandidat/' + cand.id" class="is-span">{{ cand.PRIJMENI }}</component>
								</li>
								<li v-if="candidates.find(x => !x.PORCISLO || x.PORCISLO > 1)">
									<p-lang :value="candidates.filter(x => !x.PORCISLO || x.PORCISLO > 1).length" :end="['', '+1', '+%%', '+%%']"></p-lang>
								</li>
							</p-list-linear>
						</div>
						<div v-if="candidates.length === 0" class="dimm smallest"><em>zatím bez známých kandidátů</em></div>
					</template>
					<div v-if="extended" class="smallest strong">
						<div class="p-gap _075"></div>
						<!-- <p-label :color="colorByItem(party, elections)"></p-label> -->
						<p-list-linear class="or dimm">
							<span v-if="party.$program && party.$program.length > 0">
								<p-badge :background="colorByItem(party, elections)">
									<router-link :to="link + '/strana/' + party.id + '/volebni-program/' + party.$program[0].id" class="unlink _white">Program</router-link>
								</p-badge>
							</span>
							<span v-if="party.$priorit && party.$priorit > 0">
								<p-badge background="var(--highlight)">
									<router-link :to="link + '/strana/' + party.id + '/priority'" class="unlink">Priority</router-link>
								</p-badge>
							</span>
							<span v-if="party.$odpovedi && party.$odpovedi > 0">
								<p-badge background="var(--highlight)">
									<router-link :to="link + '/strana/' + party.id + '/otazky-a-odpovedi'" class="unlink">Odpovědi</router-link>
								</p-badge>
							</span>
						</p-list-linear>
					</div>
				</div>
				<div>
					<p-modal class="inline" aria="Poslat tip na článek nebo program">
						<template #init>
							<p-icon icon="plus-green" size="1.25em"></p-icon>
						</template>
						<template #content>
								<h3 class="mv05">Zaslat tip</h3>
								<div class="smaller mb1">Narazili jste na na zajímavý článek, program nebo jiný odkaz, který by neměl v přehledu <em>{{ party.NAZEV }}</em> chybět?</div>
								<report-form :part="elections.list[0].typ + ':' + elections.list[0].id + ' - pointer csu_' + elections.list[0].typ.toLowerCase() + '_rkl:' + party.id"></report-form>
							</template>
					</p-modal>
				</div>
			</div>
	</p-area>
</div>
