<div class="party-preview">
	<p-area class="_aig">
			<div class="_b">
				<div v-if="!logoByItem(party, elections).includes('empty')">
					<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV" class="_logo">
				</div>
				<div v-if="logoByItem(party, elections).includes('empty')">
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA) && elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
						<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
							<img loading="lazy" :src="logoByItem(coal, elections)" :alt="'logo ' + coal.NAZEV" class="_logo" :style="{'z-index': 10 - indexC}">
						</template>
					</div>
					<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA) && elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET === 1">
						<img loading="lazy" :src="logoByItem(party, elections)" :alt="'logo ' + party.NAZEV + ' chybí'" class="_logo">
					</div>
				</div>
				<div class="_f">
					<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/strana/' + party.id" :to="link + '/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</component>
					<template v-if="candidates">
						<div v-if="candidates.length > 0 && typeof candidates[0].VOLKRAJ === 'undefined'" class="smaller">
							<template v-for="(cand, index2) in [sortByPorCislo(candidates)[0]]">
								<template v-if="index2 < 5">
									<component :is="cand.NSTRANA === party.VSTRANA ? 'span' : 'p-label'" :color="colorByItem(cand, elections)">
										<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/kandidat/' + cand.id" :to="link + '/kandidat/' + cand.id" class="is-span">{{ cand.JMENO + ' ' + cand.PRIJMENI }}</component>
									</component>
								</template>
							</template>
							<span v-if="candidates.length > 1" class="dimm"> + {{ candidates.length - 1 }}</span>
						</div>
						<div v-if="candidates.length > 0 && (typeof candidates[0].VOLKRAJ !== 'undefined') " class="smaller">
							<p-list-linear>
								<li v-for="cand in sortBy(candidates.filter(x => x.PORCISLO === 1), 'PRIJMENI', null, true)">
									<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/kandidat/' + cand.id" :to="link + '/kandidat/' + cand.id" class="is-span">{{ cand.PRIJMENI }}</component>
								</li>
								<li v-if="candidates.find(x => !x.PORCISLO || x.PORCISLO > 1)">
									<p-lang :value="candidates.filter(x => !x.PORCISLO || x.PORCISLO > 1).length" :end="['', '+1', '+%%', '+%%']"></p-lang>
								</li>
							</p-list-linear>
						</div>
						<div v-if="candidates.length === 0" class="dimm smallest"><em>zatím bez dalších informací</em></div>
					</template>
					<template v-else>
						<div class="dimm smallest"><em>přejít na volební profil</em></div>
					</template>
				</div>
				<div>
					<p-modal class="inline">
						<template #init>
							<p-icon icon="plus-green" size="1.25em"></p-icon>
						</template>
						<template #content>
								<h3 class="mv05">Zaslat tip</h3>
								<div class="smaller mb1">Narazili jste na  na zajímavý článek, program nebo jiný odkaz, který by neměl v přehledu u <em>{{ party.nazev }} chybět?</em></div>
								<report-form :part="elections.list[0].typ + ':' + elections.list[0].id + ' - pointer csu_' + elections.list[0].typ.toLowerCase() + '_rkl:' + party.id"></report-form>
							</template>
					</p-modal>
				</div>
				<!-- <div>
					<template v-if="party.$odpovedi && (party.$odpovedi > 0 || party.$odpovedi.length > 0)"><component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/strana/' + party.id + '/otazky-a-odpovedi'" :to="link + '/strana/' + party.id + '/otazky-a-odpovedi'" class="_icon"> <img src="https://static.programydovoleb.cz/icon/answers.svg" alt="Odpovědi" class="_icon" loading="lazy" > </component> </template>
					<template v-if="(party.$data.program && party.$data.program.length > 0) || (party.$program && party.$program.length > 0)">
						<p-modal class="inline">
							<template #init>
								<span class="strong smallest _pg" :style="{background: colorByItem(party, elections)}">program</span>
							</template>
							<template #content>
								<div class="_b">
									<div>
										<div v-if="!logoByItem(party, elections).includes('empty')">
											<p-logo :data="{logo: logoByItem(party, elections)}" size="4rem" class="_logo" :alt="'logo ' + party.NAZEV"></p-logo>
										</div>
										<div v-if="logoByItem(party, elections).includes('empty')">
											<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
												<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
													<p-logo :data="{logo: logoByItem(coal, elections)}" size="4rem" class="_logo" :alt="'Logo ' + coal.NAZEV"></p-logo>
												</template>
											</div>
											<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET === 1">
												<p-logo :data="{logo: logoByItem(party, elections)}" size="4rem" class="_logo" alt="Logo chybí"></p-logo>
											</div>
										</div>
									</div>
									<div>
										<p-label :color="colorByItem(party, elections)" :after="true"><component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id" :href="link + '/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</component></p-label>
										<div class="strong smaller">Programové dokumenty</div>
									</div>
								</div>
								<div class="_g"></div>
								<p-list>
									<div v-for="(program, indexP) in party.$program">
										<p-area class="inline" icon="icon-party" background="var(--blue11)">
											<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/strana/' + party.id + '/volebni-program/' + program.id + '#plne-zneni'" :to="link + '/strana/' + party.id + '/volebni-program/' + program.id + '#plne-zneni'" class="strong">Plné znění volebního programu</component>
											<div class="smallest dimm">{{ date(program.updated) }}</div>
										</p-area>
									</div>
									<div v-for="(program, indexP) in party.$data.program">
										<div class="p-offset reverse balanced">
											<div>
												<p-link :href="program.source">{{ program.value }}</p-link>
												<div class="dimm tiny">vloženo {{ date(program.updated) }}</div>
											</div>
											<div v-if="program.label">
												<p-link class="dimm smallest" :href="program.label">záloha</p-link>
											</div>
										</div>
									</div>
									<div v-if="party.$priorit">
										<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :href="link + '/strana/' + party.id + '#volebni-priority'" :to="link + '/strana/' + party.id + '#volebni-priority'" v-if="party.$priorit"><p-lang :value="party.$priorit" :end="['', '1 volební priorita', '%% volební priority', '%% volební priorit']"></p-lang></component>
									</div>
								</p-list>
							</template>
						</p-modal> 
					</template>
					<template v-else>
						<p-modal class="inline">
							<template #init>
								<span class="strong smallest _pg _pg11 green" :style="{background: 'var(--green11)'}">+</span>
							</template>
							<template #content>
								<strong>Vložit odkaz na volební program nebo priority</strong>
								<div class="p-gap"></div>
								<report-form></report-form>
							</template>
						</p-modal>
					</template>
				</div> -->
			</div>
	</p-area>
</div>
