<div class="party-preview">
	<div class="_b">
		<div>
			<img :src="logoByItem(party, elections)" :alt="party.nazev"  loading="lazy"  class="_img">
		</div>
		<div class="_f smaller">
			<!-- <p-label :color="colorByItem(party, elections)"> -->
				<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id" :href="link + '/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</component>
			<!-- </p-label> -->
			<template v-if="party.$odpovedi && party.$odpovedi > 0"> <component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id + '/otazky-a-odpovedi'" :href="link + '/strana/' + party.id + '/otazky-a-odpovedi'" class="_icon"> <img src="https://static.programydovoleb.cz/icon/answers.svg" alt="Odpovědi"  loading="lazy" class="_icon"> </component> </template>
		</div>
		<div>
			<div class="smallest">
				<span :class="{dimm: candidates.length === 0}">
					{{ candidates.length }}
					&middot; 
				</span>
				<template v-if="(party.$data.program && party.$data.program.length > 0) || (party.$program && party.$program.length > 0)">
					<p-modal class="inline">
						<template #init>
							<span class="strong smallest">program</span>
						</template>
						<template #content>
							<div class="_b">
								<div>
									<div v-if="!logoByItem(party, elections).includes('empty')">
										<p-logo :data="{logo: logoByItem(party, elections)}" size="4rem" class="_logo" :alt="'logo ' + party.NAZEV"></p-logo>
									</div>
									<div v-if="logoByItem(party, elections).includes('empty')">
										<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET > 1">
											<template v-for="(coal, indexC) in elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).$coalition">
												<p-logo :data="{logo: logoByItem(coal, elections)}" size="4rem" class="_logo" :alt="'Logo ' + coal.NAZEV"></p-logo>
											</template>
										</div>
										<div class="_logos" v-if="elections.cis.strany.find(x => x.VSTRANA === party.VSTRANA).POCET === 1">
											<p-logo :data="{logo: logoByItem(party, elections)}" size="4rem" class="_logo" alt="Logo chybí"></p-logo>
										</div>
									</div>
								</div>
								<div>
									<p-label :color="colorByItem(party, elections)" :after="true"><component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id" :href="link + '/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</component></p-label>
									<div class="strong smaller">Programové dokumenty</div>
								</div>
							</div>
							<div class="_g"></div>
							<p-list>
								<div v-for="(program, indexP) in party.$program">
									<p-area class="inline" icon="icon-party" background="var(--blue11)">
										<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id + '/volebni-program/' + program.id + '#plne-zneni'" :href="link + '/strana/' + party.id + '/volebni-program/' + program.id + '#plne-zneni'" class="strong">Plné znění volebního programu</component>
										<div class="smallest dimm">{{ date(program.updated) }}</div>
									</p-area>
								</div>
								<div v-for="(program, indexP) in party.$data.program">
									<div class="p-offset reverse balanced">
										<div>
											<p-link :href="program.source">{{ program.value }}</p-link>
											<div class="dimm tiny">vloženo {{ date(program.updated) }}</div>
										</div>
										<div v-if="program.label">
											<p-link class="dimm smallest" :href="program.label">záloha</p-link>
										</div>
									</div>
								</div>
								<div v-if="party.$priorit">
									<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id + '#volebni-priority'" :href="link + '/strana/' + party.id + '#volebni-priority'" v-if="party.$priorit"><p-lang :value="party.$priorit" :end="['', '1 volební priorita', '%% volební priority', '%% volební priorit']"></p-lang></component>
								</div>
							</p-list>
						</template>
					</p-modal>
				</template>
				<template v-else>
					<p-modal class="inline">
						<template #init>
							<span class="smallest green">doplnit</span>
						</template>
						<template #content>
							<strong>Vložit odkaz na volební program nebo priority</strong>
							<div class="p-gap"></div>
							<report-form></report-form>
						</template>
					</p-modal>
				</template>
			</div>
		</div>
	</div>
</div>
