<div class="party-preview">
	<div class="_b">
		<div>
			<img :src="logoByItem(party, elections)" :alt="party.nazev"  loading="lazy"  class="_img">
		</div>
		<div class="_f smaller">
			<!-- <p-label :color="colorByItem(party, elections)"> -->
				<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id" :href="link + '/strana/' + party.id" class="strong">{{ party.ZKRATKA }}</component>
			<!-- </p-label> -->
			<template v-if="party.$odpovedi && party.$odpovedi > 0"> <component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id + '/otazky-a-odpovedi'" :href="link + '/strana/' + party.id + '/otazky-a-odpovedi'" class="_icon"> <img src="https://static.programydovoleb.cz/icon/answers.svg" alt="Odpovědi"  loading="lazy" class="_icon"> </component> </template>
		</div>
		<div>
			<div class="smallest">
				<span :class="{dimm: candidates.length === 0}">
					{{ candidates.length }}
					&middot; 
				</span>
				<p-modal class="inline">
					<template #init>
						<p-icon icon="plus-green" size="1.25em"></p-icon>
					</template>
					<template #content>
							<h3 class="mv05">Zaslat tip</h3>
							<div class="smaller mb1">Narazili jste na na zajímavý článek, program nebo jiný odkaz, který by neměl v přehledu <em>{{ party.NAZEV }}</em> chybět?</div>
							<report-form :part="elections.list[0].typ + ':' + elections.list[0].id + ' - pointer csu_' + elections.list[0].typ.toLowerCase() + '_rkl:' + party.id"></report-form>
						</template>
				</p-modal>
			</div>
		</div>
	</div>
</div>
