<div class="party-preview">
	<div class="_b">
		<div>
			<img :src="logoByItem(party, elections)" :alt="party.nazev"  loading="lazy"  class="_img">
		</div>
		<div class="_f smaller">
			<!-- <p-label :color="colorByItem(party, elections)"> -->
				<component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id" :href="link + '/strana/' + party.id" class="strong">{{ party.NAZEV }}</component>
			<!-- </p-label> -->
			<template v-if="party.$odpovedi && party.$odpovedi > 0"> <component :is="link.split('https').length > 1 ? 'p-link' : 'router-link'" :to="link + '/strana/' + party.id + '/otazky-a-odpovedi'" :href="link + '/strana/' + party.id + '/otazky-a-odpovedi'" class="_icon"> <img src="https://static.programydovoleb.cz/icon/answers.svg" alt="Odpovědi"  loading="lazy" class="_icon"> </component> </template>
		</div>
		<div>
			<div class="smallest">
				<span :class="{dimm: candidates.length === 0}">
					{{ candidates.length }}
				</span>
				<span v-if="party.$program.length > 0">
					&middot;
					<router-link :to="link + '/strana/' + party.id + '/volebni-program/' + party.$program[0].id" class="strong">
						P
					</router-link>
				</span>
			</div>
		</div>
	</div>
</div>
