._npm {
    margin: 0;
    padding: 0;
}

.p-headline {
    max-width: 35em;
}

._mw {
    max-width: 40em;
}

._bg {
    background: transparent;
}

p {
    font-size: 1.6rem;
}

._ph {
    width: 4em;
}

._mw {
    max-width: 50em;
}