.p-block {
  padding-bottom: 0;
  position: relative;
  width: 100%;

  transition: .4s all;

  &.opened {
    // padding-top: 1rem;
    padding-bottom: 8rem;
  }
}

.p-headline---sublabel:empty {
  display: none;
}

.p-block-indicator {
  position: absolute;
  font-size: 3rem;
  right: 1rem;
  top: .1em;
  
  font-family: Arial, Helvetica, sans-serif;

  transform: rotate(45deg);
  transition: .4s all;

  pointer-events: none;

  &:not(.red) {
    color: #066ed2;
  }
}

.p-block-indicator---opened {
  color: #d72027 !important;
  transform: rotate(360deg);
  // top: 2rem;
}

.p-headline {
  border-top: 1px solid rgba(255,255,255,0);
  border-bottom: var(--border);
  transition: .4s all;
  margin-bottom: 0rem !important;

  .dark & {
    border-bottom-color: rgba(255,255,255,.2);
  }

  .opened > div > & {
    border-bottom: 1px solid rgba(255,255,255,0);
    border-top: var(--border);
    margin-bottom: 4rem !important;

    .dark & {
      border-top-color: rgba(255,255,255,.2);
    }
  }

  @media (hover: hover) {
    .p-block---expandable:not(.opened) > div > &:hover  {
      border-bottom-color: #066ed2;
    }
    .p-block---expandable.opened > div > &:hover {
      border-top-color: #d72027;
    }
  }
}

._status {
  right: 2.5em;
  top: .8em; 
  color: var(--blue);
  position: absolute;

  &:not(:last-child) {
    right: 4em;
  }
}

._content {
  margin-top: 1em;
}

._nmr {
  margin-right: 0 !important;
}

._suggestion {
  color: var(--red);
  font-weight: bold;
}