<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block :headline="headline" :level="1" :hide="true">
				<p-loader :rule="data">
					<div v-if="data">
						<div v-if="data.list[0]">
							<pointer-header :current="current" :party="$strana" :elections="$volby" :data="data" :headline="headline" :table="table" subheadline="Priority"></pointer-header>
							<div class="p-gap _3 _floar-clear"></div>

							<section class="program">

								<template v-if="current.$priority.find(x => x.headline && x.content)">
									<template v-for="(priority, indexP) in current.$priority">
										<component :is="priority.content && priority.content.charAt(0) === '[' ? 'div' : 'p-block'" :headline="priority.headline" :anchor="truncate(priority.headline, 3)">
											<template v-if="priority.content && priority.content.charAt(0) != '['">
												<div class="_mw serif"  v-html="priority.content.split('\n').join('<br>')"></div>
											</template>
											<div class="_mw" v-if="priority.content && priority.content.charAt(0) === '['">
												<program-block class="serif smaller" :parts="{parts: JSON.parse(priority.content)}" :hash="url(priority.headline)" :headline="priority.headline" :color="colorByItem(current, data)"></program-block>
											</div>
											<div class="smallest dimm mt1" v-if="priority.source">
												vloženo {{ date(priority.updated) }}, <p-link :href="priority.source" class="dimm">zdroj</p-link>
											</div>
										</component>
									</template>
								</template>
								<template v-else>
									<p-list class="_05">
										<div v-for="(priority, indexP) in current.$priority">
												<div v-if="priority.headline" v-html="priority.headline" class="smaller strong">
	
												</div>
												<div class="_mw serif" v-if="priority.content && priority.content.charAt(0) != '['" v-html="priority.content.split('\n').join('<br>')">
													
												</div>
												<div class="_mw" v-if="priority.content && priority.content.charAt(0) === '['">
													<program-block class="serif smaller" :parts="{parts: JSON.parse(priority.content)}" :hash="url(priority.headline)" :headline="priority.headline" :color="colorByItem(current, data)" :anchor="truncate(priority.headline, 3)"></program-block>
												</div>
											
										</div>
									</p-list>
									<div class="p-gap _2"></div>
									<template v-for="priority in [current.$priority.find(x => x.source)]">
										<div class="smallest dimm mt1" v-if="priority && priority.source">
											vloženo {{ date(priority.updated) }}, <p-link :href="priority.source" class="dimm">zdroj</p-link>
										</div>
									</template>
								</template>

							</section>
							<div class="p-gap _4"></div>
							<party-preview v-if="current.NAZEV" :link="'/volby/' + volbyType + '/' + volbyID" :party="current" :election="null" :elections="data"></party-preview>
							<div class="p-gap _4"></div>
						</div>
					</div>
				</p-loader>
				<p-block headline="Data" :hide="true" class="mt3" v-if="$volby && $volby.editace === 1">
					<p-grid>
						<div>
							<p-area icon="link">
								<p-modal>
									<template #init><button class="inline strong">Admin - správa údajů</button></template>
									<template #content>
										<strong>Administrace údajů</strong>
										<div class="p-gap _05"></div>
										<div class="smaller">Máte zájem spravovat informace na této stránce? Získejte přístup do Adminu. Stačí poslat žádost a ověřit, že jste oprávněná osoba nebo kancelář strany či hnutí, které se tyto údaje týkají a která bude údaje pravdivě a svědomitě spravovat.</div>
										<div class="p-gap"></div>
										<div class="strong">
											<p-link :href="'https://admin.programydovoleb.cz/zadost/' + table + ':' + tableID + '?source=https://programydovoleb.cz' + $route.path" class="button">Vyplnit žádost</p-link>
										</div>
									</template>
								</p-modal>
								<div class="smallest dimm">Spravujte údaje na této stránce</div>
							</p-area>
						</div>
					</p-grid>
				</p-block>
				<div class="p-gap"></div>
				<!-- <p class="smaller">
					<strong><p-label color="var(--red)">Nominujte <em>Programy do voleb</em></p-label> na <p-link href="https://kristalova.lupa.cz/nominace/" class="red">Křišťálovou lupu 2024</p-link>.</strong>
					Stačí napsat název projektu <p-link href="https://kristalova.lupa.cz/nominace/" class="red strong">v tomto formuláři</p-link> v kategorii <strong>Nástroje a služby</strong> a potvrdit to e-mailem. Můžete zde doplnit i další oblíbené projekty. Předem díky.
				</p>
				<div class="p-gap"></div> -->
			</p-block>
			
		</template>
		<template #anchors>
			<template v-if="data && current.NAZEV">
				<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'" v-if="!data"></p-logo>
				<p-logo v-if="data && logoByItem(current, data, null, true)" :data="{logo: logoByItem(current, data)}" :size="'12rem'" :alt="'Logo ' + current.NAZEV"></p-logo>
				<div class="logos" v-if="data && $coalition">
					<template v-for="(coal, index) in $coalition">
						<p-logo :data="logoByItem(coal, data)" :size="logoByItem(current, data, null, true) ? '4rem' : '7rem'" :alt="'Logo ' + coal.NAZEV"></p-logo>
					</template>
				</div>
			</template>
			<template v-if="data && current.JMENO">
				<template v-if="con(current.$data, 'photo')">
					<p-photo :data="con(current.$data, 'photo', null, null, true)" width="12rem" :rounded="true" :border="true"></p-photo>
				</template>
				<template v-if="!con(current.$data, 'photo')">
					<p-logo v-if="logoByItem(current, data, 'NSTRANA', true)" :data="{logo: logoByItem(current, data, 'NSTRANA')}" :size="'12rem'" :alt="'Logo ' + current.NAZEV"></p-logo>
					<div class="logos" v-if="!logoByItem(current, data, 'NSTRANA', true) && $coalition">
						<template v-for="(coal, index) in $coalition">
							<p-logo :data="logoByItem(coal, data)" :size="logoByItem(current, data, null, true) ? '4rem' : '7rem'" :alt="'Logo ' + coal.NAZEV"></p-logo>
						</template>
					</div>
					<p-logo :data="{logo: cdn + 'el/generic-2023.png'}" :size="'12rem'" v-if="!logoByItem(current, data, 'NSTRANA', true) && !$coalition"></p-logo>
				</template>
			</template>
			<!-- <p-image v-if="data && current.JMENO && con(current.$data, 'photo')" :src="con(current.$data, 'photo') || cdn + 'missing.png'" width="12rem" :rounded="true" :border="true"></p-image> -->
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.5">

				<!-- <cta-get-admin :election="$volby" /> -->
				<cta-support></cta-support>
				<div>
					<div class="smallest strong" v-if="data && $volby">
						<div><p-label :color="'var(--' + (['red', 'blue', 'green', 'red'][$volby.status]) + ')'">volby {{ enums.status[$volby.status] }}</p-label></div>
						<div><p-label :color="'var(--' + (['red', 'green', 'red', 'blue'][$volby.editace]) + ')'">administrace {{ enums.editace[$volby.editace] }}</p-label></div>
					</div>
				</div>
				<div v-if="data && $volby && [162,163].indexOf($volby.id) > -1 && current">
					<div class="p-list smaller strong">
						<div v-if="current.KRZAST"><router-link :to="'/volby/krajske-volby/162/kraj/' + current.KRZAST">{{ data.cis.kraje.find(x => x.KRAJ === current.KRZAST).NAZEV }}</router-link></div>
						<div v-if="current.OBVOD">{{ current.OBVOD }} &middot; <router-link :to="'/volby/senatni-volby/163/obvod/' + current.OBVOD">{{ data.cis.obvody.find(x => x.OBVOD === current.OBVOD).NAZEV }}</router-link></div>
						<div v-if="$strana"><router-link :to="'/volby/krajske-volby/162/strana/' + $strana.id">{{ $strana.NAZEV }}</router-link></div>
					</div>
				</div>
				<div>
					<strong class="smaller">Novinky a zdroje</strong>
					<div class="p-gap _05"></div>
					<p-loader :rule="news">
						<div v-if="news" class="smallest">
							<news-block :showAll="true" :news="news" :limit="2" :data="current.$data" :prefix="'/' + $route.fullPath.split('/').splice(1, 3).join('/')"></news-block>
						</div>
					</p-loader>
				</div>
			</p-list>
		</template>
	</p-layout-divided>
</div>