.line {
  stroke: #ddd;
  stroke-width: 2;
}

path {
  stroke: #ddd;
  stroke-width: 2;
  fill: none;
}

text {
  font-size: .6em;
  fill: var(--blue);
}

circle {
  r: 2;

  &.circle-last,
  &:last-child {
    r: 5;
  }
}

.hover {
  r: 10;
  opacity: 0;
  position: relative;
  z-index: 2;
}
