<div class="homepage-ep">
	<p-loader :rule="election">
		<div v-if="election">
			
			<div class="smallest dimm">Upozornění: až do registrace stran a kandidátů berte uvedené kandidátní listiny jako předběžné a neoficiální.</div>
				<div class="p-gap_075"></div>
				<component :is="width < 640 ? 'p-area' : 'div'" class="smaller white">
					<p-columns :class="{'_2': width < 640}">
						<div v-for="(party, index) in sortBy(election.list[0].$strany, 'ZKRATKA', '', true)">
							<component :is="width < 640 ? 'party-preview-tiny' : 'party-preview'" :party="party" :candidates="sortByPorCislo(election.list[0].$kandidati.filter(x => x.KSTRANA === party.KSTRANA))" :candidatessCount="election.list[0].$kandidati.filter(x => x.KSTRANA === party.KSTRANA && x.PORCISLO).length" :elections="election" :election="null" :link="'/volby/snemovni-volby/' + elections.id"></component>
						</div>
					</p-columns>
				</component>
				
			<!-- <p-columns class="squeeze smaller text-center">
				<div v-for="(party, index) in sortBy(election.list[0].$strany, 'ZKRATKA', '', true)">
					<div>
						<div class="p-line"></div>
						<div class="show-40rem pb025">
							<p-image :src="logoByItem(party, election)" class="rounded _dib" width="4em"></p-image>
						</div>
						<div class="pb025">
							<router-link class="strong" :to="'/volby/snemovni-volby/' + election.list[0].id + '/strana/' + party.id">{{ party.ZKRATKA }}</router-link>
						</div>
						<div class="smallest" v-if="party.$program.length || party.$priorit">
							<p-list-linear class="or">
								<span v-if="party.$program.length">
									<router-link :to="'/volby/snemovni-volby/' + election.list[0].id + '/strana/' + party.id + '/volebni-program/' + party.$program[0].id">Program</router-link>
								</span>
								<span v-if="party.$priorit && party.$priorit > 0">
									<router-link :to="'/volby/snemovni-volby/' + election.list[0].id + '/strana/' + party.id + '/priority'">Priority</router-link>
								</span>
							</p-list-linear>
						</div>
						<div class="smallest pt025">
							<router-link :to="'/volby/snemovni-volby/' + election.list[0].id + '/strana/' + party.id + '/kandidati'">
								<p-lang class="dimm" :value="election.list[0].$kandidati.filter(x => x.PORCISLO && x.KSTRANA === party.KSTRANA).length" :end="['žádný kandidát', '1 kandidát', '%% kandidáti', '%% kandidátů']"></p-lang>
							</router-link>									
						</div>
					</div>
				</div>
			</p-columns> -->
			
		</div>
	</p-loader>
	<div class="p-line _2 mt05"></div>
	<strong>Kde jsou?</strong>
	<div class="p-gap"></div>
	<p-area class="highlight">
		<p-columns class="_2_4">
			<div v-for="item in sortBy(list, 'name', null, true)">
				<!-- <p-area> -->
					<div class="p-offset _ac">
						<div>
							<p-image :src="item.logo" width="3em" :round="true"></p-image>
						</div>
						<div>
							<div class="strong">{{ item.name }}</div>
							<div>
								{{ item.txt }} <router-link :to="item.link" v-if="item.link" class="strong">{{ item.label }}</router-link>
							</div>
						</div>
					</div>
					
					
				<!-- </p-area> -->
			</div>
		</p-columns>
	</p-area>
	<div class="p-line _2"></div>
</div>