<div class="homepage-ep">
	<p-loader :rule="election">
		<div v-if="election">
			<p-area icon="snemovni-volby" class="inline highlight shadow mt05">
				<h2 class="mv0">	
					Sněmovní volby
				</h2>
				<div class="smaller sans strong">
					<router-link to="/volby/snemovni-volby/166">3. a 4. října 2025</router-link>
				</div>
			</p-area>
			<!-- <div class="smaller mt2 mb2">
				<div class="mt05">
					<p-label color="var(--red)" class="block">
						Nominujte tento web na <p-link to="/novinky/6343" class="strong red">Křišťálovou Lupu</p-link>.
						<div class="smallest">
							veřejně prospěšná služba · zájmové weby · nástroje a služby
						</div>
					</p-label>
					
				</div>
				<div class="mt05">
					<p-label color="var(--yellow)">
						<p-link href="https://docs.google.com/forms/d/e/1FAIpQLSd0WRK4p3rKfLtwKxr5d451UQgqiz0ooxIGkYpbqCNZI0SoXQ/viewform?usp=header" class="strong">Navrhněte otázku</p-link> do volební kalkulačky.
					</p-label>
				</div>
				<div class="mt05">
					<p-label color="var(--yellow)">Kandidáti již mohou odpovídat na <router-link to="/novinky/6343" class="strong">čtyři otázky</router-link>.</p-label>
				</div>
				<div class="mt05">
					<p-label color="var(--blue)"><router-link to="/novinky/6718" class="is-span">Měsíční přehled</router-link> jako <p-link href="https://open.spotify.com/show/0t3PQ53sL3JkydArnDCTZZ" class="strong">podcast</p-link> nebo <p-link href="https://us20.campaign-archive.com/home/?u=cb5f587f6433e8f14b4308e1f&id=50f4ec211a">newsletter</p-link>.</p-label>
				</div>
			</div> -->
			<!-- <div class="p-gap"></div> -->
			<promo-block></promo-block>
			<!-- <div class="p-gap"></div> -->
			<!-- <div class="smallest dimm">
				Upozornění: až do 15. srpna, do registrace stran a kandidátů berte uvedené kandidátní listiny jako předběžné a neoficiální.
			</div> -->
			<!-- <div class="smallest dimm">Upozornění: až do registrace stran a kandidátů berte uvedené kandidátní listiny jako předběžné a neoficiální.</div> -->
				<div class="p-gap_075"></div>
				<component :is="width < 640 ? 'div' : 'div'" class="smaller white">
					<p-grid class="_squeeze border hover">
						<div v-for="(party, index) in sortBy(election.list[0].$strany, 'ZKRATKA', '', true)">
							<party-preview-leader :party="party" :candidates="sortByPorCislo(election.list[0].$kandidati.filter(x => x.KSTRANA === party.KSTRANA))" :candidatesCount="(election.list[0].$kandidatu.find(x => x.KSTRANA === party.KSTRANA) || {pocet: 0}).pocet" :elections="election" :election="null" :link="'/volby/snemovni-volby/' + elections.id"></party-preview-leader>
						</div>
					</p-grid>
				</component>
		</div>
	</p-loader>


	<div class="p-line _2 mt05"></div>

				<p-area class="primary smaller" borderColor="var(--yellow)">
					<div class="p-offset reverse">
						<div><strong>4 otázky pro kandidáty</strong><p-icon icon="answers-mini"></p-icon></div>
						<div><router-link to="/novinky/6343" class="smallest is-span dimm">o co jde?</router-link></div>
					</div>
					<div class="_mw60 pt025">
						Proč <router-link to="/volby/snemovni-volby/166/otazka/386" class="is-spann strong">kandidují</router-link>, na co se musí Česko <router-link to="/volby/snemovni-volby/166/otazka/389" class="is-spann strong">připravit</router-link> v příštích letech, co pro ně znamená <router-link to="/volby/snemovni-volby/166/otazka/388" class="is-spann strong">svoboda</router-link> a co je podle nich <router-link to="/volby/snemovni-volby/166/otazka/387" class="is-spann strong">přehlížené téma</router-link>?
						<div class="p-line _0 mt1"></div>
						<div class="strong pt1 pb025">Odpovědi již zaslalo {{ answers ? answers.length : 0 }} kandidátů, např.</div>
						<p-list-linear class="nebo inline" v-if="answers">
							<span v-for="cand in sortBy(shuffle(answers).filter((x, i) => i < 12), 'PRIJMENI', null, true)">
								<router-link :to="'/volby/snemovni-volby/166/kandidat/' + cand.id + '/otazky-a-odpovedi'" class="is-span">{{ cand.JMENO + ' ' + cand.PRIJMENI}}</router-link>
							</span>
						</p-list-linear>
					</div>
				</p-area>
				<div class="p-gap"></div>
				<p-loader :rule="election">
					<div v-if="election">
						<p-box-group>
							<template v-for="topic in sortBy(election.list[0].$temata, 'question', null, true)">
								<p-box :to="'/volby/snemovni-volby/166/tema/' + topic.id">
									<p-box-button :icon="topic.icon">{{ topic.question }}</p-box-button>
								</p-box>
							</template>
						</p-box-group>
					</div>
				</p-loader>
				<div class="p-gap"></div>
				<p-grid class="_2">
					<div>
						<p-area icon="calc">
								<router-link to="/volby/snemovni-volby/166/otazky-a-odpovedi" class="strong">Otázky do kalkulačky</router-link>
								<div class="smallest">Odpovědi mohou vyplňovat strany i kandidáti.</div>
						</p-area>
					</div>
					<div>
						<p-area icon="admin">
								<p-link href="https://admin.programydovoleb.cz" class="strong">Přístup do Adminu</p-link>
								<div class="smallest">Kandidujete a chcete vyplnit své odpovědi? </div>
						</p-area>
					</div>
				</p-grid>
	
	
				<div class="p-line _2"></div>
				<strong>Přehled lídrů</strong>
				<div class="p-gap"></div>
			
				<p-loader :rule="election">
					<div v-if="election">
						<p-grid class="smaller _squeeze text-center">
							<div v-for="person in sortBy(election.list[0].$kandidati, 'PRIJMENI', null, true)">
								<!-- <div class="p-offset"> -->
									<div class="p05">
										<!-- <template v-for="person in election.list[0].$kandidati.filter(x => x.id === party.$data.leader[0].label)"> -->
											<p-image :src="person.$data && person.$data.photo && person.$data.photo.length > 0 ? person.$data.photo[0].value : null" class="_ar round ma" width="100%"></p-image>
										<!-- </template> -->
									</div>
									<div>
										<div class="strong">
											<router-link :to="'/volby/snemovni-volby/166/kandidat/' + person.id">{{ person.JMENO + ' ' + person.PRIJMENI }}</router-link>
										</div>
										<div class="smallest">
											{{ election.list[0].$strany.find(x => x.KSTRANA === person.KSTRANA).ZKRATKA }}
										</div>	
									</div>
								<!-- </div>			 -->
							</div>
						</p-grid>
					</div>
				</p-loader>


				
	<div class="p-line _2"></div>
	<strong>Kandidáti v krajích</strong>
	<div class="p-gap"></div>
	<p-area class="smaller">
		<p-columns class="_tight">
			<div v-for="(region, index) in enums.regions">
				<router-link :to="'/volby/snemovni-volby/166/kraj/' + (index + 1)">{{ region }}</router-link>
			</div>
		</p-columns>
	</p-area>
	
	
	<div class="p-line _2"></div>
	<strong>Kde jsou další strany?</strong>
	<div class="p-gap"></div>
	<p-area class="highlight">
		<p-columns class="_2_4">
			<div v-for="item in sortBy(list, 'name', null, true)">
				<!-- <p-area> -->
					<div class="p-offset _ac">
						<div>
							<p-image :src="item.logo" width="3em" :round="true"></p-image>
						</div>
						<div>
							<div class="strong">
								<router-link class="is-span" :to="'/volby/snemovni-volby/166/aktivita/' + item.activity">{{ item.name }}</router-link>
							</div>
							<div>
								{{ item.txt }} <router-link :to="item.link" v-if="item.link" class="strong">{{ item.label }}</router-link>
							</div>
						</div>
					</div>
					
					
				<!-- </p-area> -->
			</div>
		</p-columns>
	</p-area>
	
	
	<div class="p-line _2"></div>
	<strong>Přehled průvodců, kalkulaček a dalších nástrojů:</strong>
	<div class="p-gap"></div>
	<div class="p-list invisible">
		<div>
			<p-box-group>
				<p-box to="/pruvodce">
					<p-box-button icon="guide" class="primary">Průvodce</p-box-button>
				</p-box>
				<p-box to="/kalkulacka">
					<p-box-button icon="calc">Kalkulačka</p-box-button>
				</p-box>
			</p-box-group>
		</div>
		<div>
			<strong class="smallest dimm">Volební kalkulačka&trade; od KohoVolit.eu:</strong>
			<p-box-group>
				<p-box href="https://www.volebnikalkulacka.cz/volby/snemovni-2025/kalkulacka">
					<p-box-button class="primary">Klasická</p-box-button>
				</p-box>
				<p-box href="https://www.volebnikalkulacka.cz/volby/snemovni-2025/expresni">
					<p-box-button>Expresní</p-box-button>
				</p-box>
				<p-box href="https://www.volebnikalkulacka.cz/volby/snemovni-2025/ultimatni">
					<p-box-button>Pro fajnšmekry</p-box-button>
				</p-box>
				<p-box href="https://www.volebnikalkulacka.cz/volby/snemovni-2025/pro-mlade">
					<p-box-button>Pro mladé</p-box-button>
				</p-box>
				<p-box href="https://www.volebnikalkulacka.cz/volby/snemovni-2025/inventura">
					<p-box-button>Inventura hlasování</p-box-button>
				</p-box>
			</p-box-group>
		</div>
		<div>
			<strong class="smallest dimm">Další nástroje a kalkulačky:</strong>
			<p-box-group>
				<p-box href="https://www.novinky.cz/clanek/volby-do-poslanecke-snemovny-kalkulacka-koho-volit-2025-40529387">
					<p-box-button>Novinky</p-box-button>
				</p-box>
				<p-box href="https://www.seznamzpravy.cz/clanek/volby-do-poslanecke-snemovny-kalkulacka-volby-2025-koho-volit-282737">
					<p-box-button>Seznam Zprávy</p-box-button>
				</p-box>
				<p-box href="https://zpravy.aktualne.cz/domaci/parlamentni-volby-2025-volebni-kalkulacka/r~3d0885bc88a311f0b589ac1f6b220ee8/">
					<p-box-button>Aktuálně</p-box-button>
				</p-box>
				<p-box href="https://www.idnes.cz/volby/volebni-radce-koho-volit-do-snemovny-2025.A250813_095700_volby_chtl">
					<p-box-button>iDnes</p-box-button>
				</p-box>
				<p-box href="http://volimprozvirata.cz/">
					<p-box-button>Volím pro zvířata</p-box-button>
				</p-box>
			</p-box-group>
		</div>
	</div>



	<div class="p-line _2"></div>
</div>