.p-area:not(.cancel) {
  background: rgba(0,0,0,.03);
  padding: .85em 1.25em;
  position: relative;
  margin-bottom: 0;
  border-radius: 1.6rem;

  &.p-area---has-border, &.primary {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: .85em 1.25em .85em 1.5em;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :not(:last-child):not(.border-color) {
    margin-bottom: inherit;
  }

  .dark &,
  .dark &[style] {
    &:not([style*="background-image"]),
    &[style*="missing"] {
      &:not(.p-area---has-background) {
        background: rgba(255,255,255,.07) !important;
        box-shadow: 0 1em 2em #00000022;
      }      
    }
  }

  &.p-area---has-icon:not(.p-area---icon-top) {
    padding: .75em 1em .75em 4em;
  
    .p-box-icon,
    .p-box-image {
      position: absolute;
      top: 0;
      left: -5rem;
      border-radius: 50%;
      border: none;

      &:after {
        content: none;
      }
    }
  }
}

// .p-layout---aside .p-area {
//    background: #fff;
//    box-shadow: 1.6rem 1.6rem 4.8rem rgba(0,0,0,.1);
// }

.p-layout---nav .p-area {
  padding: 0;
  background: none;
}

.p-area .border-color {
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 4px;
  width: 4px;
  border-radius: 2px;
}

.p-area---content {
  position: relative;

  > :first-child:not(.p-list) {margin-top: 0; padding-top: 0;}
  > :last-child:not(.p-list) {margin-bottom: 0; padding-bottom: 0;}
}

.p-area + .p-area {
  margin-top: 1rem;
}

.p-area---icon-top {

  .p-box-icon {
    position: absolute;
    top: -2.5em;
    right: -1.75em;
    left: auto;
    background: transparent;
    border-radius: 50%;
    padding: .25em;
    width: 5em;
    height: 5em;
  }

}

.p-area---inline,
.inline {
  display: inline-block
}

._responsive {
  @media (max-width: 1170px) {
    padding: 1em !important;
    font-size: .9em;
    text-align: center;
  }
}

._responsive.p-area---has-icon {
  @media (max-width: 1170px) {
    padding: 2.5em 1em 1em !important;
  
    .p-box-icon,
    .p-box-image {
      top: -3em !important;
      left: calc(50% - 1.5em) !important;
    }
  }
}

.white {
  background: #fff !important;
}

.p-area.primary {
  background: var(--white);
  padding: 1.75em 2em !important;
  box-shadow: 0 10px 25px #eee;

  .dark & {
    background: var(--black);
  }

  .border-color {
    display: block !important;
    background: var(--blue);
  }
}