<div class="p-area" :style="{padding, background, color, border}" :class="{'p-area---has-icon': !!icon, 'p-area---has-border': !!borderColor, 'p-area---has-background': !!background}">
	<div class="p-area---content _content">
		<p-box-icon :type="icon" v-if="icon && !icon.includes('http')"></p-box-icon>
		<p-box-image :src="icon" v-if="icon && icon.includes('http')"></p-box-image>
		<slot />
	</div>
	<div class="border-color" v-show="borderColor" :style="{background: borderColor}"></div>
</div>
