<div class="search-person">
	<div class="smaller _lh">
		<p-list-linear class="inline nebo">
			<span>
				<button class="inline" @click="toggleUpcoming" :class="{'green strong': filter.find(x => x === 'UPCOMING')}">
					Pouze nadcházející volby
				</button>
			</span>
			<span>
				<button class="inline" @click="toggleUpcoming" :class="{'green strong': !filter.find(x => x === 'UPCOMING')}">
					hledat i v minulosti
				</button>
			</span>
		</p-list-linear>
	</div>
	<div class="smaller _lh" v-if="!filter.find(x => x === 'UPCOMING')">
		<p-list-linear class="or">
			<span>
				<button class="inline" @click="filter = ['EP', 'KV', 'KZ', 'PS', 'PREZ', 'SENAT']">Všechny</button>
			</span>
			<span v-for="(item, index) in filterOptions">
				<button class="inline" @click="(filter.find(x => x === item) ? filter.splice(filter.indexOf(item), 1) : filter.push(item))" :class="{'green strong': filter.find(x => x === item), dimm: filter.find(x => x === 'UPCOMING')}">
					{{ enums.elections.find(x => x.key === item).name }}
				</button>
			</span>
		</p-list-linear>
	</div>
	<div class="p-line"></div>
	<p-grid class="p-grid">
		<div><input type="text" v-model="query" placeholder="Napište příjmení"></div>
		<div><input type="text" v-model="specify" placeholder="Nepovinně, napište jméno" class="secondary"></div>
		<div>
			<button @click="search" :disabled="progress || !query || query.length < 2" class="button-primary">Vyhledat</button>
		</div>
	</p-grid>
	<div class="p-gap"></div>
	<template v-if="profiles && query && query.length > 2 && profilesList.length > 0">
		<p-area icon="person" class="inline">
			<strong class="smaller">Nalezené historické profily:</strong>
			<div class="mt025 smaller _lh2">
				<p-list-linear class="or">
					<span v-for="person in profilesList">
						<router-link :to="'/lide/profil/' + person.id">{{ person.display }}</router-link>
					</span>
				</p-list-linear>
			</div>
		</p-area>
		<div class="p-gap _2"></div>
	</template>
	<p-loader :rule="!progress || results">
		<div v-if="results">
			<div class="strong mb1" v-if="filterByPerson">
				<p-icon icon="filtr" size="1em"></p-icon>
				<span class="smallest strong">
					Filtrováno podle {{ filterByPerson.JMENO + ' ' + filterByPerson.PRIJMENI + ', ' + filterByPerson.VEK + ' let, ' + filterByPerson.BYDLISTEN }}. <button class="inline red" @click="filterByPerson = null">zrušit</button>
				</span>
			</div>
			<component :is="!!area ? 'p-area' : 'div'" height="2">
				<template v-for="(election, index) in results">
					<p-block class="_np" :hide="true" :headline="(election.datum ? election.datum.split('-')[0] : 'Budoucí') + ' - ' + enums.elections.find(x => x.key === election.typ).name.split(' ')[0] + ' ' + (election.radne === 0 ? '*' : '')" v-if="election.$kandidati.length > 0">
						<p-collapsible :label="enums.elections.find(x => x.key === election.typ).name + ' ' + (election.radne === 0 ? '· mimořádné' : (election.datum ? election.datum.split('-')[0] : ''))" :status="election.datum && election.radne === 0 ? date(election.datum, 3) : election.cirka" :open="index < 3 || filterByPerson">
							<div class="columns smaller">
								<div v-for="(person, index2) in election.$kandidati.filter(x => filterByPerson ? relevantByAge(x, election, [filterByPerson]) : true)">
									<div class="p-offset" :class="{'_profil': person.$profil.length > 0}">
										<div v-if="profile.show">
											<button class="inline green big" @click="profile.list.push(person)" :disabled="profile.list.find(x => x === person)"><span v-if="!profile.list.find(x => x === person)">&#9744;</span><span v-if="profile.list.find(x => x === person)">&#9745;</span></button>
										</div>
										<div>
											<div class="p-offset reverse">
												<div>
													<router-link :to="'/volby/' + enums.elections.find(x => x.key === election.typ).hash + '/' + election.id + '/kandidat/' + person.id">
														{{ person.JMENO }} {{ person.PRIJMENI }}
													</router-link>
													<span class="dimm" v-if="person.KRZAST"> &middot; {{ list.cis.kraje.find(x => x.KRAJ === person.KRZAST).NAZEV }}</span>
													<span class="dimm" v-if="person.KODZASTUP && list.cis.obce.find(x => x.NUM === person.KODZASTUP)"> &middot; {{ list.cis.obce.find(x => x.NUM === person.KODZASTUP).NAZEV }}</span>
													<span class="dimm" v-if="person.OBVOD"> &middot; obvod {{ person.OBVOD }}</span>
												</div>
												<div v-if="!filterByPerson && !filter.find(x => x === 'UPCOMING')">
													
													<button class="inline" @click="filterByPerson = person" title="filtrovat podle kandidáta"><span class="smallest dimm">filtrovat</span><p-icon icon="filtr" size="1em"></p-icon></button>
												</div>
											</div>											
											<div class="smallest" v-if="person.$strana">
												<router-link :to="'/volby/' + enums.elections.find(x => x.key === election.typ).hash + '/' + election.id + '/strana/' + person.$strana.id" class="is-span">
													{{ person.$strana.NAZEV }}
												</router-link>
											</div>
											<div class="smallest" v-if="person.VEK || person.BYDLISTEN">{{ person.VEK }} let, <span :class="{'_suggested': filterByPerson && filterByPerson !== person && filterByPerson.BYDLISTEN === person.BYDLISTEN }">{{ person.BYDLISTEN }}</span></div>
											<div class="smallest" v-if="person.POVOLANI">{{ person.POVOLANI }}</div>
											<div class="smallest">
												<p-list-linear>
													<li v-if="person.PSTRANA && person.PSTRANA != 99">
													   <p-label :color="colorByItem(list.cis.volby.find(x => x.id === person.volby).$strany.find(x => x.VSTRANA === person.PSTRANA), list)">
														   <router-link :to="'/rejstrik/' + person.PSTRANA">{{ list.cis.volby.find(x => x.id === person.volby).$strany.find(x => x.VSTRANA === person.PSTRANA).ZKRATKA }}</router-link>	
													   </p-label>
												   </li>
												   <li v-if="person.NSTRANA && person.NSTRANA != 80 && person.NSTRANA != 90 && person.NSTRANA != person.PSTRANA">
													  nominace <p-label :color="colorByItem(list.cis.volby.find(x => x.id === person.volby).$strany.find(x => x.VSTRANA === person.NSTRANA), list)">
														  <router-link :to="'/rejstrik/' + person.NSTRANA">{{ list.cis.volby.find(x => x.id === person.volby).$strany.find(x => x.VSTRANA === person.NSTRANA).ZKRATKA }}</router-link>	
													  </p-label>
												  </li>
												</p-list-linear>
											</div>
											<div class="strong smallest" v-if="person.$profil.length > 0">
												<div class="p-gap_05"></div>
												<router-link :to="'/lide/profil/' + person.$profil[0].profil" class="green">Historie</router-link>
											</div>
										</div>
									</div>
								</div>
							</div>
						</p-collapsible>
					</p-block>
				</template>
			</component>
			<template v-if="!area && !filter.find(x => x === 'UPCOMING')">
				<div class="p-line"></div>
				<div class="smallest">
					<button class="inline" @click="profile.show = !profile.show">Tvorba profilu</button>
					&middot;
					<p-modal :inline="true">
						<template #init>Seznam ({{ profile.list.length }})</template>
						<template #content>
							<div class="normal">
								<strong>Vybrané profily</strong>
								<div class="p-gap"></div>
								<p-list>
									<div v-for="(person, index) in profile.list">
										<div class="p-offset">
											<div v-if="profile.show">
												<button class="inline red" @click="profile.list.splice(index, 1)">&times;</button>
											</div>
											<div>
												<!-- <router-link :to="'/volby/' + enums.elections.find(x => x.key === election.typ).hash + '/' + election.id + '/kandidat/' + person.id"> -->
												<div><strong>{{ enums.elections.find(x => x.key === results.find(y => y.id === person.volby).typ).name }}</strong> &middot; {{ results.find(y => y.id === person.volby).datum ? date(results.find(y => y.id === person.volby).datum) : results.find(y => y.id === person.volby).cirka }}</div>
												<div class="p-gap_05"></div>
												<div>
													<button class="inline" @click="profile.JMENO = person.JMENO; profile.PRIJMENI = person.PRIJMENI">{{ person.JMENO }} {{ person.PRIJMENI }}</button>
													
													<!-- </router-link> -->
													<span class="dimm" v-if="person.KRZAST"> &middot; {{ list.cis.kraje.find(x => x.KRAJ === person.KRZAST).NAZEV }}</span>
													<span class="dimm" v-if="person.KODZASTUP"> &middot; {{ list.cis.obce.find(x => x.NUM === person.KODZASTUP).NAZEV }}</span>
													<span class="dimm" v-if="person.OBVOD"> &middot; obvod {{ person.OBVOD }}</span>
												</div>	
												<div class="p-gap_075"></div>
												<div class="smallest">{{ person.VEK }} let, {{ person.BYDLISTEN }}, {{ person.POVOLANI }}</div>
												<div class="smallest">
													<p-list-linear>
														<li v-if="person.PSTRANA && person.PSTRANA != 99">
														   <p-label :color="colorByItem(list.cis.strany.find(x => x.VSTRANA === person.PSTRANA), list)">
															   <router-link :to="'/rejstrik/' + person.PSTRANA">{{ list.cis.strany.find(x => x.VSTRANA === person.PSTRANA).ZKRATKA }}</router-link>	
														   </p-label>
													   </li>
													   <li v-if="person.NSTRANA && person.NSTRANA != 80 && person.NSTRANA != 90 && person.NSTRANA != person.PSTRANA">
														  nominace <p-label :color="colorByItem(list.cis.strany.find(x => x.VSTRANA === person.NSTRANA), list)">
															  <router-link :to="'/rejstrik/' + person.NSTRANA">{{ list.cis.strany.find(x => x.VSTRANA === person.NSTRANA).ZKRATKA }}</router-link>	
														  </p-label>
													  </li>
													</p-list-linear>
												</div>
		
											</div>
										</div>
									</div>
									<div>
										<input type="text" v-model="profile.JMENO" placeholder="Jméno">
									</div>
									<div>
										<input type="text" v-model="profile.PRIJMENI" placeholder="Příjmení">
									</div>
									<div>
										<input type="text" v-model="profile.description" placeholder="Popis profilu">
									</div>
									<div>
										<button @click="send_profile_suggestion" :disabled="!(profile.JMENO && profile.PRIJMENI) || profile.list.length === 0 || profile.sending || profile.sent">Odeslat</button>
										<div v-if="profile.sent">Odesláno</div>
									</div>
								</p-list>
							</div>
						</template>
					</p-modal>
				</div>
			</template>
		</div>
	</p-loader>
	<p v-if="!results" class="smaller dimm">Našeptávač hledá v historických profilech. Pokud chcete hledat libovolného kandidáta, ať v současných nebo minulých volbách, nezapomeňte kliknout na tlačítko "Vyhledat".</p>
</div>
