.kv-hero-map {
	width: 100%;
	height: 30vh;
	display: block;
	position: relative;
	background: #ccc;

	@media (min-width: 1024px) {
		height: 70vh;
	}
}

._map {
	height: 30vh;
	border-bottom: 1px solid var(--blue);

	@media (min-width: 1024px) {
		height: 70vh;
	}
}

