.p-image---img {
  display: block;
}

.p-image---border {
  // box-shadow:0px 0px 0px 1px rgba(0, 0, 0, .1);
  border: var(--border);

  .dark & {
    border-color: #000;
  }
}

.p-image---rounded,
.p-image.rounded {
  border-radius: 6px;
  overflow: hidden;
}

.p-image---round,
.p-image.round {
  border-radius: 50%;
  overflow: hidden;
}

.p-image.drop-shadow img,
.p-image.shadow {
  box-shadow: 1.6rem 1.6rem 4.8rem rgba(0,0,0,.1);
}

.dark img[src*="missing.png"] {
  opacity: .03;
}

.p-image.ma img {
  margin: auto;
}

.p-image._ar img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.p-image._contain img {
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 4px;
}
