<div class="widget-block">
	<p-list-linear class="smallest strong or">
			<span><button class="inline" @click="size = [240,300]">Kompaktní</button></span>
			<span><button class="inline" @click="size = [300,600]">Vysoký</button></span>
			<span><button class="inline" @click="size = [500,600]">Rozšířený</button></span>
			<span><button class="inline" @click="size = [800,600]">Úplný</button></span>
			<span><button class="inline" @click="own = true">Vlastní nastavení</button></span>
	</p-list-linear>
	<div v-if="own">
		<div class="p-line _05"></div>
		<p-grid class="_2">
			<div>
				<div class="smallest dimm">Šířka:</div>
				<input type="number" min="240" max="2000" v-model="size[0]">
			</div>
			<div>
				<div class="smallest dimm">Výška:</div>
				<input type="number" min="240" max="2000" v-model="size[1]">
			</div>
		</p-grid>
		<div>
			<label><input type="checkbox" v-model="autoheight"> automatické nastavení výšky</label>
		</div>
	</div>
	<div class="p-line _05"></div>
	<div class="scrollable">
		<iframe v-if="autoheight" class="reset" :src="'https://embed.programydovoleb.cz/' + id" frameborder="0" id="iframe-demo" :width="size[0]" :height="size[1]" :style="{width: size[0] + 'px', height: size[1] + 'px'}" onload="iFrameResize({}, '#iframe-demo')"></iframe>
		<iframe v-else class="reset" :src="'https://embed.programydovoleb.cz/' + id" frameborder="0" id="iframe-demo" :width="size[0]" :height="size[1]" :style="{width: size[0] + 'px', height: size[1] + 'px'}"></iframe>
	</div>
	<div class="p-line _05"></div>
	<button @click="copyLink">Zkopírovat kód{{ copied ? ' - hotovo' : ''}}</button>
</div>
