<div class="layout-volby">
	<p-layout-divided>
		<template #main>
			<p-block :headline="current ? current.$dotcene[0].NAZEVZAST : ''" :level="1" :subheadline="'komunální volby, ' + (current ? (current.datum_label || (current.datum ? date(current.datum, 3) : current.cirka)) : 'načítám...')" :anchor="current ? current.$dotcene[0].NAZEVZAST : 'Volby'">
				<p-loader :rule="current">
					<div v-if="current">
						<komunalni-volby :data="data" :town="zast"></komunalni-volby>
					</div>
				</p-loader>
			</p-block>
			<p-block headline="Novinky" v-if="news && news.news.length > 0">
							<p-list>
								<div v-for="item in news.news">
									<news-item :data="item"></news-item>
								</div>
							</p-list>
			</p-block>
			<p-block :level="1" headline="Přejít na jiné zastupitelstvo" anchor="Přejít jinam" :hide="true">
				<p-area icon="search">
					<h3 class="serif mt0 mb025">Najít jiné zastupitelstvo</h3>
					<search-town :link="'/volby/komunalni-volby/' + id + '/obec/'"></search-town>
				</p-area>
			</p-block>
			
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/komunalni-volby.svg'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>
			<p-list height="1.25">
				<top-tasks></top-tasks>
			</p-list>
		</template>
	</p-layout-divided>
</div>