._about {
    margin-left: .6em;
}

._float-right {
	float: right;
	margin: 0 0 1em 1em;
}

._floar-clear {
	clear: both;
}

._icons {
	max-width: 12rem;
	text-align: right;
	margin-right: 1rem;
}

.serif {
    margin-top: -.5em;
}