.st0{fill:none;stroke:#07070D;stroke-miterlimit:1; opacity: .05}
.st1{fill:none;stroke:#000000;stroke-width:2; opacity: .15}
.highlight {stroke: #d80c13;stroke-width:3; opacity: 1}

[style] {
  position: relative;
  z-index: 1;
}

.highlight {
  z-index: 2;
}

.zoom {
  .st0{fill:none;stroke:#07070D;stroke-width:.1; stroke-miterlimit:1; opacity: .05}
  .st1{fill:none;stroke:#000000;stroke-width:.1; opacity: .15}
  .highlight {stroke: #d80c13;stroke-width:.5; opacity: 1}
}

svg {
  display: block;
}

circle, [style] {
  &:hover, .active {
    stroke-width: 3;
    stroke: #d80c13;
    z-index: 3;
  }
}

.points path {
  pointer-events: none;
}
