.kv-hero-map {
	width: 100%;
	height: 30vh;
	display: block;
	position: relative;
	background: #ccc;
	margin-top: -1rem;

	@media (min-width: 1024px) {
		height: 80vh;
	}
}

._map {
	height: 30vh;
	border-bottom: 1px solid var(--blue);

	@media (min-width: 1024px) {
		height: 80vh;
	}
}

._reset {
	position: absolute;
	z-index: 402;
	top: 1rem;
	right: 1rem;
}