.kv-hero-map {
	width: 100%;
	height: 30vh;
	display: block;
	position: relative;
	background: #ccc;
	margin-top: -1rem;

	@media (min-width: 800px) {
		height: 70vh;
	}

	&._map-max {
		&, & ._map {
			height: 70vh !important;
			max-height: 70vh !important;
		}
	}

	&._map-mid {
		&, & ._map {
			height: 35vh !important;
			max-height: 35vh !important;
		}
	}

	&._map-none {
		&, & ._map {
			height: 84px !important;
			max-height: 84px !important;

			._reset {
				display: none;
			}
		}

		._map {
			pointer-events: none;
		}
	}
}

._map {
	height: 30vh;
	border-bottom: 1px solid var(--blue);

	@media (min-width: 800px) {
		height: 70vh;
	}
}

._reset {
	position: absolute;
	z-index: 402;
	top: 1rem;
	right: 1rem;
}

._map-control {
	position: relative;
	z-index: 401;
	padding: .5em 1em;
	border-radius: 1em;
	background: var(--bg);
	border-top: 1px solid var(--blue);
	margin: -1.5rem auto;
	width: 18em;
}