<div class="layout-homepage">
	<p-layout-divided>
		<template #main>
			<p-block headline="Jak volit v komunálních volbách?" :level="1" anchor="Jak volit?">
				<p>Komunální volby jsou oříšek, jsou to úplně jiné volby než všechny ostatní. Nemáme víc lístků, jen jeden. Na něm jsou všichni, strany i kandidáti. A hlavně, nemáme jen jeden hlas, ale přesně tolik, kolik členů má mít po volbách zastupitelstvi. Může to být pět, dvacet jedna nebo v případě Prahy až 65 zastupitelů. Počet křížků, které můžete přidělit, je uvedený na volebním listu a také vám ho připomene komise přímo ve volební místnosti.</p>
				<p>V rámci komunálních voleb je možné volit také v městské části či obvodu a pak také na magistrát. Pak je nutné vybírat a křížkovat na dvou hlasovacích lístcích, a každý patří do jiné obálky. Řádné komunální volby se navíc konají souběžně s volbami do Senátu, takže třetina z nás dostane ještě jednu obálku.</p>
				<div class="p-gap _2"></div>
				<p-block headline="Jak křížkovat?">
					<p>Pro křížkování platí tři základní pravidla:</p>
					<ol>
						<li>Velký křížek mohu dát jedné nebo žádné straně</li>
						<li>Malé křížky mohu dát, komu chci, klidně z více stran, ale nesmí jich být víc, než kolik jich nakonec usedne v zastupitelstvu.</li>
						<li>Malé křížky, které dám straně, které jsem dal zároveň velký křížek, se nepočítají</li>
					</ol>
					<p>Velký křížek je vlastně jen taková "zkratka", kterým říkáte: <em>všechny křížky, co mi zbývají, dávám kandidátům téhle strany, jako kdybych je křížkovat postupně odshora dolů.</em></p>
					<div class="p-gap"></div>
					<h3>Ukažme si to na příkladech</h3>
					<p>V obci Veselá kandidují dvě strany: Naše Veselá a SNK Hasiči. Volí se zastupitelstvo o čtyřech členech, takže i my, voliči, máme k dispozici čtyři křížky pro kandidáty. Na následujících devíti příkladech si ukážeme, kdy bude lístek platit a kdy už ne.</p>
				</p-block>
				<p-block-expandable headline="Správně vyplněné" class="mt-2">
					<p-grid>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-1.png" width="100%"></p-image>
								<h4>Volba celé kandidátky</h4>
								<p>Jednoduchá a jistá volba. Jeden křížek k jménu strany a je hotovo. Sdružení Naše Veselá dostalo všechny vaše 4 hlasy. V komunálních volbách nelze využít preferenční hlasy u hlavní strany.</p>
							</p-area>
						</div>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-2.png" width="100%"></p-image>
								<h4>Strana a pár osobností odjinud</h4>
								<p>Zaškrtnete stranu a pár lidí z jiných kandidátek. V tomto případě dostane SNK Hasiči jeden hlas a Naše Veselá zbylé tři. Pokud Hasiči přesáhnou 5 %, hlas pro Viktora je preferenční.</p>
							</p-area>
						</div>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-3.png" width="100%"></p-image>
								<h4>Volba osobností</h4>
								<p>Pokud jste vybíraví, můžete své křížky rozdat kandidátům napříč všemi stranami. Naše Veselá dostane 2 hlasy, SNK Hasiči jeden hlas. Pokud přesáhnou 5 %, vaše křížky jsou preferenční.</p>
							</p-area>
						</div>
					</p-grid>
				</p-block-expandable>
				<p-block-expandable headline="Platné, ale...">
					<p-grid>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-4.png" width="100%"></p-image>
								<h4>Malé křížky mají přednost</h4>
								<p>Pokud dáte plný počet malých křížků a pak zaškrtnete i jednu velkou stranu, je lístek platný. Všechny vaše hlasy mají kandidáti s malými křížky. SNK Hasiči nedostanou ani jeden hlas.</p>
							</p-area>
						</div>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-6.png" width="100%"></p-image>
								<h4>Velký křížek ruší své malé</h4>
								<p>Jakmile dáte velký křížek straně, pak už nezáleží na křížcích daných jednotlivcům v rámci té samé strany. Hlasy se udělují postupně od prvního. Nelze takto udělit preferenci.</p>
							</p-area>
						</div>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/valid-5.png" width="100%"></p-image>
								<h4>A to i jejich počet</h4>
								<p>Sice je překřížkováno, ale lístek platí. Velký křížek zruší všechny své malé. A pak malé křížky u jiných stran zruší ten velký. SNK Hasiči nedostanou ani jeden hlas.</p>
							</p-area>
						</div>
					</p-grid>
				</p-block-expandable>
				<p-block-expandable headline="Neplatné lístky">
					<p-grid>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/invalid-1b.png" width="100%"></p-image>
								<h4>Moc křížků</h4>
								<p>Když budete mít na lístku víc křížků, než je povoleno, bude neplatný. Nelze totiž určit, komu hlasy dáváte.</p>
							</p-area>
						</div>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/invalid-2.png" width="100%"></p-image>
								<h4>Více stran</h4>
								<p>Vybrat můžete vždy maximálně jednu hlavní stranu. Když označíte více, nelze hlasy mezi ně rozložit.</p>
							</p-area>
						</div>
						<div>
							<p-area>
								<p-image src="https://2022.programydovoleb.cz/static/ticket/invalid-3.png" width="100%"></p-image>
								<h4>Prázdný lístek</h4>
								<p>Může to být forma vyjádření nějaké nespokojenosti, podaný lístek bude ale neplatný.</p>
							</p-area>
						</div>
					</p-grid>
				</p-block-expandable>
				<p-block headline="Zkuste si to">
					<p>V naší obci Veselá se volí 7 zastupitelů, takže máme 7 hlasů. O hlasy se uchází 6 stran, počty kandidátů jednotlivých stran se ale mohou lišit. Zde se podíváme, jak vyplnit lístek, aby byl platný, a kdo vlastně dostane vaše hlasy.</p>
					<div class="mv1">
						<p-collapsible label="Zobrazit hlasovací lístek">

							<p-area  class="primary" :borderColor="valid.isValid ? 'var(--green)' : 'var(--red)'">
								<div class="p-offset reverse">
									<div>
										<template v-if="valid.isValid">
											<strong>Tento hlasovací lístek je platný</strong>
											<div class="smaller" v-if="valid.selectedTowns === 0 && valid.used < valid.maxPeople">
												Použili jste zatím <strong>{{ valid.selectedPeople }} z možných {{ valid.maxPeople }}</strong>. Můžete ještě zakřížkovat nějakého kandidáta, nebo dát křížek straně.
											</div>
											<div class="smaller" v-if="valid.selectedTowns === 0 && valid.used === valid.maxPeople">
												Použili jste všech {{ valid.maxPeople }} dostupných křížků.
											</div>
											<div class="smaller" v-if="valid.selectedTowns === 1 && valid.used < valid.maxPeople">
												Použili jste zatím {{ valid.used }} dostupných křížků.
												<span v-if="valid.selectedPeople > 0">{{ valid.selectedPeople }} patří kandidátům z jiných stran, zbytek byl přiřazen straně <em>{{ demo.find(x => x.selected).name }}</em></span>
											</div>
											<div class="smaller" v-if="valid.selectedTowns === 1 && valid.used === valid.maxPeople && valid.selectedPeople < valid.maxPeople">
												Použili jste všech {{ valid.used }} dostupných křížků.
												<span v-if="valid.selectedPeople > 0">{{ valid.selectedPeople }} patří kandidátům z jiných stran, zbytek byl přiřazen straně <em>{{ demo.find(x => x.selected).name }}</em></span>
											</div>
											<div class="smaller" v-if="valid.selectedTowns === 1 && valid.selectedPeople === valid.maxPeople">
												Použili jste všech {{ valid.maxPeople }} dostupných křížků. Všichni kandidáti ale patří do jiných stran, z straně <em>{{ demo.find(x => x.selected).name }}</em> nezískal hlas nikdo, přestože je zakřížkovaná.
											</div>
											<div class="smaller strong green" v-if="valid.used < valid.maxPeople">Ještě může přiřadit další křížek.</div>
										</template>
										<template v-else>
											<strong>Tento hlasovací lístek by nebyl platný</strong>
											<div class="smaller" v-if="valid.selectedPeople === 0 && valid.selectedTowns === 0">
												Nikdo nebyl vybrán. Je nutné vybrat aspoň jednoho kandidáta nebo stranu.
											</div>
											<div class="smaller" v-if="valid.selectedPeople > 7">
												Křížek dostalo {{ valid.selectedPeople }} kandidátů. Maximum je {{ valid.maxPeople }}.
											</div>
											<div class="smaller" v-if="valid.selectedTowns > 1">
												Křížek dostalo moc stran. Křížek lze dát nejvýše jedné straně.
											</div>
										</template>
									</div>
									<div>
										<p-icon :icon="valid.isValid ? 'icon-check' : 'icon-against'" size="3em"></p-icon>
									</div>
								</div>
								<div class="p-line _2"></div>
								<p-grid>
									<div v-for="town in demo">
										<p-area>
											<div class="text-center">
												<strong :class="{'green strong': town.valid}">{{ town.name }}</strong>
												<div>
													<span class="_w2">
														<p-box class="_check" :click="() => toggle(town)">
															<p-box-icon :type="town.selected ? 'cancel' : 'empty.png'"></p-box-icon>
														</p-box>
													</span>
												</div>
											</div>
											<div class="p-line _05"></div>
											<div class="mt05">
												<p-list class="invisible">
													<div v-for="(item, index) in town.list">
														<span class="_w2">
															{{ index + 1 }}.
														</span>
														<span class="_w2">
															<p-box class="_check" :click="() => toggle(town, item)">
																<p-box-icon :type="item.selected ? 'cancel' : 'empty.png'"></p-box-icon>
															</p-box>
														</span>
														<span :class="{'green strong': item.valid}">
															{{ item.name }}
														</span>
													</div>
												</p-list>
											</div>
										</p-area>
									</div>
								</p-grid>
							</p-area>
						</p-collapsible>
					</div>
				</p-block>
			</p-block>
			<p-block headline="Kdo může volit?" :level="1">
				<p-block headline="Podmínky" :hide="true">
					<p>Volit může každý dospělý občan České republiky nebo jiného státu Evropské unie, který je zapsaný na seznamu voličů v dané lokalitě. Pro občany České republiky je zápis automatický podle místa bydliště, občané jiných zemí EU se musí registrovat (viz níže).</p>
					<div class="p-gap"></div>
					<p-grid>
						<div>
							<p-area borderColor="var(--green)" icon="snemovni-volby">
								<strong>Občan České republiky</strong>
								<div class="smaller">starší 18 let</div>
								<div class="smaller">platná občanka nebo pas</div>
								<div class="smaller">v místě trvalého bydliště</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--yellow)" icon="evropske-volby">
								<strong>Občan jiné země EU</strong>
								<div class="smaller">starší 18 let</div>
								<div class="smaller">trvalý či přechodný pobyt</div>
								<div class="smaller">registrován ke komunálním volbám</div>
							</p-area>
						</div>
						<div>
							<p-area borderColor="var(--red)" icon="icon-against">
								<strong>Občan jiné země</strong>
								<div class="smaller">volit nemůže</div>
							</p-area>
						</div>
					</p-grid>
				</p-block>
				<p-block headline="Občané EU">
					<p>Do komunálních voleb mohou volit také občané EU, kteří zde mají trvalý nebo přechodný pobyt, pokud se včas zapíšou do zvláštního seznamu voličů. Termín je <strong>dva dny před prvním volebním dnem</strong>, tedy do středy. Ten vede úřad v místě jejich bydliště. Je nutné o zápis do něj požádat. Potom volí stejnou formou a ve stejný termín jako ostatní voliči.</p>
					<p-box-group>
						<p-box href="https://mv.gov.cz/volby/soubor/vzor-zadost-o-zapis-do-dodatku-staleho-seznamu-volicu.aspx">
							<p-box-button>Žádost o zápis</p-box-button>
						</p-box>
						<p-box href="https://mv.gov.cz/volby/clanek/for-foreigners-voters.aspx">
							<p-box-button>Více na webu Vnitra</p-box-button>
						</p-box>
					</p-box-group>
				</p-block>
			</p-block>
		</template>
		<template #aside>
			<p-list height="1.25">
				<div>
					<top-tasks></top-tasks>
				</div>
				<div>
					<div class="smallest">
						<strong>Programy do voleb </strong> jsou nestranný neziskový projekt, díky kterému si můžete snadno, pohodlně a bez hledání přečíst a
						porovnat volební programy všech stran či kandidátů.
						<div class="p-gap"></div>
						<router-link to="/o-projektu" class="strong">Více o tomto projektu</router-link>
					</div>
				</div>
			</p-list>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/komunalni-volby.svg'}" :size="'12rem'" alt="Komunální volby"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
	</p-layout-divided>
</div>