<div class="editable-field">
	<div class="p-offset reverse">
		<div>
			<p-list class="_0">
				<div>
					<input type="text" v-model="title" placeholder="Název akce" ref="first">
				</div>
				<div>
					<textarea v-model="description" placeholder="Popis"></textarea>
				</div>
				<div>
					<div class="smallest dimm p05">Datum a čas začátku akce:</div>
					<div class="split">
						<div>
							<input type="date" v-model="date" placeholder="Dne">
						</div>
						<div>
							<input type="time" v-model="time" placeholder="Začátek">
						</div>
					</div>
				</div>
				<div>
					<input type="text" v-model="location" placeholder="Místo konání">
				</div>
				<div>
					<input type="url" v-model="source" placeholder="Odkaz">
				</div>
			</p-list>
		</div>
		<div>
			<input type="button" value="→" :disabled="!valid || sending" @click="send">
		</div>
	</div>
</div>
