.p-list-linear {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  &.inline {
    display: inline;
  }
}
.p-list-linear {
  > :not(:first-child):not(:last-child):before {
    content: ", ";
  }
  > :not(:first-child):last-child:before {
    content: " a ";
  }
}
.p-list-linear.nebo {
  > :not(:first-child):not(:last-child):before {
    content: ", ";
  }
  > :not(:first-child):last-child:before {
    content: " nebo ";
  }
}
.p-list-linear.or {
  > :not(:first-child):not(:last-child):before {
    content: " · ";
  }
  > :not(:first-child):last-child:before {
    content: " · ";
  }
}
