.current-election-highlight-block {
	container-type: inline-size;
}

.p-area {
    background-color: var(--white);
    background-image: url(https://static.programydovoleb.cz/2024/ads/kz24.png);
    background-repeat: no-repeat;
    background-position: 60px 70px;
    background-attachment: local;
    border: var(--border);
    padding: 1.5em 2em 2em !important;
    background-size: 500px 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    border-radius: 1em;

    .dark & {
        &, h2 {
            color: var(--black) !important;
        }        

        .p-box-button {
            background: #fff !important;
        }
    }

    @container (min-width: 380px) {
        background-size: 300px 240px;
        background-position: right 70px;

        .p-box-group {
            max-width: 300px;
        }
    }

    @container (min-width: 580px) {
        background-size: 400px 320px;
        background-position: right 10px;

        .p-box-group {
            max-width: 300px;
        }
    }

    @container (min-width: 800px) {
        background-size: 400px 320px;
        background-position: right 10px;

        .p-box-group {
            max-width: none;
        }
    }

    @container (min-width: 1000px) {
        background-size: 500px 400px;
        background-position: right -35px;

        .p-box-group {
            max-width: none;
        }
    }
}

h2 {
    margin: 0;
    padding: 0;
}