<div class="layout-data">
	<p-layout-divided>
		<template #main>
			<p-block :headline="$core ? 'Obvod ' + id + ' · ' + $core.NAZEV : 'Načítám'" :level="1" subheadline="volby a historie">
				<p-loader :rule="data">
					<div v-if="data">
						<p-block headline="Základní údaje" :hide="true">
							<p>							 
								Poslední zaznamenané volby byly {{ enums.elections.find(x => x.key === $elections.past[0].$volby.typ).name.toLowerCase() }}, které proběhly {{ $elections.past[0].$volby.datum_label || date($elections.past[0].$volby.datum, 3) }}. Tehdy se jich mohlo účastnit {{ number($elections.past[0].$data.$ucast[0].VOLICU) }} voličů.
							</p>
							<template v-if="$elections.next.length > 0">
								<h4>
									Příští volby
								</h4>
								<p-grid>
									<div v-for="(election, index) in $elections.next">
										<p-area>
											<div class="p-offset">
												<div>
													<p-image :src="cdn + 'icon/' + election_types.find(x => x.key === election.typ).hash + '.svg'" width="2.8em"></p-image>
												</div>
												<div>
													<span><router-link :to="election.link" :class="{strong: index === 0}">{{ election_types.find(x => x.key === election.typ).name }}</router-link></span>
													<div class="smaller icon dimm" v-if="election.cirka">{{ election.cirka }}</div>
													<div class="smaller icon" v-else>{{ election.datum_label || date(election.datum) }}</div>
												</div>
											</div>
										</p-area>
									</div>
								</p-grid>
							</template>
						</p-block>
						<p-block headline="Historie voleb">
							<p>V této části se dozvíte, v kterých celostátních volbách lidé volili, s jakou účastí. U prezidentských voleb je uvedena účast v prvním a druhém kole.</p>
							<p-loader :rule="history">
								<div v-if="history">
									<template v-for="(election, index) in $elections.past">
										<template v-if="index < 6 || showAll">
											<p-collapsible :status="election.$data.$ucast[0] ? election.$data.$ucast[0].UCAST + ' %' + (election.$data.$ucast.length === 2 ? ' · ' + election.$data.$ucast[1].UCAST + ' %' : '') : null" :logo="cdn + 'icon/' + enums.elections.find(x => x.key === election.$volby.typ).hash + '.svg'" :label="enums.elections.find(x => x.key === election.$volby.typ).name + ' ' + (election.$volby.radne === 1 ? election.$volby.datum.split('-')[0] : ' · ' + date(election.$volby.datum))">
												<election-detail :type="enums.elections.find(x => x.key === election.$volby.typ)" :id="election.$volby.id" :label="electionLabel(election)" :election="election.$volby" :spec="id"></election-detail>
											</p-collapsible>
										</template>
									</template>
									<template v-if="$elections.past.length > 6">
										<div class="p-gap"></div>
										<button @click="showAll = !showAll">Zobrazit {{ showAll ? 'zkrácený' : 'celý' }} seznam</button>
									</template>
								</div>
							</p-loader>
						</p-block>
						<p-block headline="Historie senátorů">
							<p-loader :rule="senateHistory">
								<div v-if="senateHistory">
									<p-area>
										<table class="smaller">
											<thead>
												<tr>
													<th>datum</th>
													<th></th>
													<th class="_tmax">kandidát</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="cand in senateHistory.list.filter(x => x.cis.volby.datum < (today))">
													<td class="_tdp">
														<router-link :to="'/volby/senatni-volby/' + cand.cis.volby.id" class="is-span">
															{{ cand.cis.volby.datum.split('-')[0] }}
														</router-link>														
													</td>
													<td class="_tdp">
														<p-image :src="logoByItem(cand, cand, 'NSTRANA')" width="3em" :rounded="true" class="_pimg"></p-image>
													</td>
													<td class="_tdp _tmax">
														<router-link :to="'/volby/senatni-volby/' + cand.cis.volby.id + '/kandidat/' + cand.id" class="strong">{{ cand.JMENO + ' ' + cand.PRIJMENI }}</router-link>
														<div class="smallest">
															{{ cand.VEK}} let, {{ cand.POVOLANI }}, {{ cand.BYDLISTEN }}
														</div>
														<div class="p-gap _025"></div>
														<div class="smallest">
															<router-link class="is-span" :to="'/rejstrik/' + cand.VSTRANA">{{ cand.NAZEV_VS || cand.cis.strany.find(x => x.VSTRANA === cand.VSTRANA).NAZEV }}</router-link>
															<template v-if="cand.cis.strany.find(x => x.VSTRANA === cand.VSTRANA).$coalition">
																&rarr;
																<p-list-linear>
																	<span v-for="member in cand.cis.strany.find(x => x.VSTRANA === cand.VSTRANA).$coalition">
																		<router-link :to="'/rejstrik/' + member.VSTRANA" class="is-span">
																			{{ member.ZKRATKA }}
																		</router-link>																		
																	</span>
																</p-list-linear>
															</template>
														</div>
														<div class="smallest">
															<template v-if="cand.PSTRANA === 99">nestraník</template>
															<template v-else>členství <router-link class="is-span" :to="'/rejstrik/' + cand.PSTRANA">{{ cand.cis.strany.find(x => x.VSTRANA === cand.PSTRANA).ZKRATKA }}</router-link></template>
															&middot;
															nominace <router-link class="is-span" :to="'/rejstrik/' + cand.NSTRANA">{{ cand.cis.strany.find(x => x.VSTRANA === cand.NSTRANA).ZKRATKA }}</router-link>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</p-area>
								</div>
							</p-loader>
						</p-block>
						<p-block headline="Statistiky a trendy">
							<p-loader :rule="history">
								<div v-if="history">
									<p-grid>
										<template v-for="(el, index) in election_types">
											<div v-if="$elections.past.find(x => x.$volby.typ === el.key) && $elections.past.filter(x => x.$volby.typ === el.key).filter(x => x.$data.$ucast.length === 0).length === 0">
												<p-area>
													<div class="p-offset">
														<div>
															<p-image :src="cdn + 'icon/' + el.hash + '.svg'" :width="4"></p-image>
														</div>
														<div>
															<div class="p-offset reverse">
																<div>
																	<div class="smaller strong">
																		{{ el.name }}
																	</div>
																	<div class="smallest">
																		<p-label color="var(--green)">max {{ Math.max(...($elections.past.filter(x => x.$volby.typ === el.key).map(x => x.$data.$ucast[0].UCAST))) }} %</p-label>
																		<br>
																		<p-label color="var(--red)">min {{ Math.min(...($elections.past.filter(x => x.$volby.typ === el.key).map(x => x.$data.$ucast[0].UCAST))) }} %</p-label>
																	</div>
																</div>
																<div v-if="$elections.past.filter(x => x.$volby.typ === el.key).length > 1">
																	<stats-tiny :data="statsGraph($elections.past.filter(x => x.$volby.typ === el.key))" color="var(--blue)" :inline="true" :width="50"></stats-tiny>
																</div>
															</div>
														</div>
													</div>
													<div class="p-gap_05"></div>
													<table class="smallest" >
														<thead>
															<tr>
																<th>datum</th>
																<th class="text-right">účast</th>
																<th class="text-right" v-if="['PREZ', 'SENAT'].indexOf(el.key) > -1">2. kolo</th>
															</tr>
														</thead>
														<tbody>
															<template v-for="(elp, index) in $elections.past.filter(x => x.$volby.typ === el.key)">
																<tr v-if="index < 2">
																	<td>{{ date(elp.$volby.datum, 3) }}</td>
																	<td class="text-right">{{ elp.$data.$ucast[0].UCAST }} %</td>
																	<td class="text-right" v-if="['PREZ', 'SENAT'].indexOf(el.key) > -1">{{ elp.$data.$ucast.length > 1 ? elp.$data.$ucast[1].UCAST + ' %' : ''}}</td>
																</tr>
															</template>
														</tbody>
													</table>
													<template v-if="$elections.past.filter(x => x.$volby.typ === el.key && x.$volby.radne === 1).length > 2">
														<div class="p-line p-line__0"></div>
														<p-modal>
															<template #init>
																<span class="smallest strong">Všechny volby &middot; {{ $elections.past.filter(x => x.$volby.typ === el.key).length }}</span>
															</template>
															<template #content>
																<div>
																	<strong>{{ el.name }}</strong>
																	<div class="p-gap"></div>
																	<table >
																		<thead>
																			<tr>
																				<th>datum</th>
																				<th class="text-right">účast</th>
																				<th class="text-right" v-if="['PREZ', 'SENAT'].indexOf(el.key) > -1">2. kolo</th>
																			</tr>
																		</thead>
																		<tbody>
																			<template v-for="(elp, index) in $elections.past.filter(x => x.$volby.typ === el.key)">
																				<tr>
																					<td>{{ date(elp.$volby.datum, 3) }}</td>
																					<td class="text-right">{{ elp.$data.$ucast[0].UCAST }} %</td>
																					<td class="text-right" v-if="['PREZ', 'SENAT'].indexOf(el.key) > -1">{{ elp.$data.$ucast.length > 1 ? elp.$data.$ucast[1].UCAST + ' %' : ''}}</td>
																				</tr>
																			</template>
																		</tbody>
																	</table>
																</div>
															</template>
														</p-modal>
													</template>
												</p-area>
											</div>
										</template>
									</p-grid>
								</div>
							</p-loader>
						</p-block>
						<template v-if="about.obvod">
							<p-block :headline="'Obvod ' + about.obvod.OBVOD + ' · ' + about.obvod.NAZEV" anchor="Obce v obvodu" :open="data.cis.obce.length < 32" v-if="data.cis.obce && data.cis.obce.length > 0">
								<map-leaflet ref="map" :options="options" :map_filter="map_filter" :map_style="map_style" :map_onEachFeature="map_onEachFeature"></map-leaflet>
								<p-area>
									<p-collapsible label="Seznam obcí v obvodu" :status="data.cis.obce.length" :borderless="true" :open="data.cis.obce.length < 32">
										<div class="columns-4 smaller">
											<div v-for="town in data.cis.obce">
												<router-link :to="'/obec/' + town.obec" class="is-span">{{ town.NAZEVOBCE }}</router-link>
												
											</div>
										</div>
									</p-collapsible>
								</p-area>
							</p-block>
						</template>
					</div>
				</p-loader>
			</p-block>
		</template>
		<template #anchors>
			<p-logo :data="{logo: cdn + 'icon/senatni-volby.svg'}" :size="'12rem'"></p-logo>
			<div class="p-gap"></div>
			<p-anchors></p-anchors>
		</template>
		<template #aside>				
			<p-loader :rule="data">
				<div v-if="data">
					<h4>
						{{ $core.NAZEV }}
						<div class="smallest">Obvod {{ id }}</div>
					</h4>
					
					<p-list class="smaller" height=".33">
						<div v-if="$meta.find(x => ['social', 'link'].indexOf(x.type) > -1)">
							<p-box-group>

							</p-box-group>
							<template v-for="(item, index) in $meta.filter(x => ['social'].indexOf(x.type) > -1)">
								<p-box :href="item.value">
									<p-box-icon :type="type(item.value)"></p-box-icon>
								</p-box>
							</template>
						</div>
						<div v-if="$elections.past[0].$data.$ucast">
							{{ number($elections.past[0].$data.$ucast[0].VOLICU) }} voličů
							<div class="dimm smallest">ke dni {{ date($elections.past[0].$volby.datum, 3) }}</div>
						</div>
					</p-list>
				</div>
			</p-loader>
			<!-- </p-area> -->
		</template>
	</p-layout-divided>
</div>