footer {
  margin-top: 2em;
  max-width: 160rem;
  margin: auto;

  &:first-child {
    margin-top: 6em;
  }
}

.fixed-content {
  margin: auto;
  max-width: 160rem;
  position: relative;
  border-top: var(--border);
  padding-top: 2em;
}

.row {
  padding: 2rem;
  // max-width: 130rem;
  // margin: auto;
}

p {
  max-width: 70em;
  margin: auto;
  padding: 0 2em;
}

._jac {
  justify-content: center;
}

h4 {
  margin-top: 0;
}

.big {
  font-size: 1.2em;
}