
	<footer>
		<div class="footer---block text-center">
	
			<engagement-thanks class="mt3 _hideOnForbidden"></engagement-thanks>

			<div class="p-line p-line__3"></div>	
	
			<div class="strong mb05">
				<router-link class="is-span big" to="/">Programy do voleb</router-link>
			</div>
			<div class="">
				<p-list-linear class="or smaller">
					<span>
						<router-link class="is-span" to="/o-projektu">O projektu</router-link>
					</span>
					<span>
						<router-link class="is-span" to="/novinky">Novinky</router-link>
					</span>
					<span>
						<router-link class="is-span" to="/o-projektu/kontakty">Kontakty</router-link>
					</span>
					<span>
						<p-link class="is-span" href="https://admin.programydovoleb.cz">Admin</p-link>
					</span>
				</p-list-linear>
			</div>
			
			<div class="p-gap"></div>
	
			<p-box-group class="_jac">
				<template v-for="(item, index) in Object.keys(list)">
					<p-box :href="list[item]">
						<p-box-icon :type="item"></p-box-icon>
					</p-box>
				</template>
				<p-box to="/o-projektu/kontakty#socialni-site">
					<p-box-label class="dimm">a další...</p-box-label>
				</p-box>
			</p-box-group>
	
			<div class="p-gap"></div>
	
			<p class="small">
				Web vytváří a provozuje spolek Programy do voleb, z. s., <p-link href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1126297&typ=PLATNY" title="Spolkový resjtřík">IČO: 10906380</p-link>, L&nbsp;13767 vedený u Krajského soudu v Hradci Králové, datová schránka <em>vhwmpce</em>. Sídlo spolku je na adrese Jana Palacha 1413, Turnov. Transparentní účet je u Fio Banky: <p-link href="https://ib.fio.cz/ib/transparent?a=2502004588">2502004588/2010</p-link>. Web neslouží na podporu žádného kandidáta nebo strany. Ke všem stranám a&nbsp;kandidátům je přistupováno na principu rovnosti a&nbsp;férové politické&nbsp;soutěže. Fotografie kandidátů jsou použité s&nbsp;jejich svolením nebo jejich tiskových oddělení.  Volební číselníky, registry a výsledky vychází z <p-link href="https://www.czso.cz/csu/czso/podminky_pro_vyuzivani_a_dalsi_zverejnovani_statistickych_udaju_csu" content="otevřených dat ČSÚ">otevřených dat ČSÚ</p-link>.
			</p>
	
			<div class="p-gap"></div>
	
			<p class="smaller strong">
				<a href="mailto:info@programydovoleb.cz">info@programydovoleb.cz</a>
			</p>
	
			<div class="p-gap _15"></div>
	
			<p-box-group class="_jac pb2">
				<!-- <p-box to="/o-projektu/jak-podporit">
					<p-box-button color="var(--green)">Podpořit</p-box-button>
				</p-box> -->
				<p-modal> 
					<template #init>
						<p-box>
							<p-box-button color="var(--red)">Nahlásit chybu</p-box-button>
						</p-box>
					</template>
					<template #content>
						<h3>Našli jste chybu? Nebo chcete něco doplnit?</h3>
						<report-form part="Hlášení chyby" :noLink="true"></report-form>
						<div class="p-line"></div>
						<p>Můžete také napsat na <p-link href="mailto:opravte@programydovoleb.cz">opravte@programydovoleb.cz</p-link></p>
					</template>
				</p-modal>
			</p-box-group>
		</div>
	</footer>
