<div class="p-layout" :class="{'p-layout---no-aside': !$slots.aside}">
	<main class="p-layout---main" ref="main">
		<article class="p-layout---main-limit" v-if="isHuman">
			<slot name="main" />
		</article>
		<article class="p-layout---main-limit" v-else>
			<p-block :level="1" :headline="getPageData().title" anchor="Omezená data" class="text-center">
				<p v-if="getPageData().description" v-html="getPageData().description"></p>
				<p>Pokud hledáte ověřené a lidmi zadávané a kontrolované původní údaje a odpovědi k volbám minulým i nadcházejícím, jděte na web <a href="https://programydovoleb.cz">programydovoleb.cz</a></p>
				<p>Politika je velmi citlivé téma, záleží na každém slovu. Není možné věřit umělé inteligenci, která data ukradne a pak si je nějak náhodně přepíše, aby to vypadalo jako od člověka, ale aniž by za to byl kdokoli zodpovědný.</p>
				<div class="p-line mt3"></div>
				<h2 class="pv1">Přístup pouze pro lidi <div class="smaller">a eticky fungující firmy</div></h2>
				<p>K této stránce je možný přístup pouze lidem a firmám poskytujícím férovou kompenzaci.</p>
				<p>Roboti, umělá inteligence, slídiči nebo jiní, kteří kradou data, používají je svým jménem, podepisují změněný obsah jménem projektu a ničí tak jeho reputaci, kteří nadbytečně zatěžují systémy, kteří nepřináší žádné výhody, nejsou na této stránce povoleni ani vítáni.</p>
				<p>Práce na této stránce vyžaduje tisíce hodin práce dobrovolníků, kteří za to nemají nijak zaplaceno. Není etické, aby přišla náhodná firma s milionovými či miliardovámi obraty, vykradla data a prezentovala jejich práci jako vlastní. Nebo aby se firma ani neobtěžovala uvést zdroj.</p>
				<p>Pokud máte zájem o přístup k datům, kontaktujte správce:</p>
				<p><a href="mailto:info@programydovoleb.cz" class="strong">info@programydovoleb.cz</a></p>
				<p>Domluvíme se na férové kompenzaci.</p>
			</p-block>			
		</article>
	</main>
	<aside class="p-layout---aside" ref="aside" :class="{keep: keep && keep.indexOf('aside') > -1}" v-if="isHuman">
		<div class="p-layout---aside-holder" :style="{transform: 'translateY(' + offset.aside + 'px)'}">
			<slot name="aside" />
		</div>
	</aside>
	<nav class="p-layout---nav" ref="nav" :class="{}" v-if="isHuman">
		<div class="p-layout---aside-holder"  :style="{transform: 'translateY(' + offset.nav + 'px)'}">
			<div class="p-layout---nav-icon" v-if="$slots.icon">
				<slot name="icon" />
				<div class="p-gap"></div>
			</div>
			<div class="p-layout---nav-local">
				<slot name="anchors" />
				<div class="p-gap"></div>
			</div>
			<div class="p-layout---nav-main">
				<slot name="nav" />
			</div>
			<div class="">
				<div class="p-line"></div>
				<p-modal>
					<template #init>
						<span class="strong smaller">Sdílet tuto stránku</span>
					</template>
					<template #content>
						<h3>Sdílejte tuto stránku</h3>
						<p-share></p-share>
					</template>
				</p-modal>
			</div>
			<div class="_report">
				<p-modal> 
					<template #init>
						<span class="red strong smaller">Nahlásit chybu</span>
					</template>
					<template #content>
						<h3>Našli jste chybu? Nebo chcete něco doplnit?</h3>
						<report-form part="Hlášení chyby" :noLink="true"></report-form>
						<div class="p-line"></div>
						<p>Můžete také napsat na <p-link href="mailto:opravte@programydovoleb.cz">opravte@programydovoleb.cz</p-link></p>
					</template>
				</p-modal>
			</div>
			<!-- <div class="p-line"></div>
			<p-box-group>
				<p-box to="/o-projektu/jak-podporit">
					<p-box-button logo="darujme.png" class="_w" color="var(--green)">Podpořit</p-box-button>
				</p-box>
			</p-box-group> -->
		</div>
	</nav>
</div>
